Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

add a hack to handle EnableDeputyPauseModuleTemplate regression test failure
  src/improvements/tasks/MultisigTask.sol
  test/registry/SimpleAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add the context to the workflow
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

debug:I don't know what I'm doing
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

debug: let's try at least to show the errors properly
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: display the output also on failure
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: did I have template_regression_tests twice in config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: shellcheck
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: maybe?
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix ci
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: silence logging
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: display the URL
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: the foundation safe biulds the domain separator differently from other safes
  script/CalculateSafeHashes.s.sol
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: what now?
  script/CalculateSafeHashes.s.sol
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add the Upgrade 12 runbook for OP Mainnet (#712)
  .circleci/config.yml
  tasks/eth/031-op-mainnet-pectra-defense/.env
  tasks/eth/031-op-mainnet-pectra-defense/NestedSignFromJson.s.sol
  tasks/eth/031-op-mainnet-pectra-defense/README.md
  tasks/eth/031-op-mainnet-pectra-defense/VALIDATION.md
  tasks/eth/031-op-mainnet-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: templateSetup fix
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update .circleci/config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

task 031 ready to sign
  tasks/eth/031-op-mainnet-pectra-defense/README.md
Owners: @ethereum-optimism/evm-safety

Adding initial files
  tasks/sep/ink-003-init-bond-and-asr/.env
  tasks/sep/ink-003-init-bond-and-asr/NestedSignFromJson.s.sol
  tasks/sep/ink-003-init-bond-and-asr/README.md
  tasks/sep/ink-003-init-bond-and-asr/VALIDATION.md
  tasks/sep/ink-003-init-bond-and-asr/input.json
  tasks/sep/ink-004-enable-permissionless-game/.env
  tasks/sep/ink-004-enable-permissionless-game/README.md
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s copy.sol
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s.sol
  tasks/sep/ink-004-enable-permissionless-game/ink.toml
  tasks/sep/ink-004-enable-permissionless-game/input.json
  tasks/sep/ink-004-enable-permissionless-game/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add caution in validation
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Improve the nested-validation with new safes.
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: not all invocations of OPCM will have a state change in isRC.
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix uni nonce and validation file w overrides
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

remove line
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

move things around
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

tick readme boxes
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

swap override and changes
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Improve the nested-validation with new safes. (#725)
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
