Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

update status
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

remove stale code
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: fixed bug in simulation of tasks.
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Tweak formatting, add punctuation
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: Sony message hash
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Apply suggestions from code review
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: Sony message hash (#682)
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

cannon: Add prestate validation instructions (#673)
  validation/PRESTATE-VALIDATION.md
  validation/README.md
Owners: @ethereum-optimism/evm-safety

Add simulation to CI + .gitignore the broadcast tx into anvil.
  .circleci/config.yml
  .gitignore
Owners: @ethereum-optimism/evm-safety

nit space
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

typo fix
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix:ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix:ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/example/README.md
  src/improvements/tasks/example/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments.
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment clearer.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the broadcast on sepolia also.
  .gitignore
Owners: @ethereum-optimism/evm-safety

fix: fixed bug in simulation of tasks. (#681)
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add fork block number to commented cli command
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Refactor regression tests (#676)
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix the simulation for sepolia
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add also the single broadcast alongs with the nested txs.
  .gitignore
Owners: @ethereum-optimism/evm-safety

chore: fix the script for integration with sepolia and make sure the .env are correct
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: https://github.com/ethereum-optimism/superchain-ops/issues/646 to finally setup something that fetch the PID.
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: just ignore all the broadcast tx is better since there is no need to push them.
  .gitignore
Owners: @ethereum-optimism/evm-safety

executed ink-001
  .circleci/config.yml
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

executed ink-001 (#685)
  .circleci/config.yml
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

pulling out ink-004 to put in a diff pr
  .circleci/config.yml
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
  tasks/eth/ink-004-holocene-system-config-upgrade/.env
  tasks/eth/ink-004-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
  tasks/eth/ink-004-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

fixing ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

updating README
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update script/utils/sim-sequence.sh
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

adding ink-004 back
  .circleci/config.yml
  tasks/eth/ink-004-holocene-system-config-upgrade/.env
  tasks/eth/ink-004-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
  tasks/eth/ink-004-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

[SIMULATION] Sequence Superchain Version Sync Tasks (#683)
  .circleci/config.yml
  .gitignore
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: add chain-governor support
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: bug with nested files
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: add _deployAddressRegistry method
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(wip): make _taskSetup more generic
  src/improvements/AddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: enforce task numbering in CI
  .circleci/config.yml
  script/utils/check-task-numbering.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update 030-soneium to executed
  tasks/eth/030-soneium-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
