Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Adding initial files
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/env
  tasks/sep/metal-002-fp-upgrade/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Updating env with safe nonces and message hashes
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Add cursor rules for runbook creation and general ops repo guidance
  .cursor/rules/runbook-creation-process.mdc
  .cursor/rules/superchain-ops-structure.mdc
  .cursor/rules/validation-file-linking.mdc
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

doc: clarifications
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mode Sepolia to permissioned FPs (#953)
  .circleci/config.yml
  tasks/sep/mode-002-fp-upgrade/.env
  tasks/sep/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/mode-002-fp-upgrade/README.md
  tasks/sep/mode-002-fp-upgrade/VALIDATION.md
  tasks/sep/mode-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Metal Sepolia to permissioned FPs fix (#1038)
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: add GnosisSafeApproveHash template (#1029)
  src/improvements/addresses.toml
  src/improvements/justfile
  src/improvements/script/get-safe.sh
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/template/GnosisSafeApproveHash.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: create MultisigTypes library
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: change team tag that gets notified
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

refactor: create MultisigTypes library (#1039)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: change team tag that gets notified (#1040)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update link to standard prestates
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

prevmodule fixes
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/config.toml
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add task
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/.env
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/README.md
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/VALIDATION.md
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Allow L1PAO to transfer weth contracts it is not the owner() of
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

initial task scaffolding
  src/improvements/addresses.toml
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/.env
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/README.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: support xxx-y numbering convention for tasks
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

update safeTxHash
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update readme and validations
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/README.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: allow xxx-y style numbering in CI check
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: addressing pr comments, adding state overrides, choosing correct safe tx hash for approve hash task, adding in additional safety checks for hash checking and some misc improvements.
  src/improvements/README.md
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/template/GnosisSafeApproveHash.sol
  src/libraries/AccountAccessParser.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update .env
  tasks/eth/metal-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update .env
  tasks/eth/mode-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update CI and Readme
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/eth/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Fix readmes status
  tasks/eth/mode-002-fp-upgrade/README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Include previous task CI check
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety
