Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: added absolute prestate
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mainnet OPCM v2.0.0: base
  src/improvements/tasks/eth/001-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updated validations and config.toml
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mainnet OPCM v2.0.0: op, soneium, ink
  src/improvements/tasks/eth/000-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added calldata and state diffs along with tenderly link
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added calldata for unichain mainnet
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added absolute prestate
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: calldata updated
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mainnet OPCM v2.0.0: unichain
  src/improvements/tasks/eth/002-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: calldata updated
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updated validations and config.toml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test: include README and VALIDATIONS to test functionality
  src/improvements/tasks/example/eth/000-gas-config-template/README.md
  src/improvements/tasks/example/eth/000-gas-config-template/VALIDATIONS.md
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/VALIDATIONS.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: documented state and prupose of new just commands
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: explain CalculateSafeHashes
  script/CalculateSafeHashes.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: explain just command parameters
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove Unnecessary Tasks (#735)
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/example/eth/000-gas-config-template/README.md
  src/improvements/tasks/example/eth/000-gas-config-template/config.toml
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/README.md
  src/improvements/tasks/example/eth/002-set-game-type-template/.env
  src/improvements/tasks/example/eth/002-set-game-type-template/README.md
  src/improvements/tasks/example/eth/002-set-game-type-template/config.toml
  src/improvements/tasks/example/eth/003-transfer-owner-template/.env
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/example/README.md
  test/tasks/example/eth/003-transfer-owner-template/.env
  test/tasks/example/eth/003-transfer-owner-template/README.md
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/sep/001-enable-deputy-pause-module/README.md
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/configs/DisputeGameUpgradeCodeException.toml
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: OPCM Upgrade 13
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/.env
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding warning if addr isn't found for chain
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not all invocations of OPCM will have a state change in isRC.
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing errors
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits from pr.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments addressed.
  mise.toml
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: forge fmt
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing junk files
  0x1bee29a54a1830b78a22dbd9ddc79778577271431bf6aaad8240722efa43418d.toml
  0x21edb977c52c331b8c288ac553e1b5a546e24cdf36ed78aaff6505c86280d61a.toml
  0x3284ea525bb8c7a23a7f5284cd4d8c0fe5468cf74350c14c5a82b0ee3be9da19.toml
  0x6330cf8aa73ae04c5a1ea591148be69f1cc134b01bc28f62cbdedaa104690bc9.toml
  0x7ca805de0b3f222f010ec477392485e332dd7acd7e2e4c1c543fae8fe8771a04.toml
  0x8abbd35166446ad0cc07715e4e2e9292aee19f1fadb937d9aa77faeb5fb84692.toml
  0x91cbaf9b3adb81fa976138891446233af7010cfada8da0179b89e93016242469.toml
  0xe9bdc4751a50e69f5b33030f534e8dad44468a505906897f3666d6c4a9f08c37.toml
Owners: @ethereum-optimism/evm-safety

fix: starting prank with forge
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments
  src/improvements/template/OPCMUpgradeV200.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make internal state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make internal state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing build
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small fix for unique writes.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: we allow storage writes to any newly created contracts.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make public state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: task storage writes not takes config file.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: eip-150 protection.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
