Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: all tests fixed.
  src/improvements/template/FinanceTemplate.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: add clarity around new and old system
  README.md
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: typo fix.
  README.md
Owners: @ethereum-optimism/evm-safety

docs: add clarity around new and old system (#951)
  README.md
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: add a progress bar
  tui/main.go
Owners: @ethereum-optimism/evm-safety

fix: Consolidate simulate command.
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove old simulate commands.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Adding initial files
  tasks/eth/metal-002-fp-upgrade/.env
  tasks/eth/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/metal-002-fp-upgrade/README.md
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
  tasks/eth/metal-002-fp-upgrade/input.json
  tasks/eth/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/evm-safety

Adding initial files
  tasks/eth/mode-002-fp-upgrade/.env
  tasks/eth/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/mode-002-fp-upgrade/README.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/input.json
  tasks/eth/mode-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/evm-safety

Adding initial files
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/input.json
  tasks/sep/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Adding initial files
  tasks/sep/mode-002-fp-upgrade/.env
  tasks/sep/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/mode-002-fp-upgrade/README.md
  tasks/sep/mode-002-fp-upgrade/VALIDATION.md
  tasks/sep/mode-002-fp-upgrade/input.json
  tasks/sep/mode-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: fix simulate all tasks.
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: command not found (pwd)
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: passing through .env file.
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

interop-betanet: asr initialize
  tasks/sep/interop-betanet-asr/.env
  tasks/sep/interop-betanet-asr/SignFromJson.s.sol
  tasks/sep/interop-betanet-asr/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

cicle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

non vetoed by citizenhouse
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: Ceremony feedback
  src/improvements/addresses.toml
  src/improvements/tasks/eth/011-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Ceremony feedback (#958)
  src/improvements/addresses.toml
  src/improvements/tasks/eth/011-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Updating files pt.1
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: Update Execution statuses for tasks.
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/eth/008-gas-params-op/README.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: revert just files.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: simulate added back in
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

sync to arena-z w mods
  tasks/eth/swell-001-holocene-upgrade/.env
  tasks/eth/swell-001-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: Update Execution statuses for tasks. (#959)
  src/improvements/tasks/eth/008-gas-params-op/README.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

start stage 1 template
  src/improvements/template/OPCMStage1.sol
  test/tasks/example/sep/008-opcm-upgrade-stage1/.env
  test/tasks/example/sep/008-opcm-upgrade-stage1/README.md
  test/tasks/example/sep/008-opcm-upgrade-stage1/VALIDATION.md
  test/tasks/example/sep/008-opcm-upgrade-stage1/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update files pt.1
  tasks/sep/mode-002-fp-upgrade/.env
  tasks/sep/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update files pt.1
  tasks/eth/mode-002-fp-upgrade/.env
  tasks/eth/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update files pt.1
  tasks/eth/metal-002-fp-upgrade/.env
  tasks/eth/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

feat: ensure signer is owner on safe before signing
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/TaskManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added tests
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety

Update README
  tasks/eth/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: ensure signer is owner on safe before signing (#961)
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/TaskManager.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove sim wo ledger
  tasks/eth/swell-001-holocene-upgrade/.env
Owners: @ethereum-optimism/evm-safety

sep: Add convenient reset ASR task
  tasks/sep/devnet-reset-asr/.env
  tasks/sep/devnet-reset-asr/README.md
  tasks/sep/devnet-reset-asr/SignFromJson.s.sol
  tasks/sep/devnet-reset-asr/asr_initialize.s.sol
  tasks/sep/devnet-reset-asr/generate_input.sh
  tasks/sep/devnet-reset-asr/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove unused multicall
  tasks/sep/devnet-reset-asr/asr_initialize.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update files
  tasks/sep/mode-002-fp-upgrade/.env
  tasks/sep/mode-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
