Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

test decimal normalization logic
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/evm-safety

remove decimal utils
  src/libraries/DecimalUtils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

move StringParser tests to separate file
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/evm-safety

add string parser library tests
  test/libraries/StringParser.t.sol
Owners: @ethereum-optimism/evm-safety

fmt
  src/improvements/template/FinanceTemplate.sol
  src/libraries/StringParser.sol
  test/libraries/DecimalNormalization.t.sol
  test/tasks/mock/MockDecimalNormalization.sol
  test/tasks/mock/MockStringParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

make testParseAmountComponents view
  test/libraries/StringParser.t.sol
Owners: @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

address feedback, move usage to example section
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Copy 032 to 033 and update for U12a (#763)
  .circleci/config.yml
  tasks/sep/033-op-pectra-defense/.env
  tasks/sep/033-op-pectra-defense/NestedSignFromJson.s.sol
  tasks/sep/033-op-pectra-defense/README.md
  tasks/sep/033-op-pectra-defense/VALIDATION.md
  tasks/sep/033-op-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix readme
  NESTED.md
  SINGLE.md
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix readme
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  src/improvements/doc/CALLDATA_DIFFERENCE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  src/improvements/doc/CALLDATA_DIFFERENCE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

simplify, it's no more a breaking change
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
  src/improvements/doc/CALLDATA_DIFFERENCE.md
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/simulate-task.sh
  src/improvements/script/simulate-verify-task.sh
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

reduce diff
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add natspec for outputOPVerifyInputToFile
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: allow multiple signers in VALIDATIONS.md
  src/improvements/justfile
  src/improvements/script/verify-hashes-local.sh
  src/improvements/script/verify-hashes-tenderly.sh
  test/tasks/example/eth/003-transfer-owner-template/VALIDATIONS.md
  test/tasks/example/sep/001-enable-deputy-pause-module/VALIDATIONS.md
  test/tasks/example/sep/002-opcm-upgrade-v200/VALIDATIONS.md
  test/tasks/example/sep/005-test-finance-operation/VALIDATIONS.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: less local files, better error control
  src/improvements/justfile
  src/improvements/script/verify-hashes-local.sh
  src/improvements/script/verify-hashes-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add getMulticall3Calldata function that only returns calldata
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename Multicall3NoCheck to Multicall3NoValueCheck
  src/Multicall3NoValueCheck.sol
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bug: discrepancies between VALIDATIONS.md and tenderly
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

address pr feedback for new multicall3 contract
  src/Multicall3NoValueCheck.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Restore the original U12 runbook
  tasks/sep/032-op-pectra-defence/.env
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/README.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
  tasks/sep/032-op-pectra-defence/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

use snake case for op verify inputs json folder, fix readme
  .gitignore
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: clearer about what NOT IN TRACE MEANS
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: I must have read the wrong line
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md (#767)
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

amounts changed to strings
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

Finance Template Documentation (#761)
  src/improvements/doc/FINANCE_TEMPLATE.md
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bubble up return data
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add tests for Multicall3NoValueCheckTest
  test/multicall/Multicall3NoValueCheck.t.sol
  test/multicall/mocks/EtherSink.sol
  test/multicall/mocks/MockCallee.sol
Owners: @ethereum-optimism/evm-safety

add task storage writes in finance template
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
