Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: mark unichain/base as executed for eth U13/sep U14 respectively (#882)
  .circleci/config.yml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: added natspec to explain the build function.
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added fuzz test for valid conditions.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better comments
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

empty readme
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Paste in unedited state diff output
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add 010 runbook for base u15
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/README.md
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.toml
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove OPCMUpgradePrestate
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/config.toml
  src/improvements/template/OPCMUpgradePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

copy content from 006
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/.env
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/README.md
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/VALIDATION.md
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update calldata section in validations
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add links and details
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

wip
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

move to 011 dir
  src/improvements/tasks/sep/010-opcm-upgrade-prestate-v300-base/README.md
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/.env
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/README.md
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove console lib.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

add to CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Address feedback on config.toml and early part of Validation.md
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update error string without pause
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add child safe nonce changes
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix message hash and upgrade link
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update error strings
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix new DisputeGame addresses
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

make necessary changes for running U14 upgrade on unichain alphanet
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/sep/unichain_alphanet_addresses.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add readme
  .circleci/config.yml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/.env
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/VALIDATION.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
  src/improvements/tasks/sep/011-opcm-upgrade-prestate-v300-base/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Update Foundry dependency to include fix from Foundry PR #10069 (#877)
  mise.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fixing config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit need to merge another pr
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: U15 Sepolia - Unichain
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: merge conflicts
  .circleci/config.yml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: reduce the tenderly gas
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: todos added to the code.
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

uni u14 executed
  .circleci/config.yml
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

uni u14 executed (#883)
  .circleci/config.yml
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

ignore success status of call
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: U15 Sepolia - Base (#873)
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/.env
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/VALIDATION.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added error messages after unichain u14 execution.
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: merged with main
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Speed up CI by making regression tests use local SCR
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: env var equality check
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing logic.
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
