Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: review from maurelian
  src/improvements/tasks/eth/007-delayedweth-xfer/.env
  src/improvements/tasks/eth/007-delayedweth-xfer/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add task for DelayedWETH ownership xfer (#908)
  .circleci/config.yml
  src/improvements/tasks/eth/007-delayedweth-xfer/README.md
  src/improvements/tasks/eth/007-delayedweth-xfer/VALIDATION.md
  src/improvements/tasks/eth/007-delayedweth-xfer/config.toml
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/007-delayedweth-xfer/README.md
  test/tasks/example/eth/007-delayedweth-xfer/config.toml
  test/tasks/mock/configs/DelayedWETHOwnershipTemplate.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Bug in AccountAccessParser resolved
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit adding in comments.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Bug in AccountAccessParser resolved (#938)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix old tasks.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add validation (WIP)
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

finish uni validation
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

eth/008: Isthmus OPCM.updatePrestate for Unichain
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

eth/007: Isthmus OPCM.updatePrestate for OPM and Ink
  NESTED-VALIDATION.md
  src/improvements/tasks/eth/007-opcm-update-prestate-v300-op+ink/.env
  src/improvements/tasks/eth/007-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/007-opcm-update-prestate-v300-op+ink/VALIDATION.md
  src/improvements/tasks/eth/007-opcm-update-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Docs updated
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: readme
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: readme
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: eg template name
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more infor on step 4
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Better UX for safe addresses (#926)
  script/utils/sim-sequence.sh
  src/improvements/README.md
  src/improvements/addresses.toml
  src/improvements/script/get-safe.sh
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/eth/006-gas-params-op/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/eth/006-system-config-gas-params/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: mark delayedweth xfer as executed
  .circleci/config.yml
  src/improvements/tasks/eth/007-delayedweth-xfer/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: add fork block number to template example
  test/tasks/example/eth/007-delayedweth-xfer/.env
Owners: @ethereum-optimism/evm-safety

chore: mark delayedweth xfer as executed (#939)
  .circleci/config.yml
  src/improvements/tasks/eth/007-delayedweth-xfer/README.md
  test/tasks/example/eth/007-delayedweth-xfer/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fixing simulation
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/.env
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/VALIDATION.md
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixed simulation
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: readme update
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: README.md update for stacked simulation inclusion.
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove sim seq which is failing from main.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: tui
  go.mod
  go.sum
  tui/data.go
  tui/main.go
  tui/validation.json
Owners: @ethereum-optimism/evm-safety

chore: change directory
  src/improvements/tasks/eth/008-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/008-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the validation
  src/improvements/tasks/eth/008-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove the full checks of the safes
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add in ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

re-add few checks
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove 007
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix the nonces
  src/improvements/tasks/eth/008-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix toml
  src/improvements/tasks/eth/008-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the validation file
  src/improvements/tasks/eth/008-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: push 009 superchain config
  src/improvements/tasks/eth/009-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/009-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the CI Tests for the task 009
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: rename from 008 -> 010
  src/improvements/tasks/eth/010-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/010-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/010-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename from 009 -> 011.
  src/improvements/tasks/eth/011-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/011-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/011-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the new name
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety
