Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: remove comment
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: rehearsal instructions updated.
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: Remove sim seq + misc fixes
  .circleci/config.yml
  SIMULATE_SEQ.md
  script/utils/sim-sequence.sh
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: nit comment
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit comment
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetRespectedGameTypeTemplate.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove U13>U16
  src/improvements/template/U13_to_U16.sol
  test/tasks/example/sep/019-u13-to-u16/.env
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Set fallbackAddressesJsonPath to actual task path
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: network fix.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small cosmetic fixes.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rehearsal 3 playbook for July 2025 onboarding (#1155)
  security-council-rehearsals/rehearsal-3-nested-upgrade/.env
  src/improvements/justfile
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/.env
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/addresses.json
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/config.toml
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

docs: small update to README.md
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nonce fix
  src/improvements/tasks/sep/019-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: message hash and normalized hash update.
  src/improvements/tasks/sep/019-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Worldchain nonce fix - sepolia (#1159)
  src/improvements/tasks/sep/019-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/019-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: update rehearsal three - 2025
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: small docs updates
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: update rehearsal three - 2025 (#1160)
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
  src/improvements/README.md
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Remove Sim Seq + Misc fixes (#1156)
  .circleci/config.yml
  SIMULATE_SEQ.md
  script/utils/sim-sequence.sh
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove comment
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(multisigtask): small optimization (#1145)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(retries): Intermittent failures slowing down dev workflow, implement retries for forge scripts
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(ci): CI config cleaned up.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: undo formatting
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: remove nonce overrides job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: move around scripts.
  justfile
  script/utils/check-nonce-overrides.sh
  src/improvements/script/check-task-statuses.sh
  src/improvements/script/compareGames.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

refactor(psp): remove PSP docs and code
  PRESIGNED-PAUSE.md
  presigned-pause.just
  script/PresignPauseFromJson.s.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

refactor(psp): remove PSP docs and code (#1165)
  PRESIGNED-PAUSE.md
  presigned-pause.just
  script/PresignPauseFromJson.s.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Adding accurate forge coverage command
  justfile
Owners: @ethereum-optimism/evm-safety

fix: using forge coverage based on foundry.toml config.
  foundry.toml
  justfile
Owners: @ethereum-optimism/evm-safety

fix: Adding accurate forge coverage command (#1124)
  foundry.toml
Owners: @ethereum-optimism/evm-safety

coverage(test): Increasing test coverage across the board.
  src/improvements/ci.just
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/config.toml
  test/Multicall3Delegatecall.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove unnecessary comments.
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: revert testing code.
  src/improvements/ci.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: rever
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: more unit tests for GnosisSafeHashes and Utils.
  test/libraries/GnosisSafeHashes.t.sol
  test/libraries/Utils.t.sol
Owners: @ethereum-optimism/evm-safety

fix: cleaning up unused templates that aren't maintained.
  .gitignore
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/StackedSimulator.sol
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/OPCMTaskBase.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/MockSetEIP1967ImplTask.sol
  test/tasks/mock/configs/DelayedWETHOwnershipTemplate.toml
  test/tasks/mock/configs/DisputeGameUpgradeCodeException.toml
  test/tasks/mock/configs/MockDisputeGameUpgradesToEOA.toml
  test/tasks/mock/configs/NestedMultisigDisputeGameUpgradeTemplate.toml
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: GnosisSafehashes test
  test/libraries/GnosisSafeHashes.t.sol
Owners: @ethereum-optimism/evm-safety

fix: M
  src/improvements/tasks/TaskManager.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/Regression.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
