Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

more refactoring
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/MultisigTaskPrinter.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove title natspec
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused code
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: unichain sepolia L1 ownership transfers (#993)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix regression and change OPCM and configs
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/.env
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bump gas
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

toml fmt
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

error comments & nits
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

start eris betanet tasks
  src/improvements/tasks/sep/017-opcm-upgrade-v400-eris/.env
  src/improvements/tasks/sep/017-opcm-upgrade-v400-eris/README.md
  src/improvements/tasks/sep/017-opcm-upgrade-v400-eris/VALIDATION.md
  src/improvements/tasks/sep/017-opcm-upgrade-v400-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

U16 Sepolia Tasks (#988)
  README.md
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/OPCMUpgradeV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fixes
  src/libraries/MultisigTaskPrinter.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bump gas
  src/improvements/tasks/sep/017-opcm-upgrade-v400-eris/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more robust with StdStorage
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

scr and resource class
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

scr and resource class (#1010)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Enable an override of SIGNING_MODE_IN_PROGRESS to print state diff via stackedsim
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Enable an override of SIGNING_MODE_IN_PROGRESS to print state diff via stackedsim (#1011)
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: MultisigTaskPrinter (#1006)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/MultisigTaskPrinter.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add u16 to task names
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add u16 to task names (#1012)
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

base-u16
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename base sep 016 to include u16 name
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename base sep 016 to include u16 name (#1013)
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: remove optimism portal resource params state diff for normalization hash
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

eris betanet temp
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
  src/improvements/tasks/sep/013-u16-remove-dpm-eris/.env
  src/improvements/tasks/sep/013-u16-remove-dpm-eris/README.md
  src/improvements/tasks/sep/013-u16-remove-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/013-u16-remove-dpm-eris/config.toml
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/014-u16-opcm-upgrade-v400-eris/.env
  src/improvements/tasks/sep/014-u16-opcm-upgrade-v400-eris/README.md
  src/improvements/tasks/sep/014-u16-opcm-upgrade-v400-eris/VALIDATION.md
  src/improvements/tasks/sep/014-u16-opcm-upgrade-v400-eris/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/.env
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/README.md
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/016-u16-remove-dgm-eris/.env
  src/improvements/tasks/sep/016-u16-remove-dgm-eris/README.md
  src/improvements/tasks/sep/016-u16-remove-dgm-eris/VALIDATION.md
  src/improvements/tasks/sep/016-u16-remove-dgm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

reorder
  src/improvements/tasks/sep/013-u16-enable-dpm-eris/.env
  src/improvements/tasks/sep/013-u16-enable-dpm-eris/README.md
  src/improvements/tasks/sep/013-u16-enable-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/013-u16-enable-dpm-eris/config.toml
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/README.md
  src/improvements/tasks/sep/015-u16-enable-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/015-u16-remove-dpm-eris/.env
  src/improvements/tasks/sep/015-u16-remove-dpm-eris/README.md
  src/improvements/tasks/sep/015-u16-remove-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/015-u16-remove-dpm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

do not merge: code to allow grabbing writes for config.toml state overrides
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: simplified implementation
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add Safe version for op-txverify
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small tweaks required for nested multisigs
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small tweaks required for nested multisigs (#1017)
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit fix
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add docs on how to support base's extra level of nesting
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit graphite comment
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

feat: remove optimism portal resource params state diff for normalization hash (#1014)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Tenderly sims fix
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Tenderly sims fix (#1019)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
