Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

address Solomon's feedback, add implementation to checkStateDiff, add function isLikelyAddressThatShouldHaveCode and getCodeExceptions
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove checkStateDiff override
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

simplify calls to simulateRun
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

remove build warning flags
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

rollback changes to simulateRun function call
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

signFromChildMultisig call to simulateRun does not pass empty sig param
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Justfile Improvements (#603)
  src/improvements/nested.just
  src/improvements/script/get-rpc-url.sh
  src/improvements/single.just
  src/improvements/tasks/example/eth/000-initial-example-task/README.md
  src/improvements/tasks/example/eth/000-initial-example-task/config.toml
  src/improvements/tasks/example/eth/001-initial-example-dg-upgrade/.env
  src/improvements/tasks/example/eth/001-initial-example-dg-upgrade/README.md
  src/improvements/tasks/example/eth/001-initial-example-dg-upgrade/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

use MultisigTask file instead of ITask
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

roll back simulateRun function call to previous version
  src/improvements/doc/CALLDATA_DIFFERENCE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove empty signature param to simulateRun function call
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

remove unused imports
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update natspec
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

improve comments
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

simplify executeRun function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: code cleanup (#612)
  src/improvements/AddressRegistry.sol
  src/improvements/IAddressRegistry.sol
  src/improvements/tasks/ITask.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/Runner.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/libraries/StateDiffProcessor.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add opcm specific validations
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: autogenerate decoded state diffs for validations (#607)
  src/libraries/StateDiffDecoder.sol
  tasks/sep/zora-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: verbose logging on monorepo-integration-tests with rerun
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: rerun on failure.
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: verbose logging on monorepo-integration-tests with rerun (#615)
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add getCodeExceptions
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix mock multisig task, add getCodeExceptions
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety

initial AccountAccessParser
  src/libraries/AccountAccessParser.sol
  tasks/sep/zora-002-fp-upgrade/NestedSignFromJson.s.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add eth/erc20 transfer decoding
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

cleanup
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more cleanup
  src/libraries/AccountAccessParser.sol
  src/libraries/StateDiffProcessor.sol
  tasks/sep/zora-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add ProxyOwner addr slot, rename ETHER to match Constants.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

make logs match MultisigTask.sol and add checks for empty arrays
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

small perf and test UX improvements
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add mock dispute game upgrade config toml file with EOA address
  test/tasks/mock/configs/MockDisputeGameUpgradesToEOA.toml
Owners: @ethereum-optimism/evm-safety

add MockDisputeGameTask with getCodeExceptions implementation
  test/tasks/mock/MockDisputeGameTask.sol
Owners: @ethereum-optimism/evm-safety

organize imports
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

add tests for getCodeException function
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix pragma, add natspec
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: support reverts
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test: add numbering for easier debugging
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

feat: minimal changes for foundry 1.0.0
  mise.toml
  test/libraries/BytecodeComparison.t.sol
Owners: @ethereum-optimism/evm-safety

chore: more readable tests
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety
