Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: r4 job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: using foundry profiles.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: forge_Test
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: forge_Test
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile fix.
  foundry.toml
Owners: @ethereum-optimism/evm-safety

fix: using internal rpc urls for forge test (#629)
  .circleci/config.yml
  foundry.toml
Owners: @ethereum-optimism/evm-safety

fix: some tasks need sepolia env var.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: pr comments
  .circleci/config.yml
  foundry.toml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: forge_Test
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: syntax error
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: r4 job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: use ci rpc urls in monorepo integration tests
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: using foundry profiles.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile fix.
  foundry.toml
Owners: @ethereum-optimism/evm-safety

fix: forge_Test
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: foundry profile.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: removed commented out code.
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Use foundry profile for monorepo integration tests
  .circleci/config.yml
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove ETH_RPC_URL
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove console.
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: debugging.
  foundry.toml
  src/improvements/justfile
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add in bytecode comparisons with absoluteprestate checks and challengers in permissioneddisputegame
  tasks/sep/unichain-002-petra-l1-upgrade/.env
  tasks/sep/unichain-002-petra-l1-upgrade/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

delete nested
  tasks/sep/unichain-002-petra-l1-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: try again
  foundry.toml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: nits.
  .circleci/config.yml
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

remove excess control flow
  tasks/sep/unichain-002-petra-l1-upgrade/.env
  tasks/sep/unichain-002-petra-l1-upgrade/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: Use foundry profile for monorepo integration tests (#632)
  foundry.toml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: added get code exceptions to template.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: foundry profile ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety
