Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: better task creation
  src/improvements/README.md
  src/improvements/script/create-task.sh
  src/improvements/template/boilerplate/README.template.md
  src/improvements/template/boilerplate/VALIDATION.template.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit on markdown formatting.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better error message.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not including boilerplate fir
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: type
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: instructions for interactive create new task command.
  src/improvements/README.md
  src/improvements/template/boilerplate/README.template.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added more docs
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing broken pipeline
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: installation steps & general improvements (#963)
  CONTRIBUTING.md
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/script/create-task.sh
  src/improvements/script/install-mise.sh
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/boilerplate/README.template.md
  src/improvements/template/boilerplate/VALIDATION.template.md
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

docs: mise install additions
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small typo
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: disclaimer
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: mise install additions (#970)
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updated approach to use separate templates.
  src/improvements/script/create-template.sh
  src/improvements/template/TransferL1PAO.sol
  src/improvements/template/TransferL2PAO.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/003-transfer-l1pao/.env
  test/tasks/example/eth/003-transfer-l1pao/README.md
  test/tasks/example/eth/003-transfer-l1pao/VALIDATION.md
  test/tasks/example/eth/003-transfer-l1pao/config.toml
  test/tasks/example/eth/003-transfer-owner-template/.env
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/eth/008-transfer-l2pao/.env
  test/tasks/example/eth/008-transfer-l2pao/README.md
  test/tasks/example/eth/008-transfer-l2pao/VALIDATION.md
  test/tasks/example/eth/008-transfer-l2pao/config.toml
  test/tasks/mock/configs/TransferProxyAdminOwnerConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: faster PRs
  .circleci/config.yml
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: yaml fix
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: better instructions in the command line for new tempalte
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Enable setting safeAddressString in config
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve comments
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Transfer owners template
  src/improvements/script/create-task.sh
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better tips for new template
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: allow creating test task.
  src/improvements/script/create-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: transferred for dgf
  src/improvements/script/create-task.sh
  src/improvements/template/TransferOwners.sol
  test/tasks/example/eth/009-transfer-owners/.env
  test/tasks/example/eth/009-transfer-owners/README.md
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small fix in create task file.
  src/improvements/script/create-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Enable reading safeAddressString from config
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Set EnableDeputyPauseModule's safeAddressString in config
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Simplify _taskStorageWrites
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove debug code
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename function to loadSafeAddressString
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Make _taskStorages writes pure
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

use loadSafeAddressString in TaskManager
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add safeAddressString to template config
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/evm-safety

Add safeAddressString to task config
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: first version transfer owners working
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/evm-safety

Enable setting safeAddressString in config (#971)
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refactored and added tests.
  src/improvements/template/TransferOwners.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: CLI improvements and CI update
  .circleci/config.yml
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/script/create-task.sh
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: revert unrelated changes.
  .circleci/config.yml
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/script/create-task.sh
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: nit
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
