Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

bump the uni PAO transfer nonce (#1026)
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update 115 and 116 with modules to remove
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/config.toml
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add eris tasks in 100 series
  src/improvements/tasks/sep/113-u16-enable-dpm-eris/.env
  src/improvements/tasks/sep/113-u16-enable-dpm-eris/README.md
  src/improvements/tasks/sep/113-u16-enable-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/113-u16-enable-dpm-eris/config.toml
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/.env
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/README.md
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/VALIDATION.md
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/config.toml
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/.env
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/README.md
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/VALIDATION.md
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/config.toml
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/.env
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/README.md
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/VALIDATION.md
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add new DPM to 113
  src/improvements/tasks/sep/113-u16-enable-dpm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update addresses.toml with eris addresses
  src/improvements/addresses.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update upgrade config for eris devnet
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix safeAddressString on remove dpm
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add GnosisSafeApproveHash template
  src/improvements/template/GnosisSafeApproveHash.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Enforce roundtrip encoding on state overrides (#1023)
  .circleci/config.yml
  src/improvements/script/check-state-overrides.sh
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

change chain ids according to scr
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update error strings
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update errors
  src/improvements/tasks/sep/114-u16-opcm-upgrade-v400-eris/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add commands
  src/improvements/tasks/sep/115-u16-remove-dpm-eris/README.md
  src/improvements/tasks/sep/116-u16-remove-dgm-eris/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: approve is now with private-key requirements
  nested.just
  src/improvements/nested.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: add the `keystorePathBase` in global variable.
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

chore: update the new superchain-opsv2 also
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the function `get-keystore` and clean the code in nested + just
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

chore: also update the single.just
  single.just
Owners: @ethereum-optimism/evm-safety

feat: Execute got the flag aswell
  nested.just
Owners: @ethereum-optimism/evm-safety

feat: add the keystore for `nested.just` & `single.just`
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: maintain the code for nested/single in root
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

fix src/single.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the src/nested.just
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: small fixes to CONTRIBUTING.md at root
  CONTRIBUTING.md
Owners: @ethereum-optimism/evm-safety

docs: small fixes to CONTRIBUTING.md at root (#1031)
  CONTRIBUTING.md
Owners: @ethereum-optimism/evm-safety

start module tasks u16 sepolia
  src/improvements/tasks/sep/014-U16-enable-dpm/.env
  src/improvements/tasks/sep/014-U16-enable-dpm/README.md
  src/improvements/tasks/sep/014-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/018-U16-remove-dpm/.env
  src/improvements/tasks/sep/018-U16-remove-dpm/README.md
  src/improvements/tasks/sep/018-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dpm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dgm/.env
  src/improvements/tasks/sep/019-U16-remove-dgm/README.md
  src/improvements/tasks/sep/019-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update readmes
  src/improvements/tasks/sep/014-U16-enable-dpm/README.md
  src/improvements/tasks/sep/018-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dgm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update simulations
  src/improvements/tasks/sep/014-U16-enable-dpm/README.md
  src/improvements/tasks/sep/018-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dgm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

doc: fix template name
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add the u16 unpause
  src/improvements/tasks/sep/017-unpauseu16/README.md
  src/improvements/tasks/sep/017-unpauseu16/VALIDATION.md
  src/improvements/tasks/sep/017-unpauseu16/config.toml
  src/improvements/template/UnPauseSuperchainConfigTemplateU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add base safe's
  src/improvements/script/get-safe.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

graphite fixes
  src/improvements/template/GnosisSafeApproveHash.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more fixes from graphite
  src/improvements/template/GnosisSafeApproveHash.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update ordering
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

split uni
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-soneium/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/018-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/018-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/018-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/020-U16-remove-dpm/.env
  src/improvements/tasks/sep/020-U16-remove-dpm/README.md
  src/improvements/tasks/sep/020-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/sep/020-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

move uni to single
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the bug with x is not the private-key
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: zero out AST retirementTimestamp (#945)
  .circleci/config.yml
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: Unpause template + addresses.toml for eris
  src/improvements/addresses.toml
  src/improvements/template/UnPauseSuperchainConfigTemplateU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
