Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fmt
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update sep/033 task status
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove from sim seq
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

forge fmt
  src/improvements/template/UniFix.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unneeded test branch
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/evm-safety

delete mocks
  test/libraries/DecimalNormalization.t.sol
  test/libraries/StringParser.t.sol
  test/tasks/mock/MockDecimalNormalization.sol
  test/tasks/mock/MockStringParser.sol
Owners: @ethereum-optimism/evm-safety

fix: paths to root images directory
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/sep/030-revert-mt-cannon/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update PRESTATE-VALIDATION.md
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

Update sep/033 task status (#769)
  .circleci/config.yml
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: nits
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: matching terms used in NESTED.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Monorepo int tests failing because of TaskRunner. (#756)
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/000-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/anchor-state-registry-storage-layout.png
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/op-contracts-manager-storage-layout.png
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Sepolia OPCM v2.0.0: op, soneium, ink (#709)
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/000-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/anchor-state-registry-storage-layout.png
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/op-contracts-manager-storage-layout.png
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: calldata updated
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: read opcm and stdvalidatorv200 in from config
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Sepolia OPCM v2.0.0: base
  src/improvements/tasks/sep/001-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding overrides for superchain config and protocol versions
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updating README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: state diff
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comments explaining state overrides.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added base readme and validations
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updating README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updating VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: domain + message hash for base single signer.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: changing file paths for single.md in readme for base sep u13
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: changing file paths
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: changing file paths
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed state overrides, they're not needed anymore because a devnet upgrade already upgraded these.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added reasons for each error in opcm template.
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update just new recipe to include task type
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update create template script to import task type and remove implemented functions
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Change status to Executed Uni-001.
  tasks/eth/unichain-001-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

Remove from CI the Uni-001 from sim-seq + simulation.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Change status to Executed Uni-001. (#774)
  .circleci/config.yml
  tasks/eth/unichain-001-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

Sepolia OPCM v2.0.0: base (#719)
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

not task type for task command
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
