Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

add missing links and DGF gameImpl decoding
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix address
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add detail to child safe nonce diff
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add to just_simulate_nested_improvements
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fmt
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix link
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add nonces and dispute game improvements
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

READY TO SIGN
  src/improvements/tasks/eth/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

check the size of the parent multisig before continuing.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

failed validation summary
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix link
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

shellcheck
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more errors
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix dw label
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Check-links to CI (#808)
  .circleci/config.yml
  src/improvements/script/check-links.sh
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Mainnet OPCM v2.0.0: op, soneium, ink (#721)
  .circleci/config.yml
  src/improvements/tasks/eth/000-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

check the size of the parent multisig before continuing. (#809)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add the tasks
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the old task.
  tasks/sep/029-deputy-pause-module/.env
  tasks/sep/029-deputy-pause-module/README.md
  tasks/sep/029-deputy-pause-module/SignFromJson.s.sol
  tasks/sep/029-deputy-pause-module/VALIDATION.md
  tasks/sep/029-deputy-pause-module/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Revert "check the size of the parent multisig before continuing. (#809)"
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Revert "check the size of the parent multisig before continuing. (#809)" (#811)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add in the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore:fix ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: reduce forge test flakiness from vm.removeFile.
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

update executed status
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update executed status (#812)
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: reduce forge test flakiness from vm.removeFile. (#813)
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

feat: unichain sepolia u13
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/README.md
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/VALIDATION.md
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/config.toml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt nit
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added unichain runbook and validations for mainnet. Still need to decide if the standardvalidatorv200 errors are ok.
  src/improvements/script/get-safe.sh
  src/improvements/tasks/eth/002-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: loop for ci job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: updated the standard validator v200 contract.
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added some instructions for task devs and signers.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: state overrides.
  NESTED-VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: state override fixes.
  NESTED-VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: nit readme dates.
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
