Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: compiler warning
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: small doc updates
  src/improvements/README.md
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add storage_layout.png
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/006-gas-params-op/images/storage_layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: small doc updates (#910)
  src/improvements/README.md
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: additions.
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

task: eth/006-gas-params-op (#905)
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/eth/006-gas-params-op/README.md
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/006-gas-params-op/config.toml
  src/improvements/tasks/eth/006-gas-params-op/images/storage_layout.png
  src/improvements/template/SystemConfigGasParams.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: single v2.0 ready tested with 008-unpause
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the debug mode in single
  single.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

uni-nested
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

uni-nested (#911)
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Log more info for approve hash writes and make signers output cleaner.
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: made a dynamic nested approval for 3/3 or 2/2
  script/utils/sim-sequence.sh
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: bug that the foundation Upgrade is not detected.
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Log more info for approve hash writes and make signers output cleaner.
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing ci
  tasks/eth/zora-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix: Log more info for approve hash writes and make signers output cleaner. (#913)
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
  tasks/eth/zora-002-fp-upgrade/NestedSignFromJson.s.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: clean + fix the code
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the signature errors
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: reset the nonces after execution
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Add 006-gas-params-op to CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix the ci
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the sim-sequence eth the correct task
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: remove unnecessary comment
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Add 006-gas-params-op to CI (#914)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore:fix the eip712sign location
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix pretty
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Slot variable packing decoded
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[SIM-SEQUENCE] Support superchain version 2.0 (#906)
  .circleci/config.yml
  script/utils/sim-sequence.sh
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

rm unnecesary content in SINGLE.md
  SINGLE.md
Owners: @ethereum-optimism/evm-safety

remove unnecessary changes in NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

fix: refactor
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove config.toml appending. We don't care about getting the tenderly links working for now.
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/TaskRunner.t.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: refactoring.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: stacked simulator - less logging.
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better logging for stacked simulations.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small nit
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: bug with stderr > stdout instead.
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the revert, and add logging when fails
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: set to executed
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove wrong echo
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
