Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

resolve conflict
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/NestedSignFromJson.s.sol
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
  tasks/eth/unichain-001-petra-l1-upgrade/input.json
  tasks/eth/unichain-002-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

chore: trying to get a clean rebase
  src/improvements/tasks/example/eth/000-gas-config-template/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: test on /test/tasks/example
  src/improvements/justfile
  test/tasks/example/eth/003-transfer-owner-template/VALIDATIONS.md
  test/tasks/example/sep/001-enable-deputy-pause-module/VALIDATIONS.md
  test/tasks/example/sep/002-opcm-upgrade-v200/VALIDATIONS.md
  test/tasks/example/sep/005-test-finance-operation/VALIDATIONS.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

pass value to get encode transaction data
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

override getMulticall3CalldataAndValue in OPCMBaseTask
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template for eth transfers
  src/Multicall3NoCheck.sol
  src/improvements/template/FinanceTemplate.sol
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix tests
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

update toml for ci task
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety

fix: Remove unused set game type template.
  src/improvements/README.md
  test/tasks/Regression.t.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Remove unused set game type template. (#759)
  src/improvements/README.md
  test/tasks/Regression.t.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

`src/improvements` md for signers (#747)
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixxx
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Monorepo int tests failing because of TaskRunner. (#756)
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/000-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/anchor-state-registry-storage-layout.png
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/op-contracts-manager-storage-layout.png
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add UniFix template and task
  src/improvements/tasks/sep/uni-fix/README.md
  src/improvements/tasks/sep/uni-fix/config.toml
  src/improvements/template/UniFix.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add finance template documentation
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add comment: list of ops to perform
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety

add commas, improve wording
  src/improvements/doc/FINANCE_TEMPLATE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update readme
  NESTED.md
  SINGLE.md
  src/improvements/doc/CALLDATA_DIFFERENCE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Switch to EXECUTED.
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Remove Ink-003 from the CI since execution of the task.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Set the status of ink-003 to EXECUTED (#762)
  .circleci/config.yml
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update runbook with new nonces, prestate and other validation changes
  tasks/sep/033-op-pectra-defense/.env
  tasks/sep/033-op-pectra-defense/NestedSignFromJson.s.sol
  tasks/sep/033-op-pectra-defense/README.md
  tasks/sep/033-op-pectra-defense/VALIDATION.md
  tasks/sep/033-op-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Copy 032 to 033
  tasks/sep/033-op-pectra-defense/.env
  tasks/sep/033-op-pectra-defense/NestedSignFromJson.s.sol
  tasks/sep/033-op-pectra-defense/README.md
  tasks/sep/033-op-pectra-defense/VALIDATION.md
  tasks/sep/033-op-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix status and test in sequence
  .circleci/config.yml
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Fix prestate to rc4
  tasks/sep/033-op-pectra-defense/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update src/improvements/justfile
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template to work with decimals
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add decimals scaling logic
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

updated expected calldata to match scaled decimal amount
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

use strings for amounts
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety

add FinanceTemplate Unit Test
  test/tasks/FinanceTemplate.t.sol
Owners: @ethereum-optimism/evm-safety

remove finance template tests
  test/tasks/FinanceTemplate.t.sol
Owners: @ethereum-optimism/evm-safety

move decimal parsing logic into library
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

decimal normalization library
  src/libraries/DecimalNormalization.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

decimal utils library
  src/libraries/DecimalUtils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

string parser library for token amounts
  src/libraries/StringParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

mocks to test libraries
  test/tasks/mock/MockDecimalNormalization.sol
  test/tasks/mock/MockStringParser.sol
Owners: @ethereum-optimism/evm-safety
