Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

last feedback
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[sep task U13] DeputyPauseModule Activation (#810)
  .circleci/config.yml
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
  tasks/sep/029-deputy-pause-module/.env
  tasks/sep/029-deputy-pause-module/SignFromJson.s.sol
  tasks/sep/029-deputy-pause-module/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Added README
  test/tasks/example/sep/003-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/evm-safety

Executed OP Mainnet, Soneium, Ink
  .circleci/config.yml
  src/improvements/tasks/eth/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Executed OP Mainnet, Soneium, Ink (#827)
  .circleci/config.yml
  src/improvements/tasks/eth/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: more bad configs
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/evm-safety

feat: template for setRespectedGameType
  src/improvements/addresses.toml
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/template/SetRespectedGameType.sol
  test/tasks/example/eth/004-fp-set-respected-game-type/README.md
  test/tasks/example/eth/004-fp-set-respected-game-type/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: compiler warnings
  src/improvements/template/SetRespectedGameType.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: compilation error
  src/improvements/template/SetRespectedGameType.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/SimpleAddressRegistry.sol
  src/improvements/SimpleAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add regression test
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/SetRespectedGameTypeTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: issues with conflicting templates
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/SetRespectedGameType.sol
  tasks/sep/021-refresh-signers-fakeFoS/VALIDATION.md
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: incorrect config
  test/tasks/example/eth/004-fp-set-respected-game-type/config.toml
Owners: @ethereum-optimism/evm-safety

fix: typo in regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: u13 unichain mainnet (#824)
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: template for setRespectedGameType (#818)
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  tasks/sep/021-refresh-signers-fakeFoS/VALIDATION.md
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/004-fp-set-respected-game-type/README.md
  test/tasks/example/eth/004-fp-set-respected-game-type/config.toml
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
  test/tasks/mock/configs/SetRespectedGameTypeTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

update address
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add in V300 Template
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add template for updating retirement timestamp
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/005-fp-update-retirement-timestamp/README.md
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/mock/configs/UpdateRetirementTimestampTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Added in tasks for op, sonieum, and unichain sep'
  src/improvements/NESTED.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/004-opcm-upgrade-v300/images/op-contracts-manager-storage-layout.png
  test/tasks/example/sep/003-opcm-upgrade-v300/.env
  test/tasks/example/sep/003-opcm-upgrade-v300/README.md
  test/tasks/example/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: correct regression calldata
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

docs: Docs refactor to remove outdated doc information
  src/improvements/README.md
  src/improvements/doc/ADDRESS_REGISTRY.md
  src/improvements/doc/CALLDATA_DIFFERENCE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/NEW_TASK_GUIDE.md
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/doc/TASK_CREATION_GUIDE.md
  src/improvements/doc/TEMPLATE_ARCHITECTURE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

0305 mainnet opcm v200 base (#788)
  src/improvements/tasks/eth/001-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit title.
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add template for updating retirement timestamp (#829)
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/005-fp-update-retirement-timestamp/README.md
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/mock/configs/UpdateRetirementTimestampTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add template for unpausing
  src/improvements/addresses.toml
  src/improvements/template/UnpauseTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/006-unpause-template/README.md
  test/tasks/example/eth/006-unpause-template/config.toml
  test/tasks/mock/configs/UnpauseTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: unnecessary address
  test/tasks/example/eth/006-unpause-template/config.toml
Owners: @ethereum-optimism/evm-safety

fix: Monorepo Int Test
  src/improvements/justfile
  src/improvements/template/SetRespectedGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: UpdateRetirementTimestamp template needed updated too.
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added comment
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: working on a solution for fixing the monorepo tests.
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: clean up tests to skip
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  tasks/sep/ink-003-set-init-bond/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/sep/ink-004-enable-permissionless-game/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

docs: Docs refactor to remove outdated doc information (#831)
  src/improvements/README.md
  src/improvements/doc/ADDRESS_REGISTRY.md
  src/improvements/doc/CALLDATA_DIFFERENCE.md
  src/improvements/doc/FINANCE_TEMPLATE.md
  src/improvements/doc/NEW_TASK_GUIDE.md
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/doc/TASK_CREATION_GUIDE.md
  src/improvements/doc/TEMPLATE_ARCHITECTURE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the template for pausing + task for pausing in preparation.
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/config.toml
  src/improvements/template/004-deputy-pause-module-activation/README.md
  src/improvements/template/004-deputy-pause-module-activation/VALIDATION.md
  src/improvements/template/004-deputy-pause-module-activation/config.toml
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

adding in tasks
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/.env
  test/tasks/example/sep/006-opcm-upgrade-v300/README.md
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update address
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/evm-safety

Ink Sepolia set initial bond values and respectedGameType (#724)
  .circleci/config.yml
  tasks/sep/ink-003-set-init-bond/.env
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/README.md
  tasks/sep/ink-003-set-init-bond/VALIDATION.md
  tasks/sep/ink-003-set-init-bond/input.json
  tasks/sep/ink-004-enable-permissionless-game/.env
  tasks/sep/ink-004-enable-permissionless-game/README.md
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s.sol
  tasks/sep/ink-004-enable-permissionless-game/VALIDATION.md
  tasks/sep/ink-004-enable-permissionless-game/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel
