Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/009-report.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/009-report.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/010-report.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/010-report.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Spearbit: Optimism Upgrade Proposal #15a Review (#947)
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/009-report.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/010-report.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: testing
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: check if this test is the issue.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: are we still getting Received killed signal
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: are we still getting Received killed signal
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: forge fmt
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: test
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: trying again
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: test
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moving where normalizeTimestamp is called.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: testing commented out function
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pure
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: test
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: just install before running forge test
  .circleci/config.yml
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: performance benefit.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix comments
  tasks/eth/swell-001-holocene-upgrade/.env
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

remove without ledger
  tasks/eth/swell-001-holocene-upgrade/.env
Owners: @ethereum-optimism/evm-safety

fix absoluteprestate in validation
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

UnPause SuperchainConfig Task (#941)
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

pass value to get encode transaction data
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template for eth transfers
  src/Multicall3NoCheck.sol
  src/improvements/template/FinanceTemplate.sol
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix tests
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

update toml for ci task
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety

add getMulticall3Calldata function that only returns calldata
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

add Multicall3NoValueCheck deployment script
  script/DeployMulticall3NoValueCheck.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

address pr feedback for new multicall3 contract
  src/Multicall3NoValueCheck.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bubble up return data
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove 32 bytes padding from revert string
  src/Multicall3NoValueCheck.sol
  test/multicall/Multicall3NoValueCheck.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add tests for Multicall3NoValueCheckTest
  test/multicall/Multicall3NoValueCheck.t.sol
  test/multicall/mocks/EtherSink.sol
  test/multicall/mocks/MockCallee.sol
Owners: @ethereum-optimism/evm-safety

rename Multicall3NoCheck to Multicall3NoValueCheck
  src/Multicall3NoValueCheck.sol
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template to use new multicall3 with no value check
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix ci
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

fix: fixed tests
  0x225eaae9aa11585812d4c2fafb9f4e7e9fb4d4e2f888fbdef790bdc7a94157be.toml
  0xe503a394e2d47769dfe64b896246aa2a05c1edd8be41ebe4b9796d3c36b472c5.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/FinanceTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Unichain U15 ready to sign
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Unichain U15 ready to sign (#950)
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
