Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: better validations
  tasks/eth/zora-002-fp-upgrade/.env
  tasks/eth/zora-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

feat: zora mainnet to permissioned FPs
  tasks/eth/zora-002-fp-upgrade/.env
  tasks/eth/zora-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/zora-002-fp-upgrade/README.md
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
  tasks/eth/zora-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

fix: correct liveness guard
  tasks/eth/zora-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety

fix: add task to CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: tweaks from PR comments
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: wrong nested hashes
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: add zora task to simulated sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Fixed errors
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/.env
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix tests
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: clean up.
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/.env
  test/tasks/example/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Regression test fixed.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

refactor: template creation feedback
  src/improvements/template/boilerplate/L2TaskBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added boilerplate templates for all 3 template types
  src/improvements/template/boilerplate/SimpleBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove standard validator check.
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
Owners: @ethereum-optimism/evm-safety

fix: implemented _standardValidatorCheck function.
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMBaseTask.template.sol
  src/improvements/template/boilerplate/SimpleBase.template.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove standard validator check.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMBaseTask.template.sol
  src/improvements/template/boilerplate/SimpleBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit imports
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refreshing state
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMBaseTask.template.sol
  src/improvements/template/boilerplate/SimpleBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing monorepo tests (#825)
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: Add in V300 Template (#828)
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/.env
  test/tasks/example/sep/006-opcm-upgrade-v300/README.md
  test/tasks/example/sep/006-opcm-upgrade-v300/VALIDATION.md
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment updates.
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMBaseTask.template.sol
  src/improvements/template/boilerplate/SimpleBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: template generation fixes.
  src/improvements/script/create-template.sh
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMBaseTask.template.sol
  src/improvements/template/boilerplate/SimpleBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: renaming opcm and simple task bases.
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/justfile
  src/improvements/script/create-template.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

StateOverrideManager: merging overrides.
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment updates.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: better cli.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing more code that isn't used anymore.
  src/improvements/tasks/TaskRunner.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: zora mainnet to permissioned FPs (#776)
  .circleci/config.yml
  tasks/eth/zora-002-fp-upgrade/.env
  tasks/eth/zora-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/zora-002-fp-upgrade/README.md
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
  tasks/eth/zora-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

fix uni hashes
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update childsafe validation docs
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix uni hashes (#839)
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add my template
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unneccessary tasks
  test/tasks/example/sep/003-opcm-upgrade-v300/.env
  test/tasks/example/sep/003-opcm-upgrade-v300/README.md
  test/tasks/example/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/evm-safety

fix hash
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the template + task
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove file not necessary
  src/improvements/template/004-deputy-pause-module-activation/README.md
  src/improvements/template/004-deputy-pause-module-activation/VALIDATION.md
  src/improvements/template/004-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the example task
  src/improvements/tasks/sep/006-unpause-superchainConfig/.env
  test/tasks/example/sep/007-unpause-superchainConfig/.env
  test/tasks/example/sep/007-unpause-superchainConfig/README.md
  test/tasks/example/sep/007-unpause-superchainConfig/VALIDATION.md
  test/tasks/example/sep/007-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: v1 markdown printing for state diffs.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: printing markdown in the correct format.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
