Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: small cleanup improvements.
  src/improvements/script/create-template.sh
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/script/create-template.sh
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Create new template cleanup (#619)
  src/improvements/script/create-template.sh
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: extract empty template into its own file
  src/improvements/script/create-template.sh
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: extract empty template into its own file
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: example template now compiles.
  src/improvements/script/create-template.sh
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit comments
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Make checkStateDiff Revert (#609)
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/Runner.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/configs/MockDisputeGameUpgradesToEOA.toml
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: add `AccountAccessParser` library (#616)
  src/libraries/AccountAccessParser.sol
  src/libraries/StateDiffProcessor.sol
  tasks/sep/zora-002-fp-upgrade/NestedSignFromJson.s.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: PR comments from mds1
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test executeRun function in MultisigTask
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

make checkStateDiff potentially mutable to allow call to foundry stdStorage .find() method
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

init Enable Deputy Pause Module Template
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add foundation upgrade addresses
  src/improvements/addresses.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

load hardcoded foundation and security council Gnosis Safe addresses from addresses.toml
  src/improvements/AddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test new hardcoded addresses correctly loaded
  test/registry/AddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

revert set nested safe implementation, natspec, add isBroadcastContext, move all broadcast calls into execTransaction function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix revert message GS025 ->
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

revert back to childMultisig != address(0), add printNested and printData functions
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

assign signatures to sorted signatures from sortUniqueSignatures call
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

improve comments around how signatures are handled in execute function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add op sepolia and metal testnet config
  test/tasks/mock/configs/DiscoverChainAddressesTestnetConfig.toml
Owners: @ethereum-optimism/evm-safety

add tests for hardcoded values on testnet
  test/registry/AddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

test hardcoded values on testnet
  test/registry/TestnetAddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

Add initial files
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/input.json
  tasks/eth/ink-004-holocene-system-config-upgrade/.env
  tasks/eth/ink-004-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-004-holocene-system-config-upgrade/OVERVIEW.md
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
  tasks/eth/ink-004-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add opcm regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Add initial files
  .circleci/config.yml
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/.env
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/README.md
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/input.json
  tasks/eth/sony-002-holocene-system-config-upgrade/.env
  tasks/eth/sony-002-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/sony-002-holocene-system-config-upgrade/OVERVIEW.md
  tasks/eth/sony-002-holocene-system-config-upgrade/README.md
  tasks/eth/sony-002-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/sony-002-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

add comments
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Cleanup MD files
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Cleanup MD files
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/README.md
  tasks/eth/sony-001-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/sony-002-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: using internal rpc urls for forge test
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: nested simulated and simulate commands need internal rpc too.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: circle-ci ip ranges true.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: some tasks need sepolia env var.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: pr comments
  .circleci/config.yml
  foundry.toml
Owners: @ethereum-optimism/evm-safety
