Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: fix ci.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: improvements from review
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/StackedSimulator.sol
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat(stack-signing): Added signing functionality to stacked tasks. (#1072)
  src/improvements/justfile
  src/improvements/script/simulate-verify-task.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Domain and Message Hash checking for stacked sims
  src/improvements/README.md
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Adding initial files
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/.env
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/README.md
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/VALIDATION.md
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/config.toml
  src/improvements/template/SetGameImplementationTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetGameImplementationTemplate.sol
  src/improvements/template/SetGameImplementationTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: README updates and env var configuration
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: README updates
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove duplicate
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety

sepolia validations
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/script/check-task-names.sh
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Worldchain Sepolia L1PAO transfers (#1042)
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/.env
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

states
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Domain and Message Hash checking for stacked sims (#1073)
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(discovery): using multicall3 for on chain discovery
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add nonces to all u16 sepolia upgrade tasks
  script/utils/sim-sequence.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/libraries/MultisigTypes.sol
  src/libraries/Utils.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: StdStorage - add getters.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetGameImplementationTemplate.sol
  src/improvements/template/SetGameImplementationTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix Metal/Mode hash messages
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Fix Metal/Mode hash messages (#1077)
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

refactor(multisigtask): minimally invasive refactor of MultisigTask.sol (#1059)
  script/utils/sim-sequence.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/libraries/MultisigTypes.sol
  src/libraries/Utils.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add nonces to all u16 sepolia upgrade tasks
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): further multisigtask refactor
  0x8e01dc288788fbdea6eec9d25aaf76cadad5001bf0b2b562b983112762f737e6.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/FinanceTemplate.sol
  src/libraries/MultisigTypes.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: styling fix
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove test temp file
  0xdd285ea159d87fef84d427e9f65af86580f15633df300fce83f27c1eae7d616b.toml
Owners: @ethereum-optimism/evm-safety

fix: remove test temp file
  0xdd285ea159d87fef84d427e9f65af86580f15633df300fce83f27c1eae7d616b.toml
Owners: @ethereum-optimism/evm-safety

refactor(multisigtask): additional refactor (#1060)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/FinanceTemplate.sol
  src/libraries/MultisigTypes.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat(local-addresses): Enable local addresses
  src/improvements/README.md
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/example/eth/010-transfer-owners-local/.env
  test/tasks/example/eth/010-transfer-owners-local/addresses.json
  test/tasks/example/eth/010-transfer-owners-local/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/DisableModule.sol
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

validations
  src/improvements/tasks/eth/014-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/eth/019-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/eth/020-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

dgm
  src/improvements/tasks/eth/019-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/eth/020-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

dpm
  src/improvements/tasks/eth/020-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
