Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: added new function to GnosisSafeHashes.t.sol
  src/improvements/tasks/MultisigTask.sol
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: parent multisig also needs to have the owner override.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: explaining why we can't use addThresholdOverride from Simulation.sol.
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comments from mds in pr review.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/libraries/GnosisSafeHashes.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: named return var.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: using common base.
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: build was broken.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: failing tests fixed for state override manager.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: stricter assertions on test for state override manager.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

refactor: Nested Simulations in Tenderly Should Originate from MultiCall3 (#771)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix naming on contract
  src/improvements/template/UniFix.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add UniFix template and task (#760)
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/VALIDATION.md
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/config.toml
  src/improvements/template/UniFix.sol
  test/tasks/example/sep/004-replace-superchain-config/README.md
  test/tasks/example/sep/004-replace-superchain-config/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix message hashes
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

replace the rc3 with rc4 prestate for all sepolia runbooks (#779)
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update message hash
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update message hash (#782)
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: integrate with tenderly and validations.md for hash verification
  src/improvements/justfile
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-tenderly.sh
  src/improvements/script/simulate-verify-task.sh
  src/improvements/simulation_output.txt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: optional safe name
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove wayward file
  src/improvements/simulation_output.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't need to output the URL twice
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: slightly better logging
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: exit if the transaction doesn't succeed on tenderly
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove commas from amount
  src/libraries/DecimalNormalization.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

comma removal tests
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/evm-safety

naming: parseDecimals -> parseAndScaleDecimals, add validateAmountComponents function
  src/libraries/DecimalNormalization.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

naming: parseDecimals -> parseAndScaleDecimals
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/evm-safety

natspec
  src/libraries/DecimalNormalization.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: apply only on src/improvements, and simplify as a result
  .circleci/config.yml
  script/utils/check-task-numbering.sh
  src/improvements/justfile
  src/improvements/script/check-task-numbering.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: copy & paste & pray
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Apply suggestions from code review
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix SystemConfig l1ERC721Bridge getter name
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused imports from generated templates
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update justfile and create template script to support new task type
  src/improvements/justfile
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

move opcm base task type to types directory
  src/improvements/tasks/types/OPCMBaseTask.sol
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add task for unichain sepolia
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update storage write expectations
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add opcm upgrade task for unichain mainnet
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add code validation for configured opcm contracts
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Generate opcm-v3 upgrade task for op, ink, soneium
  src/improvements/tasks/sep/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
