Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: error fixed when looking for dg contracts.
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: typo
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: only read locally for regression tests.
  .circleci/config.yml
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: TEMPLATE_REGRESSION_TESTS_CI env var used.
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: U15 Sepolia - Unichain (#876)
  .circleci/config.yml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: Update CircleCI configuration for issue management
  .circleci/config.yml
  .circleci/github-event-handler.yml
Owners: @ethereum-optimism/evm-safety

feat: Add GitHub CLI orb to CircleCI configuration
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Adding initial files
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
  tasks/eth/arena-z-001-fp-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/VALIDATION.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Update .env with safe nonces (#856)
  tasks/eth/zora-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety

feat: Update CircleCI configuration for issue management (#885)
  .circleci/config.yml
  .circleci/github-event-handler.yml
Owners: @ethereum-optimism/evm-safety

update 012 task config for Unichain alphanet for U15
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: startPrank works as expected with Foundry update
  mise.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: opcm v300 add errors as config
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: opcmtaskbase template updated to use the errors from config.toml.
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small changes to the CLI for signers.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: opcm v300 add errors as config (#891)
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update transaction simulation instructions
  NESTED.md
  SINGLE.md
Owners: @ethereum-optimism/evm-safety

Added in initial task
  src/improvements/tasks/eth/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Updated all addresses
  src/improvements/tasks/eth/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Added in Base Upgrade
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add input.json
  src/improvements/tasks/eth/003-op-gas-target-increase/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Added in hashes
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Added full descriptions
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

missing char
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add eth/005 runbook
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix SV address
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix nonces in config.toml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

added in ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

temp: add error string to template
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add heading links
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add summary and details
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

formatting
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

paste in state diff
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update calldata section of VALIDATION.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Validations
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add detail
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add ci jobs
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Use just sign in README
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix admonition syntax
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
