Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

chore: update the address from the previous DGM to new one
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: also update the message hash
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: executed the task-008 sep
  .circleci/config.yml
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: executed the task-008 sep (#866)
  .circleci/config.yml
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update tx link
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix template to require non-success
  src/improvements/template/OPCMUpgradePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update tx link (#867)
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix uni title
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

set proper config for op+ink
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Added in link validation
  op-whois/go.mod
  op-whois/go.sum
  op-whois/main.go
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fmt
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix ci
  .circleci/config.yml
  justfile
Owners: @ethereum-optimism/evm-safety

[U15] Add template & Sepolia op+ink prestate upgrades
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/README.md
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/config.toml
  src/improvements/template/OPCMUpgradePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix template to require non-success
  src/improvements/template/OPCMUpgradePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

set proper config for op+ink
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added example task, regression test and deleted task from this PR.
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/README.md
  src/improvements/template/OPCMUpgradePrestateV300.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/.env
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/README.md
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/VALIDATION.md
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove task 004
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Mark task 004 Deputy Pause Module Activation (#871)
  .circleci/config.yml
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: fix the name (#864)
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[U15] Add template & Sepolia op+ink prestate upgrades (#859)
  src/improvements/template/OPCMUpgradePrestateV300.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/.env
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/README.md
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/VALIDATION.md
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add swell holocene mips upgrade + change rotational proposer
  tasks/eth/swell-001-holocene-upgrade/.env
  tasks/eth/swell-001-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
  tasks/eth/swell-001-holocene-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

feat: U15 Sepolia - OP, Ink
  .circleci/config.yml
  src/improvements/tasks/sep/009-opcm-upgrade-prestate-v300-op-ink/.env
  src/improvements/tasks/sep/009-opcm-upgrade-prestate-v300-op-ink/README.md
  src/improvements/tasks/sep/009-opcm-upgrade-prestate-v300-op-ink/VALIDATION.md
  src/improvements/tasks/sep/009-opcm-upgrade-prestate-v300-op-ink/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: renaming
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/.env
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/README.md
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/VALIDATION.md
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: U15 Sepolia - OP, Ink (#872)
  .circleci/config.yml
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/.env
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/README.md
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/VALIDATION.md
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/template/OPCMUpdatePrestateV300.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: U15 Sepolia OP Ink executed
  .circleci/config.yml
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: U15 Sepolia OP Ink executed (#875)
  .circleci/config.yml
  src/improvements/tasks/sep/009-opcm-update-prestate-v300-op-ink/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

refactor: renaming sepolia tasks with correct task numbers.
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/VALIDATION.md
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/config.toml
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/.env
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/README.md
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/VALIDATION.md
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

refactor: renaming sepolia tasks with correct task numbers. (#874)
  .circleci/config.yml
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/VALIDATION.md
  src/improvements/tasks/sep/009-deputy-pause-key-rotation/config.toml
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/.env
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/README.md
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/VALIDATION.md
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Update Foundry dependency to include fix from Foundry PR #10069
  mise.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: added tests to the isValidAction function.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding back in the ability to override the start prank functionality.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

base sep u14 executed
  .circleci/config.yml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update VALIDATION.md
  tasks/sep/030-revert-mt-cannon/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update broken link
  tasks/eth/014-fjord-gas-config/README.md
Owners: @ethereum-optimism/evm-safety

Main * refactor: renaming sepolia tasks with correct task numbers.
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
Owners: @ethereum-optimism/evm-safety

fix: mark unichain as executed.
  .circleci/config.yml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix
  .circleci/config.yml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers
