Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

feat: childmultisig state variable removed
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

export randomPersonEoa (#639)
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

cleanup nestedSign
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix: pr fixes
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit forge fmt
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: using forge script instead.
  src/improvements/AddressRegistry.sol
  src/improvements/justfile
  src/improvements/script/get-task-owner.sh
  src/improvements/script/is-task-nested.sh
  src/improvements/tasks/IsNestedTask.s.sol
  src/improvements/tasks/MultisigTask.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: undo edit to Addressreg
  src/improvements/AddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: simulation now working- rpc wasn't being set correctly
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

updating validation file
  tasks/sep/ink-002-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: latest
  foundry.toml
  src/improvements/justfile
  src/improvements/tasks/IsNestedTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: add forge build
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

zora-002 has been executed
  .circleci/config.yml
  tasks/sep/zora-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

zora-002 has been executed (#643)
  .circleci/config.yml
  tasks/sep/zora-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: tests
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/evm-safety

fix:
  src/improvements/justfile
  src/improvements/tasks/IsNestedTask.sol
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove executed ink task
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

adding context to the validation file
  tasks/eth/sony-001-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

make _taskStorageWrites pure, pass accountAccesses to _validate function, make checkStateDiff view again
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

address feedback, validate function uses AccountAccessParser library, import DeputyGuardianModule interface, stop overridding checkStateDiff
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update _validate interface to include accountAccesses
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add testing section
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove commented l2Chains line
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/evm-safety

add sep-01 enable deputy pause module
  src/improvements/tasks/example/sep/001-enable-deputy-pause-module/README.md
  src/improvements/tasks/example/sep/001-enable-deputy-pause-module/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

stable to v1.0.0
  mise.toml
Owners: @ethereum-optimism/evm-safety

stable to v1.0.0 (#645)
  mise.toml
Owners: @ethereum-optimism/evm-safety

warning: remove the warning from the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

rename to network instead of prefix
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: remove the prefix
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update nested.just
  nested.just
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-004-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

README: update the code
  SIMULATE_SEQ.md
Owners: @ethereum-optimism/evm-safety

chore: add comment to the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Apply suggestions from code review
  nested.just
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

remove the tmp logic on nested file
  nested.just
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix the env
  SIMULATE_SEQ.md
Owners: @ethereum-optimism/evm-safety

remove tmp logic to mktemp
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove the tmp logic to mktemp
  single.just
Owners: @ethereum-optimism/evm-safety

chore: comment
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
