Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Extract empty template into its own .template.sol file (#620)
  .circleci/config.yml
  src/improvements/script/create-template.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add opcm template regression test (#626)
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

improve docs
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add var and basefeevalues
  script/verification/Verification.s.sol
  tasks/eth/030-uni-pdg-update/.env
  tasks/eth/030-uni-pdg-update/NestedSignFromJson.s.sol
  tasks/eth/030-uni-pdg-update/README.md
  tasks/eth/030-uni-pdg-update/VALIDATION.md
  tasks/eth/030-uni-pdg-update/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Simulate all example tasks in CI
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/script/is-task-nested.sh
  src/improvements/tasks/example/eth/000-gas-config-template/README.md
  src/improvements/tasks/example/eth/000-gas-config-template/config.toml
  src/improvements/tasks/example/eth/000-gas-config-template/run.txt
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/.env
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/README.md
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/config.toml
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/run.txt
  src/improvements/tasks/example/eth/002-set-game-type-template/.env
  src/improvements/tasks/example/eth/002-set-game-type-template/README.md
  src/improvements/tasks/example/eth/002-set-game-type-template/config.toml
  src/improvements/tasks/example/eth/002-set-game-type-template/run.txt
  src/improvements/tasks/example/eth/003-transfer-owner-template/.env
  src/improvements/tasks/example/eth/003-transfer-owner-template/README.md
  src/improvements/tasks/example/eth/003-transfer-owner-template/config.toml
  src/improvements/tasks/example/eth/003-transfer-owner-template/run.txt
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/run.txt
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/configs/TransferProxyAdminOwnerConfig.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: simulate for nested.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge test
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: remove run.txt files.
  src/improvements/tasks/example/eth/000-gas-config-template/run.txt
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/run.txt
  src/improvements/tasks/example/eth/002-set-game-type-template/run.txt
  src/improvements/tasks/example/eth/003-transfer-owner-template/run.txt
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/run.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove pure keyword from _taskStorageWrites to accomodate changes in EnableDeputyPauseModuleTemplate
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add testnet EnableDeputyPauseModuleTemplate toml file
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/evm-safety

add EnableDeputyPauseModuleTemplate regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Add readonly public repo token context
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Add readonly public repo token context (#635)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: clarify function names
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix naming
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fail if not all templates have a task
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove notify security team command.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: renaming nit
  src/improvements/script/is-task-nested.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comments nit
  src/improvements/script/is-task-nested.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[AddressRegistry] Hardcode Foundation Addresses (#623)
  src/improvements/AddressRegistry.sol
  src/improvements/addresses.toml
  test/registry/TestnetAddressRegistry.t.sol
  test/tasks/mock/configs/DiscoverChainAddressesTestnetConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit comment.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: refactored logic that can be reused later.
  src/improvements/script/get-task-owner.sh
  src/improvements/script/is-task-nested.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: use correct foundry profile.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: debugging rpc url usage
  nested.just
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: debugging
  security-council-rehearsals/templates/r2-remove-signer/justfile
Owners: @ethereum-optimism/evm-safety

fix: ETH RPC URL
  nested.just
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  single.just
Owners: @ethereum-optimism/evm-safety

fix: expose internal functions
  test/libraries/BytecodeComparison.t.sol
Owners: @ethereum-optimism/evm-safety

chore: forge fmt
  test/libraries/BytecodeComparison.t.sol
Owners: @ethereum-optimism/evm-safety

Multisig Cleanup (#622)
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

export randomPersonEoa
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

adding the base and blob fee scalar state changes
  tasks/eth/sony-002-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/sony-002-holocene-system-config-upgrade/README.md
  tasks/eth/sony-002-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

adding semver checks for delayed weth contracts
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: minimal changes for foundry 1.0.0 (#618)
  mise.toml
  test/libraries/BytecodeComparison.t.sol
Owners: @ethereum-optimism/evm-safety

Update tasks order
  .circleci/config.yml
  tasks/eth/sony-001-holocene-system-config-upgrade/.env
  tasks/eth/sony-001-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/sony-001-holocene-system-config-upgrade/OVERVIEW.md
  tasks/eth/sony-001-holocene-system-config-upgrade/README.md
  tasks/eth/sony-001-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/sony-001-holocene-system-config-upgrade/input.json
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/.env
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/README.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Add delayedWETH semver check
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

Add delayedWETH semver check
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix: actions no longer a global variable.
  foundry.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: forge fmt
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: remove commented out code
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
