Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

init new task
  tasks/eth/031-op-mainnet-pectra-defense/.env
  tasks/eth/031-op-mainnet-pectra-defense/NestedSignFromJson.s.sol
  tasks/eth/031-op-mainnet-pectra-defense/README.md
  tasks/eth/031-op-mainnet-pectra-defense/VALIDATION.md
  tasks/eth/031-op-mainnet-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety

Add to ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: Add council validation instructions
  tasks/eth/031-op-mainnet-pectra-defense/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

feat: Add StandardValidator call
  tasks/eth/031-op-mainnet-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

load hardcoded addresses once
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Add SV180 address to readme
  tasks/eth/031-op-mainnet-pectra-defense/README.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

load hardcoded addresses simple registry
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/addresses.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add tests
  foundry.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

executed (#711)
  tasks/sep/unichain-002-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: unpin block on eth simulate_sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix nonces
  tasks/eth/031-op-mainnet-pectra-defense/.env
Owners: @ethereum-optimism/evm-safety

Update .circleci/config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Revert "fix nonces"
  tasks/eth/031-op-mainnet-pectra-defense/.env
Owners: @ethereum-optimism/evm-safety

add nonces and allowed storage
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix lower case
  tasks/eth/unichain-001-petra-l1-upgrade/.env
Owners: @ethereum-optimism/evm-safety

add circle ci and fix casing
  .circleci/config.yml
  tasks/eth/unichain-001-petra-l1-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update .env nonce values
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
Owners: @ethereum-optimism/evm-safety

remove space
  tasks/eth/unichain-001-petra-l1-upgrade/.env
Owners: @ethereum-optimism/evm-safety

update env
  tasks/eth/unichain-001-petra-l1-upgrade/.env
Owners: @ethereum-optimism/evm-safety

fix: OPCM V200 template working (without storage checks)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: task storage writes not takes config file.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: OPCM Upgrade 13
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/.env
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refactor to template for opcm v200 work.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing build
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits from pr.
  src/improvements/addresses.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing errors
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added tests for getNewContracts
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: make public state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make internal state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make internal state var
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: shellcheck
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: disable hash comparison
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: having a go at putting environment variables on circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

debug: do I get the errors if I redirect stderr?
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: echo the tenderly variables
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: I don't get the errors after all :/
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't use brackets
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
