Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: template test
  test/tasks/example/eth/003-transfer-owner-template/config.toml
Owners: @ethereum-optimism/evm-safety

fix: template task fixed.
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

fix: sim seq
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better terminal output
  src/improvements/README.md
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small doc update for tenderly links.
  NESTED.md
  SINGLE.md
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Add support for APPROVE_WITHOUT_LEDGER and EXECUTE_WITHOUT_LEDGER
  single.just
Owners: @ethereum-optimism/evm-safety

Add support for APPROVE_WITHOUT_LEDGER and EXECUTE_WITHOUT_LEDGER
  nested.just
Owners: @ethereum-optimism/evm-safety

Update SINGLE.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SINGLE.md
  SINGLE.md
Owners: @ethereum-optimism/evm-safety

Update NESTED.md
  src/improvements/NESTED.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

fix: you can not pass an owner address to be more specific on the address you want to simulate as.
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added test for making sure that a user can't pass an incorrect owner to the simulate stack command.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

fix: typos fixed.
  SINGLE.md
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update README.md
  tasks/eth/zora-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: updating state of executed tasks.
  .circleci/config.yml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  tasks/eth/zora-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: removed sim seq and base sim
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: updating state of executed tasks. (#929)
  .circleci/config.yml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  tasks/eth/zora-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: small doc update for tenderly links. (#927)
  NESTED.md
  SINGLE.md
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: removed sim
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: Stacked Simulator (#819)
  .circleci/config.yml
  .gitignore
  script/utils/sim-sequence.sh
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/TaskRunner.t.sol
  test/tasks/example/eth/003-transfer-owner-template/VALIDATION.md
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fixing ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: it's ok if there are no non-terminal tasks to simulate.
  .circleci/config.yml
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove console.log
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety

fix: fixing failing ci on main - related to stacked simulations. (#931)
  .circleci/config.yml
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: don't fail if no non-terminal tasks
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't fail if no non-terminal tasks (#933)
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Unichain U14 Executed
  .circleci/config.yml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Unichain U14 Executed (#935)
  .circleci/config.yml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update VALIDATION.md
  tasks/sep/030-revert-mt-cannon/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update PRESTATE-VALIDATION.md
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

chore: add the task 007
  src/improvements/tasks/eth/007-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/007-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the version
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add task for DelayedWETH ownership xfer
  src/improvements/single.just
  src/improvements/tasks/eth/007-delayedweth-xfer/.env
  src/improvements/tasks/eth/007-delayedweth-xfer/README.md
  src/improvements/tasks/eth/007-delayedweth-xfer/VALIDATION.md
  src/improvements/tasks/eth/007-delayedweth-xfer/config.toml
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/007-delayedweth-xfer/README.md
  test/tasks/example/eth/007-delayedweth-xfer/config.toml
  test/tasks/mock/configs/DelayedWETHOwnershipTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: compiler warning
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr review
  src/improvements/single.just
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: use nonce 103
  src/improvements/tasks/eth/007-delayedweth-xfer/VALIDATION.md
  src/improvements/tasks/eth/007-delayedweth-xfer/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add single sequence to CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety
