Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Add GuardianSafet to addresses.toml
  src/improvements/addresses.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

init example task
  test/tasks/example/sep/010-enable-deputy-pause-module/README.md
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
Owners: @ethereum-optimism/evm-safety

fix: better docs.
  src/improvements/README.md
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix newModule address
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
Owners: @ethereum-optimism/evm-safety

fix naming of module
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: only run when directory is changes
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: nit
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: nit
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: nit
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: test
  test/tasks/example/eth/x.sol
Owners: @ethereum-optimism/evm-safety

fix: run only on main
  .circleci/config.yml
  test/tasks/example/eth/x.sol
Owners: @ethereum-optimism/evm-safety

Make foundationSafeString parametrizable
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Make version string parametrizable
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix title of example task
  test/tasks/example/sep/010-enable-deputy-pause-module/README.md
Owners: @ethereum-optimism/evm-safety

remove todo
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: CLI improvements and CI update (#973)
  .circleci/config.yml
  src/improvements/README.md
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/justfile
  src/improvements/script/create-task.sh
  src/improvements/script/create-template.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

refactor: circle ci cleanup
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add validator
  src/improvements/template/OPCMUpgradeV400.sol
  test/tasks/example/sep/008-opcm-upgrade-stage1/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add standard validator disclaimet
  src/improvements/template/OPCMUpgradeV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add balance change whitelist (#965)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Consolidate simulate command.
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove old simulate commands.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix simulate all tasks.
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: command not found (pwd)
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: passing through .env file.
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: circle ci cleanup (#976)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

dont check on new contracts
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add comments
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Ensure each template has an example task
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SINGLE.md
  SINGLE.md
Owners: @ethereum-optimism/evm-safety

Update NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

Add example task for nested EnableDeputyPauseModule (#974)
  src/improvements/addresses.toml
  src/improvements/justfile
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/010-enable-deputy-pause-module/README.md
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename EnableDeputyPauseModuleTemplate to EnableDeputyPauseModule
  src/improvements/tasks/eth/011-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/010-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename file too
  src/improvements/template/EnableDeputyPauseModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename toml file
  test/tasks/mock/configs/EnableDeputyPauseModule.toml
Owners: @ethereum-optimism/evm-safety

Add DisableModule template and example task
  src/improvements/template/DisableModule.sol
  test/tasks/example/sep/011-disable-module/README.md
  test/tasks/example/sep/011-disable-module/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix Readme title
  test/tasks/example/sep/011-disable-module/README.md
  test/tasks/example/sep/011-disable-module/config.toml
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
