Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

chore: fix the name convention
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

delete the IETHlock comment
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the not necessary storage
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add description for identifier
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: move down the interface
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

u16-fixes
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

impl address fix
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

U16 doc fixes (#1139)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: update the name of the template with the version
  src/improvements/template/UnPauseUnpauseSuperchainConfigv400.sol
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

forge fmt
  src/improvements/template/UnPauseUnpauseSuperchainConfigv400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Create R1 playbook for OPSC Cohort B 2025 signers
  security-council-rehearsals/README.md
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-1-welcome/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-1-welcome/images/2-state-diff.png
  security-council-rehearsals/rehearsal-1-welcome/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-1-welcome/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/2-state-diff.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/.env
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/deploy-contracts-logs.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-1.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-2.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-overview-network.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/justfile
Owners: @ethereum-optimism/evm-safety

Add Rehearsal 1 Welcome playbook for OPSC Cohort B 2025
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/.env
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add details to the 018 and 019 ASR sections
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add details to the 017 ASR
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Correct AnchorStateRegistry storage interpretations in U16 VALIDATION files (#1141)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix CI error
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

OPSC July 2025 Rehearsal 1 (#1140)
  security-council-rehearsals/README.md
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-1-welcome/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-1-welcome/images/2-state-diff.png
  security-council-rehearsals/rehearsal-1-welcome/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-1-welcome/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/2-state-diff.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/.env
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/deploy-contracts-logs.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-1.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-2.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-overview-network.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/justfile
  src/improvements/script/check-task-names.sh
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/.env
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Mark U16 tasks 016-021 as READY TO SIGN
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mark U16 tasks 016-021 as READY TO SIGN (#1142)
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve ASR validation instructions
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve ASR instructions for 017 and 018
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove superchainConfig diff from Soneium runbook
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve ASR validation instructions (#1143)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename the task
  src/improvements/template/UnPauseSuperchainConfig.sol
  src/improvements/template/UnPauseSuperchainConfigv400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

U13 to U16 template and example task
  src/improvements/template/U13_to_U16.sol
  test/tasks/example/sep/019-u13-to-u16/.env
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update naming
  src/improvements/template/U13_to_U16.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update U13_to_U16.sol
  src/improvements/template/U13_to_U16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update U13_to_U16.sol
  src/improvements/template/U13_to_U16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.toml
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/evm-safety

Update config.toml
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/evm-safety

Update
  src/improvements/template/U13_to_U16.sol
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(multisigtask): small optimization
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: OPCMTaskeBase needs updated to support multiple OPCMs.
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/U13_to_U16.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  test/tasks/example/sep/019-u13-to-u16/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: OPCMTaskeBase needs updated to support multiple OPCMs. (#1146)
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/U13_to_U16.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  test/tasks/example/sep/019-u13-to-u16/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/U13_to_U16.sol
  src/improvements/template/U13_to_U16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update test/tasks/Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update template name
  src/improvements/template/OPCMUpgradeV200toV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add notice
  src/improvements/template/OPCMUpgradeV200toV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: use historical prestates for speedrun
  src/improvements/template/OPCMUpgradeV200toV400.sol
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
