Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: interim commit, mostly implemented, UX needs to be thought through more.
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/config.toml
  src/libraries/MultisigTypes.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix(overrides): Apply overrides sooner so devs can assert on them in _templateSetup
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove root safe arg from code exceptions function.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetEIP1967Implementation.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfig.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/WelcomeToSuperchainOps.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(MultisigTask): Remove root address state var (#1149)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetEIP1967Implementation.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/UnPauseSuperchainConfig.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/WelcomeToSuperchainOps.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rehearsal 2 playbook for July 2025 onboarding
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/.env
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs for rehearsals and links
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/README.md
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Rehearsal 2 playbook for July 2025 onboarding (#1153)
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/.env
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix for ignoring the rehearsals dir when listing tasks in a stack.
  src/improvements/script/fetch-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Bm/small updates rehearsal docs (#1154)
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/README.md
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add the `rootSafe` in the _assertDataToSign
  src/improvements/tasks/MultisigTask.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

disable format
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove the space
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: space
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove the space
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Adding Standard Validators after each upgrade
  src/improvements/template/OPCMUpgradeV200toV400.sol
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: compile error fixed.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

feat(multi-level-nesting): Support Multi-level Nesting
  src/improvements/justfile
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/eth/022-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/eth/022-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/eth/022-U16-opcm-upgrade-v400-base/config.toml
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: interim commit, mostly implemented, UX needs to be thought through more.
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/config.toml
  src/libraries/MultisigTypes.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: consolidating all simulation commands into one. Still need to fully test it along with then adding sign, approve and execute functionality.
  .circleci/config.yml
  src/improvements/ci.just
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/fetch-tasks.sh
  src/improvements/script/get-safe.sh
  src/improvements/script/simulate-task.sh
  src/improvements/single.just
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/README.md
  test/tasks/example/eth/008-transfer-l2pao/.env
  test/tasks/example/eth/009-transfer-owners/.env
  test/tasks/example/eth/010-transfer-owners-local/.env
  test/tasks/example/eth/013-U16-base/.env
  test/tasks/example/eth/013-U16-base/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/.env
  test/tasks/example/sep/006-opcm-upgrade-v300/.env
  test/tasks/example/sep/008-opcm-upgrade-prestate-v300/.env
  test/tasks/example/sep/008-opcm-upgrade-v400/.env
  test/tasks/example/sep/010-enable-deputy-pause-module/.env
  test/tasks/example/sep/011-disable-module/.env
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
  test/tasks/example/sep/014-set-dispute-game-impl/.env
  test/tasks/example/sep/018-set-eip1967-impl/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove base task. clean up justfile.
  src/improvements/justfile
  src/improvements/tasks/eth/022-U16-opcm-upgrade-v400-base/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: working on sign command.
  src/improvements/justfile
  src/improvements/tasks/TaskManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleaning up justfile and making sure nested nested safes have defaults that make sense for stacked simulations.
  src/improvements/justfile
  src/improvements/tasks/TaskManager.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more cleanup and testing out all sign functionality.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/libraries/Utils.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: need to implement approve, execute and then add a test for nested-nested to NestedMultisig test file.
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added test sepolia tasks that we will use the new functionality on.
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/sep/021-single-test/README.md
  src/improvements/tasks/sep/021-single-test/config.toml
  src/improvements/tasks/sep/022-nested-test/README.md
  src/improvements/tasks/sep/022-nested-test/addresses.json
  src/improvements/tasks/sep/022-nested-test/config.toml
  src/improvements/tasks/sep/023-nested-nested-test/README.md
  src/improvements/tasks/sep/023-nested-nested-test/addresses.json
  src/improvements/tasks/sep/023-nested-nested-test/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Adding Template Unpause SuperchainConfig After U16 (#1137)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/UnpauseSuperchainConfig.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
  test/tasks/example/sep/019-unpause-superchainConfig/.env
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: recovered commit from broken laptop. Further consolidation of single.just and nested.just
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/021-single-test/README.md
  src/improvements/tasks/sep/021-single-test/config.toml
  src/improvements/tasks/sep/022-nested-test/README.md
  src/improvements/tasks/sep/022-nested-test/config.toml
  src/improvements/tasks/sep/023-nested-nested-test/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: config.toml file nonces now pushed based on test executions.
  src/improvements/tasks/sep/021-single-test/config.toml
  src/improvements/tasks/sep/022-nested-test/config.toml
  src/improvements/tasks/sep/023-nested-nested-test/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove command from requireSignerOnSafe check.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: accidentally lost main MultisigTask change. Added back in this commit.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/example/sep/019-unpause-superchainConfig/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleanup of justfile and readme
  src/improvements/README.md
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed unneeded just commands from single and nested just files.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: documentation improvements.
  src/improvements/NESTED.md
  src/improvements/README.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: start over
  src/improvements/justfile
  src/improvements/tasks/sep/021-single-test/README.md
  src/improvements/tasks/sep/021-single-test/config.toml
  src/improvements/tasks/sep/022-nested-test/README.md
  src/improvements/tasks/sep/022-nested-test/config.toml
  src/improvements/tasks/sep/023-nested-nested-test/README.md
  src/improvements/tasks/sep/023-nested-nested-test/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rehearsal 3 playbook for July 2025 onboarding
  security-council-rehearsals/rehearsal-3-nested-upgrade/.env
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/.env
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/addresses.json
  src/improvements/tasks/eth/rehearsals/2025-07-31-R3-nested-upgrade/config.toml
  src/improvements/tasks/eth/rehearsals/2025-11-28-R2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fix for approve flow.
  src/improvements/justfile
  src/improvements/tasks/sep/021-single-test/README.md
  src/improvements/tasks/sep/022-nested-test/README.md
  src/improvements/tasks/sep/023-nested-nested-test/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: signatures fix.
  src/improvements/justfile
  src/improvements/tasks/sep/023-nested-nested-test/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: disable nonce override check.
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Added a nested nested test to NestedMultisig and fixed the stacked sim.
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/sep/023-nested-nested-test/README.md
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix comments.
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
