Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

chore: not override
  src/improvements/tasks/sep/006-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: config
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

--wip--
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/images/op-contracts-manager-storage-layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

calldata section
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

expected errors
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

WIP validations
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add links to validation
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add SINGLE-VALIDATION.md
  SINGLE-VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Fix safe hashes
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

added error reasons
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding ci checks for base sepolia.
  .circleci/config.yml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

updated ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

correct dir
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: ready to sign state.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

PLDG not PDDG
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fixes to validation instructions
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Move to 007 dir
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/images/op-contracts-manager-storage-layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add to ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix path in readme
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Removed network names
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ooops
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

proper link
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix domain hash
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Address feedback
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused image
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/images/op-contracts-manager-storage-layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove 005 runbook errors
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add account nonce explanation
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the validation file
  test/tasks/example/sep/007-unpause-superchainConfig/VALIDATION.md
  test/tasks/example/sep/007-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

chore: fix todo
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
