Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

refactor(ci): CI config cleaned up. (#1164)
  .circleci/config.yml
  justfile
  script/utils/check-nonce-overrides.sh
  src/improvements/script/check-task-statuses.sh
  src/improvements/script/compareGames.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Add new template for BlacklistGame
  src/improvements/template/BlacklistGame.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Implement BlacklistGames logic
  src/improvements/template/BlacklistGame.sol
  src/improvements/template/BlacklistGames.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove unused imports
  test/tasks/OPCMTaskBase.t.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety

Fix compilation errors
  src/improvements/template/BlacklistGames.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename blacklist task to specify contract lower bound
  src/improvements/template/BlacklistGamesV140.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add example task and regression test
  test/tasks/Regression.t.sol
  test/tasks/example/sep/020-blacklist-games-v140/.env
  test/tasks/example/sep/020-blacklist-games-v140/config.toml
Owners: @ethereum-optimism/evm-safety

Run forge fmt
  src/improvements/template/BlacklistGamesV140.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not reusing the same address many times.
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: give addresses names
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety

coverage(test): Increasing test coverage across the board. (#1166)
  .gitignore
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/Multicall3Delegatecall.t.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/libraries/Utils.t.sol
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/OPCMTaskBase.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/TaskManager.t.sol
  test/tasks/mock/MockSetEIP1967ImplTask.sol
  test/tasks/mock/configs/DelayedWETHOwnershipTemplate.toml
  test/tasks/mock/configs/DisputeGameUpgradeCodeException.toml
  test/tasks/mock/configs/MockDisputeGameUpgradesToEOA.toml
  test/tasks/mock/configs/NestedMultisigDisputeGameUpgradeTemplate.toml
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Add nested safe envar to example task
  test/tasks/example/sep/020-blacklist-games-v140/.env
Owners: @ethereum-optimism/evm-safety

Update contract version support comment
  src/improvements/template/BlacklistGamesV140.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Review feedback - fix comments, _getCodeExceptions
  src/improvements/template/BlacklistGamesV140.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update regression test to validate nested multisig
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update regression test name
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Run forge fmt
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Migrate blacklist game templates (#1168)
  src/improvements/template/BlacklistGamesV140.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/020-blacklist-games-v140/.env
  test/tasks/example/sep/020-blacklist-games-v140/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add remapping for optimism lib
  foundry.toml
Owners: @ethereum-optimism/evm-safety

feat: L1PortalExecuteL2Call task implementation
  src/improvements/template/L1PortalExecuteL2Call.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: rehearsals specs for L1PortalExecuteL2Call task
  src/improvements/tasks/eth/rehearsals/2025-08-11-l1-to-l2-noop/README.md
  src/improvements/tasks/eth/rehearsals/2025-08-11-l1-to-l2-noop/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add BlacklistGames400 template
  src/improvements/template/BlacklistGamesV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/021-blacklist-games-v400/.env
  test/tasks/example/sep/021-blacklist-games-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add BlacklistGames400 template (#1170)
  src/improvements/template/BlacklistGamesV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/021-blacklist-games-v400/.env
  test/tasks/example/sep/021-blacklist-games-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename existing retirement timestamp template
  src/improvements/template/UpdateRetirementTimestampV200.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/UpdateRetirementTimestampV200.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add v400 retirement timestamp template
  src/improvements/template/UpdateRetirementTimestampV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/022-update-retirement-timestamp-v400/.env
  test/tasks/example/sep/022-update-retirement-timestamp-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update title
  src/improvements/template/UpdateRetirementTimestampV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update template names
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/mock/configs/UpdateRetirementTimestampV200.toml
Owners: @ethereum-optimism/evm-safety

Add UpdateRetirementTimestampV400 template (#1171)
  src/improvements/template/UpdateRetirementTimestampV200.sol
  src/improvements/template/UpdateRetirementTimestampV400.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/example/sep/022-update-retirement-timestamp-v400/.env
  test/tasks/example/sep/022-update-retirement-timestamp-v400/config.toml
  test/tasks/mock/configs/UpdateRetirementTimestampTemplate.toml
  test/tasks/mock/configs/UpdateRetirementTimestampV200.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test: add regression test for new template L1PortalExecuteL2Call
  test/tasks/Regression.t.sol
  test/tasks/example/eth/014-noop-call-optimismportal/.env
  test/tasks/example/eth/014-noop-call-optimismportal/config.toml
Owners: @ethereum-optimism/evm-safety

fix: circle ci file reverts.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: check-task-statues fixed.
  src/improvements/script/check-task-statuses.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: check-task-statues fixed.
  src/improvements/script/check-task-statuses.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
