Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

start validations
  src/improvements/tasks/sep/013-U16-enable-dpm/.env
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/.env
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/.env
  src/improvements/tasks/sep/018-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/.env
  src/improvements/tasks/sep/019-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  src/improvements/tasks/sep/020-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Run stacked_simulation in PR CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

2xLARGE LFG
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

silence output
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

spearbit preparation
  src/improvements/tasks/sep/018-U16-remove-dgm/.env
  src/improvements/tasks/sep/018-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/.env
  src/improvements/tasks/sep/019-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

clarify addresses and fix commands
  src/improvements/addresses.toml
  src/improvements/justfile
  src/improvements/script/get-safe.sh
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

test: fix
  src/improvements/template/GnosisSafeApproveHash.sol
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: increase max default foundry gas limit
  foundry.toml
Owners: @ethereum-optimism/evm-safety

chore: prevent OOM for `forge test`
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: prevent OOM for `forge test` (#1036)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Jb/u16 spearbit sep (#1035)
  src/improvements/tasks/sep/013-U16-enable-dpm/.env
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/.env
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: increase max default foundry gas limit
  foundry.toml
Owners: @ethereum-optimism/evm-safety

fix prev module
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Run stacked_simulation in PR CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix prev module
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: increase max default foundry gas limit
  foundry.toml
Owners: @ethereum-optimism/evm-safety

Allow diff in previousModuleSlot
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update CI config and safe nonces
  .circleci/config.yml
  tasks/sep/mode-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Set safe nonces and CI config
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

U16 Sepolia - Module related tasks and Unichain split (#1032)
  .circleci/config.yml
  foundry.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/.env
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/.env
  src/improvements/tasks/sep/018-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/.env
  src/improvements/tasks/sep/019-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

doc: update after merging main
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add script to check migration result
  foundry.toml
  script/CheckMigrate.s.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Updating files pt.1
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Adding initial files
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/input.json
  tasks/sep/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update files
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update validation.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Set safe nonces and CI config
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
