Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

change to new safe
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix(fallbackAddrPath): fallback address path points to json and only gets used if discovery doesn't work.
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/example/eth/010-transfer-owners-local/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: readme update
  src/improvements/README.md
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add trezor support
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: PR comments addressed.
  src/improvements/README.md
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding a remove file command that was missing in a test.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

feat(local-addresses): Enable local addresses (#1070)
  src/improvements/README.md
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/example/eth/010-transfer-owners-local/.env
  test/tasks/example/eth/010-transfer-owners-local/addresses.json
  test/tasks/example/eth/010-transfer-owners-local/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix(tests): race condition with TOML file creation causing flakes.
  .gitignore
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix(tests): race condition with TOML file creation causing flakes. (#1093)
  .gitignore
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

refactor(types): Remove redundant type.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTypes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fmt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(types): Remove redundant type. (#1094)
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTypes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update validate function
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Sepolia OPCM and Standard Validator addresses to rc.8
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update the imports and define interfaces at the bottom of the file
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Worldchain L1PAO transfer to new 2-of-2 safe (#1088)
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: regressions tests fixed.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

refactor(MultisigTask): all calldata calculated at once
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  src/libraries/GnosisSafeHashes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tests passing
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: uncomment commented out test.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

refactor(MultisigTask): checkstatediff function not broken out
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: uncomment commented out test.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Nested and single tests now working again.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: typos and a little bit of cleanup.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove unnecessary function.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove todo
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: adding test for calldatas function.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: move get safe details to utils.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/evm-safety

Add missing Safe hashes
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update example task
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/014-set-dispute-game-impl/.env
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Pr comments. Rename base function. Introduce struct to hold task payload.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moving functions around.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: get safe data takes payload
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: get code exceptions should have underscore.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update validation and test task
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
