Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

001 base executed (#853)
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: using vm cheatcode to convert string to uint. Also made tests without race conditions.
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: justfile command added.
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: applying state overrides in stacked simulations to make tenderly links work.
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskRunner.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: we can simulate stacks of tasks.
  .gitignore
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/eth/003-transfer-owner-template/VALIDATION.md
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: initial commit.
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: getting ordered tasks for a given network.
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: tenderly simulation links are now working.
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskRunner.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: circle ci config.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: undoing changes that make the pr messy.
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

fix: fixing failing tests.
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: fixing tenderly state overrides for stacked simulations.
  test/tasks/StackedSimulator.t.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/evm-safety

fix: added list stack functionality
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: ci not performing stacked simulations.
  .circleci/config.yml
  .gitignore
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: forge fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: validation
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: state overrides with hashes.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: VALIDATION md file v2
  src/improvements/tasks/sep/006-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: validation v4
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: template errors.
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added boilerplate for base task
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: draft, state diffs v1 added.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: VALIDATION v3
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: base u14
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: VALIDATION links to addrs.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: using the new markdown format.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: VALIDATION v5
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: messages to signers.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: template errors, still need to make sure these are ok.
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

task to rotate Swell's proposer keys
  .circleci/config.yml
  tasks/eth/swell-001-rotate-proposer/.env
  tasks/eth/swell-001-rotate-proposer/NestedSignFromJson.s.sol
  tasks/eth/swell-001-rotate-proposer/README.md
  tasks/eth/swell-001-rotate-proposer/VALIDATION.md
  tasks/eth/swell-001-rotate-proposer/input.json
Owners: @ethereum-optimism/evm-safety

chore:fix task dpm with correct address + readme
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the exception
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update .env with safe nonces
  tasks/eth/zora-002-fp-upgrade/.env
Owners: @ethereum-optimism/evm-safety

chore: remove the unnecessary comment
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fmt
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the example task to make the CI pass
  test/tasks/example/sep/007-deputy-pause-key-rotation/README.md
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/evm-safety

chore: update the validation file md
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: update CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
