Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

chore: remove sig
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

chore: remove todo
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the TMPDIR
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix:ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Remove Overview and merge with Readme
  tasks/sep/ink-002-holocene-system-config-upgrade/OVERVIEW.md
  tasks/sep/ink-002-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

chore: remove incorrect comment
  single.just
Owners: @ethereum-optimism/evm-safety

Merge Overview.md with README
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Merge Overview.md with README
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-004-holocene-system-config-upgrade/OVERVIEW.md
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

feat: Simulate all example tasks in CI (#634)
  .circleci/config.yml
  foundry.toml
  nested.just
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  single.just
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/example/eth/000-gas-config-template/README.md
  src/improvements/tasks/example/eth/000-gas-config-template/config.toml
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/.env
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/README.md
  src/improvements/tasks/example/eth/001-dispute-game-upgrade-template/config.toml
  src/improvements/tasks/example/eth/002-set-game-type-template/.env
  src/improvements/tasks/example/eth/002-set-game-type-template/README.md
  src/improvements/tasks/example/eth/002-set-game-type-template/config.toml
  src/improvements/tasks/example/eth/003-transfer-owner-template/.env
  src/improvements/tasks/example/eth/003-transfer-owner-template/README.md
  src/improvements/tasks/example/eth/003-transfer-owner-template/config.toml
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/MockTarget.sol
  test/tasks/mock/configs/TransferProxyAdminOwnerConfig.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Merge Overview.md with README
  tasks/eth/sony-001-holocene-system-config-upgrade/OVERVIEW.md
  tasks/eth/sony-001-holocene-system-config-upgrade/README.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/OVERVIEW.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: rename Runner to TaskRunner
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: rename Runner to TaskRunner (#649)
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

final cleanup
  tasks/eth/sony-001-holocene-system-config-upgrade/.env
  tasks/eth/sony-001-holocene-system-config-upgrade/README.md
  tasks/eth/sony-001-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/.env
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: Fix broken monorepo integration tests.
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix wildcard in find and redundant check in while loop
  script/utils/check-nonce-overrides.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Clean up README
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-004-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: network require error
  src/improvements/script/fetch-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Cleanup README
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/README.md
  tasks/sep/ink-002-holocene-system-config-upgrade/README.md
  tasks/sep/ink-002-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: clarifying comment
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not comment update
  src/improvements/script/fetch-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not comment update
  src/improvements/script/fetch-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update NestedSignFromJson.s.sol
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix: Fix broken monorepo integration tests. (#650)
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

--wip--
  .gitmodules
  nested.just
  tasks/sep/031-pectra-defense/.env
  tasks/sep/031-pectra-defense/NestedSignFromJson.s.sol
  tasks/sep/031-pectra-defense/README.md
  tasks/sep/031-pectra-defense/VALIDATION.md
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix data to use cast cd
  tasks/sep/031-pectra-defense/README.md
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

temp: first one only
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: set input.json to working state for both chains
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Adapt script to multiple dispute games across chains
  tasks/sep/031-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

temp: sony only (min repro)
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: use updated OPPU
  tasks/sep/031-pectra-defense/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: build started no longer a bool for bit packing reasons.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: actions no longer a global variable.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comments
  nested.just
Owners: @ethereum-optimism/evm-safety

Adding Simulation of Stacked Tasks (#611)
  .circleci/config.yml
  .gitignore
  SIMULATE_SEQ.md
  nested.just
  script/utils/sim-sequence.sh
  single.just
  tasks/eth/ink-001-permissionless-proofs/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: getUniqueWrites is returning the wrong account address
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit clearer comment on test case.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: removed console.log
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
