Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

feat: unichain transfer l2pao
  src/improvements/tasks/eth/015-transfer-l2pao-uni/.env
  src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
  src/improvements/tasks/eth/015-transfer-l2pao-uni/VALIDATION.md
  src/improvements/tasks/eth/015-transfer-l2pao-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: unichain mainnet l2 state changes instructions
  src/improvements/tasks/eth/015-transfer-l2pao-uni/VALIDATION.md
  src/improvements/tasks/eth/015-transfer-l2pao-uni/imgs/l1-tenderly-event.png
  src/improvements/tasks/eth/015-transfer-l2pao-uni/imgs/l2-tenderly-config.png
  src/improvements/tasks/eth/015-transfer-l2pao-uni/imgs/resource-params-layout-example.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: update status
  src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tenderly sims working again
  src/improvements/tasks/eth/015-transfer-l2pao-uni/config.toml
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small fix for test - suggestion from graphite.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: simplified implementation
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: remove optimism portal resource params state diff for normalization hash
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more verification notes
  src/improvements/tasks/eth/015-transfer-l2pao-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updating from address in the 008 test task.
  test/tasks/example/eth/008-transfer-l2pao/config.toml
Owners: @ethereum-optimism/evm-safety

changes
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/.env
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update domain hashes
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

override nonces
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/eth/014-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: bug when passing stringified decimals through as the nonce value.
  src/improvements/README.md
  src/improvements/tasks/eth/013-gas-params-op/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: bug when passing stringified decimals through as the nonce value. (#1021)
  src/improvements/README.md
  src/improvements/tasks/eth/013-gas-params-op/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: sanity checks for state override strings
  .circleci/config.yml
  src/improvements/script/check-state-overrides.sh
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: sanity checks for state override strings (#1022)
  .circleci/config.yml
  src/improvements/script/check-state-overrides.sh
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Enforce roundtrip encoding on state overrides
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Revert "feat: sanity checks for state override strings (#1022)"
  .circleci/config.yml
  src/improvements/script/check-state-overrides.sh
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

keep eth/005 fix
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve error message
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
  src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comment
  src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  src/improvements/tasks/eth/015-transfer-l2pao-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update StateOverrideManager.sol
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more robust superchain-registry-check
  src/improvements/script/check-superchain-latest.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

clarifications
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove redundant check
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more robust superchain-registry-check (#1024)
  src/improvements/script/check-superchain-latest.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix test revert string
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

chore: add the function `get-keystore` and clean the code in nested + just
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

chore: add the `keystorePathBase` in global variable.
  nested.just
  single.just
Owners: @ethereum-optimism/evm-safety

feat: add the keystore for `nested.just` & `single.just`
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

eth 013 executed
  src/improvements/tasks/eth/013-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

eth 013 executed (#1025)
  src/improvements/tasks/eth/013-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bump the uni PAO transfer nonce
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add new template for addGameType
  foundry.toml
  src/improvements/template/AddGameTypeTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/012-add-game-type/.env
  test/tasks/example/sep/012-add-game-type/config.toml
  test/tasks/mock/configs/AddGameTypeTemplate.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add docs on how to support base's extra level of nesting (#1018)
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
