Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix nonce
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nonce bump
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix CI template regression test
  test/tasks/example/sep/008-opcm-upgrade-v400/.env
Owners: @ethereum-optimism/evm-safety

fix: normalized hashes fixed for asr proposal (#1053)
  .circleci/config.yml
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fix CI template regression test (#1066)
  test/tasks/example/sep/008-opcm-upgrade-v400/.env
Owners: @ethereum-optimism/evm-safety

Update CircleCI config to add conditional execution for slack notifications on the main branch
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

[Improvements] Sign & Approve & execute with private-key inputs for facilitators (#989)
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

perf: parallelize regression tests
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

normalized hash checking (#1058)
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: remove unused CI jobs
  .circleci/config.yml
  ops/verify-geth-endpoint.sh
Owners: @ethereum-optimism/evm-safety

perf: parallelize regression tests (#1067)
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Better Logging for RPC URL
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: typo
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: remove unused CI jobs (#1068)
  .circleci/config.yml
  ops/verify-geth-endpoint.sh
Owners: @ethereum-optimism/evm-safety

Update link to standard prestates (#1041)
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

chore: fix URL validation and improve error message readability (#748)
  script/utils/check-task-statuses.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix SystemConfig l1ERC721Bridge getter name (#785)
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update nonce
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update nonce
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update safeTxHash
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  src/improvements/template/GnosisSafeApproveHash.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

initial task scaffolding
  src/improvements/addresses.toml
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/.env
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/README.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing unit tests
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: allow xxx-y style numbering in CI check
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: update hash generation docs
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/template/GnosisSafeApproveHash.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: support xxx-y numbering convention for tasks
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: addressing pr comments, adding state overrides, choosing correct safe tx hash for approve hash task, adding in additional safety checks for hash checking and some misc improvements.
  src/improvements/README.md
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/template/GnosisSafeApproveHash.sol
  src/libraries/AccountAccessParser.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update readme and validations
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/README.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: base operations safe.
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit comment updated.
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the hdpath
  nested.just
Owners: @ethereum-optimism/evm-safety

chore: fix the hdpaths
  nested.just
  src/improvements/nested.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: remove unecessary space
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the single hd-path
  single.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: fix the hdpath (#1071)
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat(stack-signing): Added signing functionality to stacked tasks.
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/simulate-verify-task.sh
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
