Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Add sepolia nonces
  .circleci/config.yml
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update Sepolia StandardValidator address
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add nonces to all u16 sepolia upgrade tasks
  .circleci/config.yml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix simulate_sequence_sep task ids
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update CircleCI config to add conditional execution for slack notifications on the main branch
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

break a nonce to test
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix simulation block number in regression test for OPCMUpgradeV400.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

add files
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/README.md
  src/improvements/tasks/sep/020-transfer-l1pao-worldchain/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/.env
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Store stacked_simulation artifacts
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
  src/improvements/tasks/sep/020-worldchain-l1-ownership-transfers/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

print tail of stck-simulation output
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

print tail
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

print tail
  .circleci/config.yml
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: wrong nonce for 018-U16-remove-dgm
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix nonce on 018 remove DGM
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Clean up circle config
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix sim-sequence
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix-sim sequence
  src/improvements/nested.just
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix sim-sequence
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

forge gmt
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: normalized hashes fixed for asr proposal
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove console.logs
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md (#1046)
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md (#1045)
  tasks/sep/metal-002-fp-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Check dweth ownable closer to transfer point
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix type
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Allow L1PAO to transfer weth contracts it is not the owner() of (#1043)
  src/improvements/template/TransferOwners.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: the Utils feature
  script/utils/sim-sequence.sh
  src/improvements/nested.just
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rebase
  .circleci/config.yml
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: fixing unit tests
  src/improvements/tasks/sep/017-1-U16-opcm-upgrade-v400-base-approveHash/config.toml
  test/tasks/Regression.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit comment updated.
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit nonces added to 017-2-x
  src/improvements/tasks/sep/017-2-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  README.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/014-fjord-gas-config/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Add sepolia nonces
  .circleci/config.yml
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
