Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: shellcheck
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: fail on simulation submission but no error
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: show simulation data on simulation retrieval error
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: one last try at seeing what the response is
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: ok, let's see it now
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

debug: let's get clearer info for support
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/031-op-mainnet-pectra-defense/README.md
  tasks/eth/031-op-mainnet-pectra-defense/README.md
Owners: @ethereum-optimism/evm-safety

feat: out from ci, just a just command for the signers
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
  src/improvements/script/verify-task.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: use a library for the hash generation
  src/improvements/tasks/MultisigTask.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: create a separate just command for hash verification
  src/improvements/justfile
  src/improvements/script/simulate-task.sh
  src/improvements/script/simulate-verify-task.sh
  src/improvements/script/verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: forge fmt
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: shellcheck
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: oops
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

nit: one less file going around
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: shellcheck
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

pr feedback
  src/improvements/SimpleAddressRegistry.sol
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: state override pr comments.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/configs/NonceStateOverrideConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

pull in from private
  script/verification/CouncilFoundationNestedSign.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
  tasks/eth/031-uni-holocene-systemconfig-update/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

forge fmt
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update status
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

remove stale code
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

pull in from private
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

forge fmt
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

verify validation file
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Add expected (blob) base fee scalar overrides
  script/verification/HoloceneSystemConfigUpgrade.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add validation note and fix circle and other comments
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: can now pass through non padded values. Hex or uint256
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rebasing
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix build and add more clarity around usage.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Bumping the task to be 1st in queue
  .circleci/config.yml
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update NestedSignFromJson.s.sol
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

fix: tenderly state overrides being applied.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/eth/000-gas-config-template/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing debugging helper function. Need to add more tests.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/eth/000-gas-config-template/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
