Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: 017-U16 guardian nonce override (#1115)
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/017-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/017-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

sep: 020-gas-params-rehearsal-1-bn-0
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/addresses.json
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: safely allow duplicates when storing addresses from [addresses] section in toml files.
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding test for checked and unchecked saving of addresses.
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove empty test
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

nonces & fixes
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nonces & fixes
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add README.md and VALIDATION.md
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/.env
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/README.md
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/VALIDATION.md
  src/improvements/tasks/sep/020-gas-params-rehearsal-1-bn-0/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

overrides
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

overrides
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

u16-executed-status
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename UnPauseSuperchainConfigTemplate with V300 post fix
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/template/UnPauseSuperchainConfigTemplateV300.sol
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Pin unpause example task to working blokc
  test/tasks/example/sep/009-unpause-superchainConfig/.env
Owners: @ethereum-optimism/evm-safety

017 and 018
  src/improvements/tasks/sep/017-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix pinned block
  test/tasks/example/sep/009-unpause-superchainConfig/.env
Owners: @ethereum-optimism/evm-safety

fix: force users to add op-contract version to template name
  src/improvements/script/create-template.sh
  src/improvements/template/OPCMUpdatePrestate_v300.sol
  src/improvements/template/OPCMUpgrade_v200.sol
  src/improvements/template/OPCMUpgrade_v300.sol
  src/improvements/template/OPCMUpgrade_v400.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Executed status for 3 U16 sepolia runbooks (#1117)
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/sep/017-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dpm/README.md
  src/improvements/template/UnPauseSuperchainConfigTemplateV300.sol
  test/tasks/example/sep/009-unpause-superchainConfig/.env
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Disable nonce check on nested just execute
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: renaming template
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/template/UnPauseSuperchainConfig.sol
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(GnosisSafeHashes): moving functions into GnosisSafeHahses. (#1092)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/libraries/GnosisSafeHashes.sol
  src/libraries/MultisigTypes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: renaming template (#1120)
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/008-unpause-superchainConfig/config.toml
  src/improvements/template/UnPauseSuperchainConfig.sol
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Updating Security Council Rehearsals (step 1)
  security-council-rehearsals/step1/README.md
  src/improvements/script/create-task.sh
  src/improvements/script/sorted-tasks.sh
  src/improvements/template/WelcomeToSuperchainOps.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/example/eth/011-welcome-to-superchain-ops/.env
  test/tasks/example/eth/011-welcome-to-superchain-ops/config.toml
  test/tasks/example/sep/015-welcome-to-superchain-ops/.env
  test/tasks/example/sep/015-welcome-to-superchain-ops/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

nonce updates uni
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nonce updates uni (#1122)
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

dpm task fixes
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/016-U16-enable-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add remaining signers
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove foundation from dgm removal
  src/improvements/tasks/eth/020-U16-remove-dgm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ready to sign + remove dgm readme
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update date
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

date update
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

date update
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding rehearsal to cli
  src/improvements/script/create-task.sh
  src/improvements/script/sorted-tasks.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: target contract renaming
  test/tasks/example/sep/015-welcome-to-superchain-ops/config.toml
Owners: @ethereum-optimism/evm-safety

fix: ci fixed
  security-council-rehearsals/step1/README.md
  security-council-rehearsals/step1/images/1-simulation-success.png
  security-council-rehearsals/step1/images/2-state-diff.png
  security-council-rehearsals/step1/images/3-tenderly-hashes.png
  security-council-rehearsals/step1/images/4-tenderly-hashes.png
  src/improvements/addresses.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: update test task
  test/tasks/example/eth/011-welcome-to-superchain-ops/config.toml
Owners: @ethereum-optimism/evm-safety

fix: test for WelcomeToSuperchainOps template
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Adding accurate forge coverage command
  justfile
Owners: @ethereum-optimism/evm-safety
