Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

feat: Set correct outputroot in justfile
  tasks/sep/fp-recovery/005-set-game-implementation/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Update runbook
  tasks/holesky/002-pectra-defense-fix/NestedSignFromJson.s.sol
  tasks/holesky/002-pectra-defense-fix/README.md
  tasks/holesky/002-pectra-defense-fix/VALIDATION.md
  tasks/holesky/002-pectra-defense-fix/input.json
Owners: @ethereum-optimism/evm-safety

use safe addresses from addresses.toml file
  src/improvements/nested.just
  src/improvements/script/get-safe.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

adding a callout to the validation file
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

adding a callout to the validation file (#663)
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

apply fix from getUniqueWritesNew to getUniqueWrites
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add test_multi_writes_single_call
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

comment out call to printAccountAccesses
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

remove printAccountAccesses function
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: cleanup.
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: small clean ups.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: getUniqueWrites is returning the wrong account address (#656)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Enable Module Template (#624)
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/001-enable-deputy-pause-module/README.md
  src/improvements/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add superchainConfig
  src/improvements/AddressRegistry.sol
  test/registry/AddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add superchain network config
  test/registry/mock/onlySuperchainNetworkConfig.toml
Owners: @ethereum-optimism/evm-safety

add chain-governor safe
  src/improvements/addresses.toml
  src/improvements/script/get-safe.sh
  test/registry/AddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: shellcheck not working.
  src/improvements/script/get-safe.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix/nested just safes (#670)
  src/improvements/addresses.toml
  src/improvements/nested.just
  src/improvements/script/get-safe.sh
  test/registry/AddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Silence test failures until we have a long term fix.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: Silence test failures until we have a long term fix. (#671)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: Integrating new state diff decoding tool
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

cannon: Add prestate validation instructions
  validation/PRESTATE-VALIDATION.md
  validation/README.md
Owners: @ethereum-optimism/evm-safety

Tweak git remote params
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: no casting pr comments.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing unused imports.
  test/tasks/MultisigTask.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: fixed broken tests.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

feat: Integrating new state diff decoding tool (#672)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Actions/Childmultisig no longer global variables (#640)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ignore failing tests and reenable Re-enable CI failure notifications
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add expected data generation script command as comment, add helper methods
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

remove tenderly simulation for execute run
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix typo
  validation/PRESTATE-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

updating input and validation to reflect 40M gas limit
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

updating input and validation to reflect 40M gas limit (#680)
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

ignore failing tests and reenable Re-enable CI failure notifications (#675)
  .circleci/config.yml
  src/improvements/justfile
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

remove tenderly simulation for execute run (#677)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

pull in from private
  script/verification/CouncilFoundationNestedSign.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
  tasks/eth/031-uni-holocene-systemconfig-update/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

forge fmt
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
