Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Mark U16 tasks 016-021 as EXECUTED
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/OPCMUpgradeV200toV400.sol
  src/improvements/template/OPCMUpgradeV200toV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: use historical prestates for speedrun (#1147)
  src/improvements/template/OPCMUpgradeV200toV400.sol
  test/tasks/example/sep/019-u13-to-u16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix regression tests
  test/tasks/example/eth/004-fp-set-respected-game-type/.env
  test/tasks/example/eth/005-fp-update-retirement-timestamp/.env
Owners: @ethereum-optimism/evm-safety

Mark U16 tasks 016-021 as EXECUTED (#1148)
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
  test/tasks/example/eth/004-fp-set-respected-game-type/.env
  test/tasks/example/eth/005-fp-update-retirement-timestamp/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(MultisigTask): Remove root address state var
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetEIP1967Implementation.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfig.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/WelcomeToSuperchainOps.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the override to pause the superchain chain.
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

chore: add the config.toml + check that the superchain config is paused before pausing
  src/improvements/template/UnPauseSuperchainConfigv400.sol
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

U16 doc fixes (#1139)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(decode): Small performance change for decoding state diffs (#1138)
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename template
  src/improvements/template/UnPauseSuperchainConfigv400.sol
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

OPSC July 2025 Rehearsal 1 (#1140)
  security-council-rehearsals/README.md
  security-council-rehearsals/rehearsal-1-welcome/README.md
  security-council-rehearsals/rehearsal-1-welcome/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-1-welcome/images/2-state-diff.png
  security-council-rehearsals/rehearsal-1-welcome/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-1-welcome/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/README.md
  security-council-rehearsals/rehearsal-2-remove-signer/images/1-simulation-success.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/2-state-diff.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/3-tenderly-hashes.png
  security-council-rehearsals/rehearsal-2-remove-signer/images/4-tenderly-hashes.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/.env
  security-council-rehearsals/rehearsal-3-nested-upgrade/README.md
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/deploy-contracts-logs.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-1.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-hashes-2.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-overview-network.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/rehearsal-3-nested-upgrade/justfile
  src/improvements/script/check-task-names.sh
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/.env
  src/improvements/tasks/eth/rehearsals/2025-07-21-R1-welcome/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Mark U16 tasks 016-021 as READY TO SIGN (#1142)
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Correct AnchorStateRegistry storage interpretations in U16 VALIDATION files (#1141)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Improve ASR validation instructions (#1143)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the name of the previous template
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

Rename UnPauseSuperchainConfigv400.sol to UnpauseSuperchainConfigv400.sol
  src/improvements/template/UnpauseSuperchainConfigv400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename UnPauseSuperchainConfig.sol to UnpauseSuperchainConfig.sol
  src/improvements/template/UnpauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename
  src/improvements/template/UnpauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/UnpauseSuperchainConfigv400.sol
  src/improvements/template/UnpauseSuperchainConfigv400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the securitycouncil address in the config to make sure,this is simulated by the SC.
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

fmt the code
  src/improvements/template/UnpauseSuperchainConfigv400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Rename UnpauseSuperchainConfigv400.sol to UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update comment
  src/improvements/template/UnpauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mark U16 tasks 016-021 as EXECUTED (#1148)
  src/improvements/tasks/eth/016-U16-enable-dpm/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/020-U16-remove-dgm/README.md
  src/improvements/tasks/eth/021-U16-remove-dpm/README.md
  test/tasks/example/eth/004-fp-set-respected-game-type/.env
  test/tasks/example/eth/005-fp-update-retirement-timestamp/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add `regression.t.sol` for Unpausingtask.
  test/tasks/Regression.t.sol
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

change code errors + remove the number that can lead to confusion
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/UnpauseSuperchainConfig.sol
  src/improvements/template/UnpauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix comment
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

chore: fix the .env file
  test/tasks/example/sep/019-unpause-superchainConfig/.env
Owners: @ethereum-optimism/evm-safety

fix: regression
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

chore: fix comment in the config.toml
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

forge: fmt
  src/improvements/template/UnpauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat(multi-level-nesting): Support Multi-level Nesting
  src/improvements/justfile
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update UnpauseSuperchainConfigV400.sol
  src/improvements/template/UnpauseSuperchainConfigV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
