Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

update safe string natspec
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

AccountAccessParser: sorting functionality for slots within an address
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Unichain SystemConfig Update (#657)
  .circleci/config.yml
  script/verification/CouncilFoundationNestedSign.s.sol
  script/verification/HoloceneSystemConfigUpgrade.s.sol
  tasks/eth/unichain-001-holocene-systemconfig-update/.env
  tasks/eth/unichain-001-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/unichain-001-holocene-systemconfig-update/README.md
  tasks/eth/unichain-001-holocene-systemconfig-update/VALIDATION.md
  tasks/eth/unichain-001-holocene-systemconfig-update/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

AccountAccessParser: sorting functionality for slots within an address (#749)
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: integrate hash verification on nested.just
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-verify-task.sh
  src/improvements/script/verify-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add docs for it, use libstring and format json file
  src/improvements/doc/CALLDATA_DIFFERENCE.md
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

replace deprecated forge vm commands revertTo and snapshot
  src/improvements/tasks/MultisigTask.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: default to verify-local
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/simulate-task.sh
  src/improvements/script/verify-hashes-local.sh
  src/improvements/script/verify-hashes-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: accept an additional optional whichSafe parameter to single.just simulate and enable verification
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

style: order of logs, variable names, minor refactors
  src/improvements/nested.just
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: oops
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: shellcheck
  src/improvements/script/verify-hashes-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

replace deprecated forge vm commands revertTo and snapshot (#750)
  src/improvements/tasks/MultisigTask.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config for Aegir
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: I just learnt that you can pass parameters to forge script
  script/CalculateSafeHashes.s.sol
  src/improvements/script/verify-hashes-local.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update hashes
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update state diffs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add expected errors
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update calldata explanation
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update state diffs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Fix printing for simulations.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: grabbing the last 32 bytes of the encoded transaction data.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Finance template (#739)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/FinanceTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/005-test-finance-operation/README.md
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: remove double comments
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more robust file creation.
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: adding in assertions accidentally removed.
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Fixing flaky security council ci tasks.
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  security-council-rehearsals/templates/r4-jointly-upgrade/justfile
Owners: @ethereum-optimism/evm-safety

fix: r4-jointly-upgrade reads from foundry toml.
  security-council-rehearsals/templates/r4-jointly-upgrade/justfile
Owners: @ethereum-optimism/evm-safety

fix: fix warning message
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Fixing flaky security council ci tasks. (#752)
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  security-council-rehearsals/templates/r4-jointly-upgrade/justfile
Owners: @ethereum-optimism/evm-safety

fix: merged
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Incorrect Domain and Message Hash was being printed during task simulation (#751)
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix compilation errors
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/evm-safety

Run forge fmt
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/evm-safety

fix: remove set game type template as it wasn't being used in prod templates only in tests.
  src/improvements/README.md
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/OPMainnetSetGameTypeTemplate.toml
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Monorepo int tests failing because of TaskRunner.
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: getting childmultisig for task.
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Monorepo int tests failing because of TaskRunner. (#756)
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
