Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix sv
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove old task from ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

use sign commands
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fixed addresses
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add eth/005 runbook for Unichain Upgrade 14 (#896)
  .circleci/config.yml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

rename UpdateSystemConfigGasParams to SystemConfigGasParams
  src/improvements/template/SystemConfigGasParams.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/006-system-config-gas-params/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

template: SystemConfigGasParams (#903)
  src/improvements/template/SystemConfigGasParams.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/006-system-config-gas-params/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add signer
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Add in eth/005-base U14 (#894)
  .circleci/config.yml
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

task: eth/006-gas-params-op
  src/improvements/tasks/eth/006-gas-params-op/README.md
  src/improvements/tasks/eth/006-gas-params-op/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the 2/2 + single simulation from the superchain-ops v2
  script/utils/sim-sequence.sh
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tight variable packing for uint supported in account access parser
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add VALIDATION.md
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tight variable packing for uint supported in account access parser (#907)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Adapt template files to arena-z task
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
  tasks/eth/arena-z-001-fp-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Hardcode nonces
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update message hashes
  tasks/eth/arena-z-001-fp-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: added functionality to not try and decode shared slots. Will implement this functionality in a later PR.
  src/improvements/template/SystemConfigGasParams.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Commenting safe nonces in env
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
Owners: @ethereum-optimism/evm-safety

fix: pr comment.
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added error message reasons.
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: U14 mainnet - op,ink,soneium (#890)
  .circleci/config.yml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/.env
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/images/opcm-storage-layout.png
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: add task for DelayedWETH ownership xfer
  src/improvements/single.just
  src/improvements/tasks/eth/007-delayedweth-xfer/.env
  src/improvements/tasks/eth/007-delayedweth-xfer/README.md
  src/improvements/tasks/eth/007-delayedweth-xfer/VALIDATION.md
  src/improvements/tasks/eth/007-delayedweth-xfer/config.toml
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/007-delayedweth-xfer/README.md
  test/tasks/example/eth/007-delayedweth-xfer/config.toml
  test/tasks/mock/configs/DelayedWETHOwnershipTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update calldata in VALIDATION.md
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix VALIDATION.md signing instructions
  src/improvements/tasks/eth/006-gas-params-op/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update README.md status
  src/improvements/tasks/eth/006-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
