Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update to also setInitBonds
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refactoring code to simplify logic
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: simplifying function names
  src/improvements/nested.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: validation function made more generic
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moved around print functions and made multisigtask smaller.
  0x45774ca2f23bd91e8014fb16b66a316f7f8d8f9259f7c4649133e6d07dfd3900.toml
Owners: @ethereum-optimism/evm-safety

refactor(GnosisSafeHashes): moving functions into GnosisSafeHahses.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed test files.
  0x45774ca2f23bd91e8014fb16b66a316f7f8d8f9259f7c4649133e6d07dfd3900.toml
Owners: @ethereum-optimism/evm-safety

fix: removed function that was reintroduced.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removing unused function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleaner printing for safe info.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTaskPrinter.sol
  src/libraries/MultisigTypes.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moved more functions around. MultisigTask under 1000 lines for the first time.
  0x249cf7488c343c627367bfa78e4416766ff7b9be5cad23ae8a40679a084d6775.toml
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: removed test files.
  0x249cf7488c343c627367bfa78e4416766ff7b9be5cad23ae8a40679a084d6775.toml
Owners: @ethereum-optimism/evm-safety

Update sol with hardcoded bonds
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: TOML file structure improved and struct must be alphabetical.
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config toml and sol
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update test/tasks/example/sep/014-set-dispute-game-impl/config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/template/SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

SetDisputeGameImpl Template + test task (#1084)
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/014-set-dispute-game-impl/.env
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.toml
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update task files
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/README.md
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/VALIDATION.md
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

understanding calldata sections
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

readmes and value update
  src/improvements/tasks/eth/014-U16-enable-dpm/README.md
  src/improvements/tasks/eth/014-U16-enable-dpm/config.toml
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/eth/019-U16-remove-dgm/README.md
  src/improvements/tasks/eth/019-U16-remove-dgm/config.toml
  src/improvements/tasks/eth/020-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update links
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
