Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Update NestedSignFromJson.s.sol
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: using gnosis safe enum types and reverting if it's not delegatecall or call.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't rename AddressRegistry imports.
  src/improvements/script/create-template.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Prateek/opcm base (#606)
  src/improvements/script/create-template.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update env and NestedSign
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/.env
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

chore: fix ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

ci: add testing for sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix using the new image
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

ci: fix mise
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

move to src/libraries
  src/libraries/StateDiffDecoder.sol
  tasks/sep/zora-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove IAddressRegistry
  src/improvements/AddressRegistry.sol
  src/improvements/IAddressRegistry.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove ITask
  src/improvements/tasks/ITask.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add the block number as parameter to fork where we wants.
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: block number into the ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

ci: remove warning from ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: add just clean to make sure the cache is not poisoned.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

ci: fix ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: removing the types from the file
  tasks/eth/ink-001-permissionless-proofs/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

change MultisigTask based on Solomon's feedback
  src/improvements/tasks/ITask.sol
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update simulateRun function signature
  src/improvements/doc/CALLDATA_DIFFERENCE.md
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update interface to return state diff and accept signatures as a parameter
  src/improvements/tasks/ITask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update multisig task, fix issue in simulate function around signature ordering, add signatures param to simulateRun function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add signature param to simulateRun function call
  src/improvements/tasks/Runner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add multisig to _taskStorageWrites
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix tests, remove call to executeRun
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/evm-safety

add AccountAccess parameter
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add checkStateDiff, add proxyAdminOwner to taskStorageWrites, lock Solidity version
  src/improvements/template/TestOPCMUpgradeVxyz.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add ignore to forge build for unreachable code and contracts over bytecode limit
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add MIT spdx license identifier
  src/improvements/tasks/Runner.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add safe to _taskStorageWrites automatically
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove TODO comment
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: `SIMULATE_SEQUENCE` + README.md
  SIMULATE_SEQ.md
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update SIMULATE_SEQ.md
  SIMULATE_SEQ.md
  nested.just
Owners: @ethereum-optimism/evm-safety

clean up
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SIMULATE_SEQ.md
  SIMULATE_SEQ.md
Owners: @ethereum-optimism/evm-safety

wip: show how checkStateDiff should be implemented
  .circleci/config.yml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: remove unused virtual keywords
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: pull state diff processing into its own library
  src/libraries/StateDiffProcessor.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
