Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maurelian, @zchn, @mds1, @sbvegan, @blmalone, @ZakAyesh, @OPMattie, @ethereum-optimism/contract-reviewers

ci: update ci builder image
  .circleci/config.yml
Owners: @maurelian, @zchn, @mds1

fix: add env file
  tasks/sep/mode-001-MCP-L1/.env
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

--wip--
  script/NestedSignFromJson.s.sol
  src/JsonTxBuilderBase.sol
  tasks/sep/006-exit-window/NestedSignFromJson.s.sol
  tasks/sep/006-exit-window/README.md
Owners: @ethereum-optimism/contract-reviewers

ctb: Copy over eth/006-MCP-L1
  tasks/sep/006-exit-window/.env
  tasks/sep/006-exit-window/NestedSignFromJson.s.sol
  tasks/sep/006-exit-window/README.md
  tasks/sep/006-exit-window/VALIDATION.md
  tasks/sep/006-exit-window/input.json
Owners: @ethereum-optimism/contract-reviewers

foo
  tasks/sep/metal-001-MCP-L1/foo.tmp
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

fix: skip writes in slot checks
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

fix: skip writes in slot checks (#148)
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

fix: skip writes in slot checks
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

fixes to validation file
  tasks/sep/mode-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

fix: small word change for metal sepolia.
  tasks/sep/metal-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Update tasks/sep/mode-001-MCP-L1/VALIDATION.md
  tasks/sep/mode-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

tasks(sep/mode): add Mode Sepolia MCP L1 playbook (#139)
  .circleci/config.yml
  tasks/sep/mode-001-MCP-L1/.env
  tasks/sep/mode-001-MCP-L1/README.md
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
  tasks/sep/mode-001-MCP-L1/VALIDATION.md
  tasks/sep/mode-001-MCP-L1/input.json
Owners: @maurelian, @zchn, @mds1, @sbvegan, @blmalone

Add forge jobs to workflows
  .circleci/config.yml
Owners: @maurelian, @zchn, @mds1

Update ci-builder
  .circleci/config.yml
Owners: @maurelian, @zchn, @mds1

print forge version
  .circleci/config.yml
Owners: @maurelian, @zchn, @mds1

forge fmt
  src/JsonTxBuilderBase.sol
Owners: @ethereum-optimism/contract-reviewers

fix: small word change for metal sepolia. (#150)
  tasks/sep/metal-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Add forge jobs to workflows (#149)
  .circleci/config.yml
  src/JsonTxBuilderBase.sol
Owners: @maurelian, @zchn, @mds1, @ethereum-optimism/contract-reviewers

task(mode-sep-MCP): set as READY TO SIGN
  tasks/sep/mode-001-MCP-L1/README.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Revert "Remove from metal ceremony"
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Remove from metal ceremony
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Move state diff checking to JsonTxBuilderBase
  src/JsonTxBuilderBase.sol
Owners: @ethereum-optimism/contract-reviewers

Apply overrides
  src/JsonTxBuilderBase.sol
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @sbvegan, @mds1, @blmalone, @maurelian, @zchn

task(mode-sep-MCP): set as READY TO SIGN (#151)
  tasks/sep/mode-001-MCP-L1/README.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Remove from metal ceremony
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Add missing exceptions
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

remove from mode ceremony
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

Address feedback
  script/NestedSignFromJson.s.sol
  script/SignFromInputJson.s.sol
  script/SignFromJson.s.sol
  src/JsonTxBuilderBase.sol
Owners: @ethereum-optimism/contract-reviewers

Address more feedback
  src/JsonTxBuilderBase.sol
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @sbvegan, @mds1, @blmalone, @maurelian, @zchn

post check emits a warning
  script/NestedSignFromJson.s.sol
  script/SignFromInputJson.s.sol
  script/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers

Update src/JsonTxBuilderBase.sol
  src/JsonTxBuilderBase.sol
Owners: @ethereum-optimism/contract-reviewers

Move state diff checking to JsonTxBuilderBase (#146)
  src/JsonTxBuilderBase.sol
  tasks/sep/metal-001-MCP-L1/SignFromJson.s.sol
  tasks/sep/mode-001-MCP-L1/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @sbvegan, @mds1, @blmalone, @maurelian, @zchn

chore: update task statuses
  tasks/sep/metal-001-MCP-L1/README.md
  tasks/sep/mode-001-MCP-L1/README.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

chore: update task statuses (#154)
  tasks/sep/metal-001-MCP-L1/README.md
  tasks/sep/mode-001-MCP-L1/README.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

feat: Mode 001 MCP-L1 Upgrade.
  tasks/eth/mode-001-MCP-L1/.env
  tasks/eth/mode-001-MCP-L1/NestedSignFromJson.s.sol
  tasks/eth/mode-001-MCP-L1/README.md
  tasks/eth/mode-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

adding zora sepolia task
  tasks/sep/zora-001-MCP-L1/.env
  tasks/sep/zora-001-MCP-L1/README.md
  tasks/sep/zora-001-MCP-L1/SignFromJson.s.sol
  tasks/sep/zora-001-MCP-L1/VALIDATION.md
Owners: @sbvegan, @ZakAyesh, @OPMattie

generated the tx bundle
  tasks/sep/zora-001-MCP-L1/input.json
Owners: @sbvegan, @ZakAyesh, @OPMattie

updatin SignFromJson with Zora Sepolia values
  tasks/sep/zora-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @ZakAyesh, @OPMattie

fixing checksum addresses
  tasks/sep/zora-001-MCP-L1/SignFromJson.s.sol
Owners: @sbvegan, @ZakAyesh, @OPMattie

fix: mode mainnet mcp about to do simulate.
  tasks/eth/mode-001-MCP-L1/NestedSignFromJson.s.sol
  tasks/eth/mode-001-MCP-L1/README.md
  tasks/eth/mode-001-MCP-L1/SignFromJson.s.sol
  tasks/eth/mode-001-MCP-L1/VALIDATION.md
  tasks/eth/mode-001-MCP-L1/input.json
Owners: @sbvegan, @mds1, @blmalone, @maurelian, @zchn

.github/CODEOWNERS:

*                   @maurelian @zchn @mds1

/tasks/eth          @maurelian @zchn @mds1 
/tasks/eth/metal-*  @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/eth/mode-*   @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/eth/base-*   @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/eth/zora-*   @sbvegan @ZakAyesh @OPMattie

/tasks/sep          @ethereum-optimism/contract-reviewers
/tasks/sep/metal-*  @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/sep/mode-*   @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/sep/base-*   @sbvegan @mds1 @blmalone @maurelian @zchn
/tasks/sep/zora-*   @sbvegan @ZakAyesh @OPMattie

/tasks/oeth         @maurelian @zchn @mds1

/script             @ethereum-optimism/contract-reviewers
/src                @ethereum-optimism/contract-reviewers
