Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: some refactoring for testing purposes.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: state overrides working for tenderly link
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: state override tests added.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update .env
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Ink Mainnet Holocene FP (#625)
  .circleci/config.yml
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

fix: cleaned up functions.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleanup
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Update README.md (#728)
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: breaking out state override functionality in progress.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Using StateOverrideManager to manage the new state variable.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moved tests out into their own file.
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: check safe version
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add SimpleBase contract, remove L2TaskBase hacks
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update empty template to override taskType()
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update EnableDeputyPauseModuleTemplate from L2TaskBase to SimpleBase
  src/improvements/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update isNestedTask to include SimpleBase type tasks
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add natspec
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't have to combine arrays. Simply put user defined state overrides after default ones.
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: only apply state overrides on simulation.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove logs
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove lib from L2TaskBase
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Generic State Overrides (#727)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update PR after new AP cut
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/.env
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/README.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

pr feedback
  src/improvements/script/get-rpc-url.sh
  test/registry/SimpleAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Load hardcoded addresses simple address registry (#716)
  foundry.toml
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/script/get-rpc-url.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

StateOverrideManager refactor and NatSpec
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make StateOverrideManager abstract.
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added additional test that ensures we can use addresses in the value field.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

feat: OPCM Upgrade 13
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/.env
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  src/improvements/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit removed unused import
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: refactor to template for opcm v200 work.
  0x1bee29a54a1830b78a22dbd9ddc79778577271431bf6aaad8240722efa43418d.toml
  0x21edb977c52c331b8c288ac553e1b5a546e24cdf36ed78aaff6505c86280d61a.toml
  0x3284ea525bb8c7a23a7f5284cd4d8c0fe5468cf74350c14c5a82b0ee3be9da19.toml
  0x6330cf8aa73ae04c5a1ea591148be69f1cc134b01bc28f62cbdedaa104690bc9.toml
  0x7ca805de0b3f222f010ec477392485e332dd7acd7e2e4c1c543fae8fe8771a04.toml
  0x8abbd35166446ad0cc07715e4e2e9292aee19f1fadb937d9aa77faeb5fb84692.toml
  0x91cbaf9b3adb81fa976138891446233af7010cfada8da0179b89e93016242469.toml
  0xe9bdc4751a50e69f5b33030f534e8dad44468a505906897f3666d6c4a9f08c37.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers
