Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

chore: update the name
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: v1.1.0
  mise.toml
Owners: @ethereum-optimism/evm-safety

docs: update
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cast and anvil version increased.
  mise.toml
Owners: @ethereum-optimism/evm-safety

feat: improved validation flow
  tui/data.go
  tui/main.go
  tui/validation.json
Owners: @ethereum-optimism/evm-safety

chore: review fix by kelvin
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: forge fmt
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add dynamic
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Slot variable packing decoded (#915)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: startPrank works as expected with Foundry update (#889)
  mise.toml
  src/improvements/README.md
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: fix the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: mark gas target increase task as cancelled.
  src/improvements/tasks/eth/006-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: mark gas target increase task as cancelled. (#942)
  src/improvements/tasks/eth/006-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the nonce to `106`
  src/improvements/tasks/eth/011-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/011-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

U15 reports
  src/improvements/tasks/eth/008-opcm-update-prestate-v300-op+ink/008-report.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-uni/009-report.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

task: eth/008-gas-params-op
  src/improvements/tasks/eth/008-gas-params-op/README.md
  src/improvements/tasks/eth/008-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/008-gas-params-op/config.toml
  src/improvements/tasks/eth/008-gas-params-op/images/storage_layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix stale references to task 006
  src/improvements/tasks/eth/008-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove confusing reference to gasLimit change
  src/improvements/tasks/eth/008-gas-params-op/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: zero out AST retirementTimestamp
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added test to make sure the normalized hash remains consistent.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: function sig change back.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

task: eth/008-gas-params-op (#944)
  src/improvements/tasks/eth/008-gas-params-op/README.md
  src/improvements/tasks/eth/008-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/008-gas-params-op/config.toml
  src/improvements/tasks/eth/008-gas-params-op/images/storage_layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[DeputyPauseModule] Add activation task on Mainnet (#937)
  .circleci/config.yml
  src/improvements/tasks/eth/010-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/010-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/010-deputy-pause-module-activation/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: dir remame.
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/.env
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/VALIDATION.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: renaming dirs
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/config.toml
  src/improvements/tasks/eth/011-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: stacked sim covers all tasks in new repo
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

eth/009: Isthmus OPCM.updatePrestate for OPM and Ink (#925)
  .circleci/config.yml
  NESTED-VALIDATION.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/.env
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/README.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/VALIDATION.md
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

eth/010: Isthmus OPCM.updatePrestate for Unichain (#932)
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/.env
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/config.toml
  src/improvements/tasks/eth/011-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/011-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename the task 011 -> 012
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/eth/012-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the failing CI since we are using the native stackSimulation by @blaine
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

bug: All child multisig safes have their nonces checked.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: clean up
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more info in readme around ordering for stacked simulations.
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add Spearbit review reports for OPCM update prestate tasks
  src/improvements/tasks/eth/009-opcm-update-prestate-v300-op+ink/009-report.md
  src/improvements/tasks/eth/010-opcm-update-prestate-v300-uni/010-report.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: update the number accordingly
  src/improvements/tasks/eth/012-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bug: All child multisig safes must have their nonces checked. (#946)
  src/improvements/README.md
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: zero out AST retirementTimestamp (duplicate)
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
