Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Add upgrade task for base sepolia
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add TENDERLY_GAS envar
  src/improvements/tasks/sep/003-opcm-upgrade-v300/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Use whitespace consistently in nested.md
  src/improvements/NESTED.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add opcm upgrade task for base mainnet
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Copy template OPCMUpgradeV200 to V300
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add mainnet opcm upgrade for op, ink, soneium
  src/improvements/tasks/eth/003-opcm-upgrade-v300/.env
  src/improvements/tasks/eth/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Pull in v3 StandardValidator
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Embed StandardValidator interface
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Start reworking validation, add some todos
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update message hash and fix links in sepolia runbooks (#782)
  test-file.txt
Owners: @ethereum-optimism/evm-safety

delete and tests
  test-file.txt
Owners: @ethereum-optimism/evm-safety

Update single.just
  single.just
Owners: @ethereum-optimism/evm-safety

refactor: execTransaction not using try/catch
  src/improvements/tasks/MultisigTask.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: console.log to make sure we know what was passed to the exec function in debugging.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Renumber tasks, bump tenderly gas
  src/improvements/tasks/sep/003-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: added fork block functionality to simulations.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr nits.
  src/improvements/nested.just
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/example/sep/002-opcm-upgrade-v200/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add AddressManager to storageWrites array with some notes
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

In progress - try to customize errors strings per chain
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: execTransaction not using try/catch + allowing specific gas limits to be passed (#787)
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/example/sep/002-opcm-upgrade-v200/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Revert "In progress - try to customize errors strings per chain"
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update expected errors and add validation.
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: removed a level of functions
  src/libraries/DecimalNormalization.sol
  test/libraries/DecimalNormalization.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

shellcheck pass
  src/improvements/script/test-just-new.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

do not use json
  .gitignore
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

...
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

...
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

...
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

...
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix import issue in new UniFix template
  src/improvements/template/UniFix.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix config
  src/improvements/tasks/eth/001-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Choose task type in just new recipe (#775)
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/script/create-template.sh
  src/improvements/script/test-just-new.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMBaseTask.sol
  src/improvements/tasks/types/SimpleBase.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/improvements/template/UniFix.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix failing test
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

first pass
  src/improvements/tasks/eth/001-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add disclaimer
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

forge fmt
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better instructions
  src/improvements/justfile
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better natspec on justfile
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update status of v200 sepolia for OP, Soneium, Ink
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
