Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Update src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: PR comments addressed
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/example/eth/008-transfer-l2pao/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleanup based on previous PR review.
  src/improvements/template/TransferOwners.sol
  test/tasks/example/eth/009-transfer-owners/.env
  test/tasks/example/eth/009-transfer-owners/README.md
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cache the active chain info once.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

start u16 sepolia tasks
  src/improvements/tasks/sep/013-opcm-upgrade-v400-superchain/.env
  src/improvements/tasks/sep/013-opcm-upgrade-v400-superchain/README.md
  src/improvements/tasks/sep/013-opcm-upgrade-v400-superchain/config.toml
  src/improvements/tasks/sep/014-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: approve is now with private-key requirements
  nested.just
  src/improvements/nested.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: Execute got the flag aswell
  nested.just
Owners: @ethereum-optimism/evm-safety

chore: update the new superchain-opsv2 also
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: also update the single.just
  single.just
Owners: @ethereum-optimism/evm-safety

chore: update the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: mark task as executed
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

more changes
  src/improvements/tasks/sep/013-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/013-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/013-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/013-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/013-opcm-upgrade-v400-superchain/config.toml
  src/improvements/tasks/sep/014-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-worldchain/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

start readmes
  src/improvements/tasks/sep/013-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: mark task as executed
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

chore: update the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Mark as executed arena-z + swell (#990)
  .circleci/config.yml
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: added docs for simulating the L2 tx.
  src/improvements/doc/images/tenderly-raw-input-data.png
  src/improvements/doc/images/tenderly-simulation-link.png
  src/improvements/doc/images/tenderly-tx-deposited-event.png
  src/improvements/doc/images/tenderly-tx-parameters.png
  src/improvements/doc/images/unalias-via-chisel.png
  src/improvements/doc/simulate-l2-ownership-transfer.md
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: Mention precedence when using addresses table in config.toml
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: Mention precedence when using addresses table in config.toml (#992)
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: referencing the tenderly simulation
  src/improvements/template/TransferL2PAOFromL1.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make tenderly link more generic
  src/improvements/doc/simulate-l2-ownership-transfer.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: changes chisel commands so they can be copied.
  src/improvements/doc/images/unalias-via-chisel.png
  src/improvements/doc/simulate-l2-ownership-transfer.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/doc/simulate-l2-ownership-transfer.md
  src/improvements/doc/simulate-l2-ownership-transfer.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add overrides
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix comments
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add addresses.ProxyAdminOwner
  src/improvements/tasks/sep/014-opcm-upgrade-v400-uni-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: TransferL2PAOFromL1 (#969)
  src/improvements/doc/images/tenderly-raw-input-data.png
  src/improvements/doc/images/tenderly-simulation-link.png
  src/improvements/doc/images/tenderly-tx-deposited-event.png
  src/improvements/doc/images/tenderly-tx-parameters.png
  src/improvements/doc/simulate-l2-ownership-transfer.md
  src/improvements/script/get-rpc-url.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/003-transfer-owner-template/.env
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/eth/008-transfer-l2pao/.env
  test/tasks/example/eth/008-transfer-l2pao/config.toml
  test/tasks/mock/configs/TransferProxyAdminOwnerConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: addressed PR comments.
  src/improvements/template/TransferOwners.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit removed unused state var.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: unichain sepolia L1 ownership transfers
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/sep/015-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/015-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/015-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/015-l1-ownership-transfers-uni/config.toml
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: reverted md change
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

change naming
  src/improvements/tasks/sep/015-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/016-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/017-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/017-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/017-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/017-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/types/L2TaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove state overrides
  src/improvements/tasks/sep/016-opcm-upgrade-v400-uni-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: updated dir name
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/.env
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/README.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

change directories & readmes
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/.env
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/README.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/VALIDATION.md
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/.env
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: VALIDATION.md file completed.
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Refresh task config after each stacked simulation is executed.
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
