Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: three separate jobs
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: added additional nonce changes. Not currently sure why the game type impls have nonce increases.
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed white space
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: eip161 clarity.
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments and ci tasks.
  .circleci/config.yml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: reviewed unichain state diffs on sepolia again given recent main fixes.
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: state validations completed for unichain sepolia.
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit styling.
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding comments into code for future fixes and clarification for signers.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: I can submit simulations again
  src/improvements/script/simulate-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: optional gas and block parameters
  src/improvements/script/simulate-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the readme + validation
  src/improvements/tasks/sep/004-deputy-pause-module-activation/README.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix simulate
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

docs: Tenderly bug - mention in NESTED.md
  NESTED.md
Owners: @ethereum-optimism/evm-safety

fix: better logs
  src/improvements/justfile
  src/improvements/script/simulate-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: config.toml needs to have the short/long safe name equivalences
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: verify json again, and remove files correctly
  src/improvements/script/simulate-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Unichain U13 Sepolia & mainnet (#784)
  .circleci/config.yml
  NESTED-VALIDATION.md
  src/improvements/script/get-safe.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/eth/002-opcm-upgrade-v200/.env
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/README.md
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/VALIDATION.md
  src/improvements/tasks/sep/002-unichain-superchain-config-fix/config.toml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

docs: Tenderly bug - mention in NESTED.md (#815)
  NESTED.md
Owners: @ethereum-optimism/evm-safety

fix ci
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

Update SignFromJson.s.sol
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

use new multicall3NoValueCheck
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMBaseTask.sol
  src/improvements/tasks/types/SimpleBase.sol
  src/improvements/template/FinanceTemplate.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update regression tests
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

chore: remove unnecessary comment
  src/improvements/tasks/sep/004-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove comment
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: remove the `simulate` added into the jobs.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix `single simulate` ci.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: fix with latest single_just
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: remove command `simulate`
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: add the template + code for DPM mainnet
  src/improvements/tasks/eth/003-deputy-pause-module-activation/README.md
  src/improvements/tasks/eth/003-deputy-pause-module-activation/VALIDATION.md
  src/improvements/tasks/eth/003-deputy-pause-module-activation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add in ci the `eth/003-deputy-pause-module-activation`
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

set status to executed
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update SignFromJson.s.sol
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Delete ink.toml
  tasks/sep/ink-004-enable-permissionless-game/ink.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update env and nested sign
  tasks/sep/ink-003-set-init-bond/.env
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove ci task
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Executed Sepolia 001-opcm-upgrade-v200 (#817)
  .circleci/config.yml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

removed delayedWeth expectedErrors:
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
