Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: remove old template for removing signer and updated readme
  security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-2-remove-signer/images/1-simulation-success.png
  security-council-rehearsals/step-2-remove-signer/images/2-state-diff.png
  security-council-rehearsals/step-2-remove-signer/images/3-tenderly-hashes.png
  security-council-rehearsals/step-2-remove-signer/images/4-tenderly-hashes.png
  security-council-rehearsals/step-2/README.md
  security-council-rehearsals/templates/r2-remove-signer/.env
  security-council-rehearsals/templates/r2-remove-signer/SignFromJson.s.sol
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-hashes-1.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-hashes-2.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-overview-network.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-state-changes.png
  security-council-rehearsals/templates/r2-remove-signer/input.json
  security-council-rehearsals/templates/r2-remove-signer/justfile
  test/tasks/example/eth/012-gnosis-safe-remove-owner-rehearsal/.env
  test/tasks/example/eth/012-gnosis-safe-remove-owner-rehearsal/config.toml
Owners: @ethereum-optimism/evm-safety

fix: overhauled how single signer gets applied to simulation and made the remove owner task work with printing the tenderly simulation link.
  security-council-rehearsals/step-2/README.md
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/016-gnosis-safe-remove-owner/.env
  test/tasks/example/sep/016-gnosis-safe-remove-owner/config.toml
  test/tasks/example/sep/017-gnosis-safe-remove-owner-rehearsal/.env
  test/tasks/example/sep/017-gnosis-safe-remove-owner-rehearsal/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: comment from the other PR
  security-council-rehearsals/step-1-welcome/README.md
Owners: @ethereum-optimism/evm-safety

fix: small natspec
  src/improvements/template/GnosisSafeRemoveOwner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety

Update security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-2-remove-signer/README.md
Owners: @ethereum-optimism/evm-safety

Update src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Updating Security Council Rehearsals (step 2 - remove signer) (#1128)
  security-council-rehearsals/step-1-welcome/README.md
  security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-2-remove-signer/images/1-simulation-success.png
  security-council-rehearsals/step-2-remove-signer/images/2-state-diff.png
  security-council-rehearsals/step-2-remove-signer/images/3-tenderly-hashes.png
  security-council-rehearsals/step-2-remove-signer/images/4-tenderly-hashes.png
  security-council-rehearsals/templates/r2-remove-signer/.env
  security-council-rehearsals/templates/r2-remove-signer/SignFromJson.s.sol
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-hashes-1.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-hashes-2.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-overview-network.png
  security-council-rehearsals/templates/r2-remove-signer/images/tenderly-state-changes.png
  security-council-rehearsals/templates/r2-remove-signer/input.json
  security-council-rehearsals/templates/r2-remove-signer/justfile
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/012-gnosis-safe-remove-owner-rehearsal/.env
  test/tasks/example/eth/012-gnosis-safe-remove-owner-rehearsal/config.toml
  test/tasks/example/sep/016-gnosis-safe-remove-owner/.env
  test/tasks/example/sep/016-gnosis-safe-remove-owner/config.toml
  test/tasks/example/sep/017-gnosis-safe-remove-owner-rehearsal/.env
  test/tasks/example/sep/017-gnosis-safe-remove-owner-rehearsal/config.toml
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: added SetEIP1967Impl template and finished first pass at the rehearsal step 3 instructions.
  script/DeployNestedRehearsal.sol
  security-council-rehearsals/step-1-welcome/README.md
  security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-3-nested-upgrade/.env
  security-council-rehearsals/step-3-nested-upgrade/README.md
  security-council-rehearsals/step-3-nested-upgrade/images/deploy-contracts-logs.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-hashes-1.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-hashes-2.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-overview-network.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/step-3-nested-upgrade/justfile
  security-council-rehearsals/templates/r4-jointly-upgrade/.env
  security-council-rehearsals/templates/r4-jointly-upgrade/NestedSignFromJson.s.sol
  security-council-rehearsals/templates/r4-jointly-upgrade/README.md
  security-council-rehearsals/templates/r4-jointly-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/templates/r4-jointly-upgrade/input.json
  security-council-rehearsals/templates/r4-jointly-upgrade/justfile
  src/improvements/justfile
  src/improvements/script/get-safe.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/SetEIP1967Implementation.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/example/sep/018-set-eip1967-impl/.env
  test/tasks/example/sep/018-set-eip1967-impl/addresses.json
  test/tasks/example/sep/018-set-eip1967-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added a regression test for SetEIP1967Impl contract.
  src/improvements/template/SetEIP1967Implementation.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update security-council-rehearsals/step-3-nested-upgrade/README.md
  security-council-rehearsals/step-3-nested-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

Add missing approvedHashes entry
  src/improvements/tasks/eth/016-U16-enable-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Updating Security Council Rehearsals (step 3 - nested upgrade) (#1132)
  script/DeployNestedRehearsal.sol
  security-council-rehearsals/step-1-welcome/README.md
  security-council-rehearsals/step-2-remove-signer/README.md
  security-council-rehearsals/step-3-nested-upgrade/.env
  security-council-rehearsals/step-3-nested-upgrade/README.md
  security-council-rehearsals/step-3-nested-upgrade/images/deploy-contracts-logs.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-hashes-1.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-hashes-2.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-overview-network.png
  security-council-rehearsals/step-3-nested-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/step-3-nested-upgrade/justfile
  security-council-rehearsals/templates/r4-jointly-upgrade/.env
  security-council-rehearsals/templates/r4-jointly-upgrade/NestedSignFromJson.s.sol
  security-council-rehearsals/templates/r4-jointly-upgrade/README.md
  security-council-rehearsals/templates/r4-jointly-upgrade/images/tenderly-state-diff.png
  security-council-rehearsals/templates/r4-jointly-upgrade/input.json
  security-council-rehearsals/templates/r4-jointly-upgrade/justfile
  src/improvements/justfile
  src/improvements/script/get-safe.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeRemoveOwner.sol
  src/improvements/template/SetEIP1967Implementation.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/018-set-eip1967-impl/.env
  test/tasks/example/sep/018-set-eip1967-impl/addresses.json
  test/tasks/example/sep/018-set-eip1967-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Some fixes to module management tasks
  src/improvements/tasks/eth/020-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/eth/021-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add missing approvedHashes entry (#1135)
  src/improvements/tasks/eth/016-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/eth/020-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/eth/021-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Upgrade 16 readme fixes (#1134)
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/019-U16-opcm-upgrade-v400-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding fallback address.json file to all test tasks for performance.
  test/tasks/example/eth/004-fp-set-respected-game-type/config.toml
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/example/eth/006-system-config-gas-params/config.toml
  test/tasks/example/eth/008-transfer-l2pao/config.toml
  test/tasks/example/eth/009-transfer-owners/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
  test/tasks/example/sep/008-opcm-upgrade-prestate-v300/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/evm-safety

chore: remove the previous code for sep 017
  src/improvements/tasks/sep/017-unpauseu16/README.md
  src/improvements/tasks/sep/017-unpauseu16/VALIDATION.md
  src/improvements/tasks/sep/017-unpauseu16/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add force fallback usage flag to config.toml file.
  src/improvements/README.md
  src/improvements/SuperchainAddressRegistry.sol
  test/tasks/example/eth/004-fp-set-respected-game-type/config.toml
  test/tasks/example/eth/005-fp-update-retirement-timestamp/config.toml
  test/tasks/example/eth/006-system-config-gas-params/config.toml
  test/tasks/example/eth/008-transfer-l2pao/config.toml
  test/tasks/example/eth/009-transfer-owners/config.toml
  test/tasks/example/eth/010-transfer-owners-local/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
  test/tasks/example/sep/008-opcm-upgrade-prestate-v300/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
  test/tasks/example/sep/009-unpause-superchainConfig/config.toml
  test/tasks/example/sep/013-gnosis-safe-approve-hash/config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
  test/tasks/example/sep/018-set-eip1967-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added unichain sepolia addresses for specific block.
  test/tasks/example/sep/004-replace-superchain-config/addresses.json
  test/tasks/example/sep/004-replace-superchain-config/config.toml
Owners: @ethereum-optimism/evm-safety

fix: fixing broken ci.
  test/tasks/example/sep/002-opcm-upgrade-v200/addresses.json
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/addresses.json
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/evm-safety

chore: rename and clean the template
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
  test/tasks/example/eth/013-unpause-superchainConfig/.env
  test/tasks/example/eth/013-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the .env file
  test/tasks/example/eth/013-unpause-superchainConfig/.env
Owners: @ethereum-optimism/evm-safety

rename the template with the correect name
  test/tasks/example/eth/013-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

chore: fix the template
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove the previous UnPause
  src/improvements/template/UnPauseSuperchainConfig.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small modification in account access parser and rearranged fallback props.
  src/improvements/SuperchainAddressRegistry.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/example/sep/004-replace-superchain-config/addresses.json
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
  test/tasks/example/sep/008-opcm-upgrade-prestate-v300/config.toml
  test/tasks/example/sep/008-opcm-upgrade-v400/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: no fallback of test task.
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/evm-safety

fix: simple fix in AccountAccessParser.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

perf(decode): Small performance change for decoding state diffs
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the tasks
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

forge fmt
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the name with the same of the template
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
  test/tasks/example/eth/013-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: the address with string for the `config.toml`
  test/tasks/example/eth/013-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

perf(decode): Small performance change for decoding state diffs (#1138)
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

switch to sepolia since the U16 is not deployed yet on mainnet...
  test/tasks/example/eth/013-unpause-superchainConfig/.env
  test/tasks/example/eth/013-unpause-superchainConfig/config.toml
  test/tasks/example/sep/019-unpause-superchainConfig/.env
  test/tasks/example/sep/019-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/evm-safety

fix: Guardian instead of securitycouncil because we want to execute from the Guardian
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove unused import
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: redundant code removal
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix the name convention.
  src/improvements/template/UnPauseSuperchainConfigAfterU16.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
