Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

add comment for feature
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the comments
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Mode and Metal Sepolia task status and CI
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add files
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/.env
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/README.md
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/016-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Mode and Metal Sepolia task status and CI (#1056)
  .circleci/config.yml
  tasks/sep/metal-002-fp-upgrade/README.md
  tasks/sep/mode-002-fp-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Metal Mainnet to permissioned FPs (#956)
  .circleci/config.yml
  tasks/eth/metal-002-fp-upgrade/.env
  tasks/eth/metal-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/metal-002-fp-upgrade/README.md
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
  tasks/eth/metal-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Fix(sim-sequence) by introducing a env flag (#1051)
  script/utils/sim-sequence.sh
  src/improvements/nested.just
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Mode Mainnet to permissioned FPs (#955)
  .circleci/config.yml
  tasks/eth/mode-002-fp-upgrade/.env
  tasks/eth/mode-002-fp-upgrade/NestedSignFromJson.s.sol
  tasks/eth/mode-002-fp-upgrade/README.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Add sepolia nonces
  .circleci/config.yml
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Add sepolia nonces (#1048)
  .circleci/config.yml
  src/improvements/tasks/sep/013-U16-enable-dpm/config.toml
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/config.toml
  test/tasks/Regression.t.sol
  test/tasks/example/sep/008-opcm-upgrade-v400/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Add nonces to all u16 sepolia upgrade tasks
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Store stacked_simulation artifacts
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

print tail
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tests
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: normalized hashes fixed for asr proposal
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits
  script/utils/sim-sequence.sh
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix base sepolia nonce
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added hash for 013-u16-enable-dpm
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: supporting normalized hash checking after each task is ran via stacked simulation.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

print tail
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tests broken, now fixed.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): minimally invasive refactor of MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/libraries/MultisigTypes.sol
  src/libraries/Utils.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): further multisigtask refactor
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/FinanceTemplate.sol
  src/libraries/MultisigTypes.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit styling
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix base sepolia nonce (#1061)
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

u16 mainnet tasks
  src/improvements/tasks/eth/014-U16-enable-dpm/.env
  src/improvements/tasks/eth/014-U16-enable-dpm/README.md
  src/improvements/tasks/eth/014-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/eth/014-U16-enable-dpm/config.toml
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/.env
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/.env
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/.env
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/.env
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/README.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/eth/019-U16-remove-dgm/.env
  src/improvements/tasks/eth/019-U16-remove-dgm/README.md
  src/improvements/tasks/eth/019-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/eth/019-U16-remove-dgm/config.toml
  src/improvements/tasks/eth/020-U16-remove-dpm/.env
  src/improvements/tasks/eth/020-U16-remove-dpm/README.md
  src/improvements/tasks/eth/020-U16-remove-dpm/VALIDATION.md
  src/improvements/tasks/eth/020-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

readmes and value update
  src/improvements/tasks/eth/014-U16-enable-dpm/README.md
  src/improvements/tasks/eth/014-U16-enable-dpm/config.toml
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/README.md
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/README.md
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/eth/019-U16-remove-dgm/README.md
  src/improvements/tasks/eth/019-U16-remove-dgm/config.toml
  src/improvements/tasks/eth/020-U16-remove-dpm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add support for older safe versions
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update block to include new SV400
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml (#1065)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

nonces & template update
  src/improvements/tasks/eth/014-U16-enable-dpm/config.toml
  src/improvements/tasks/eth/015-U16-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/eth/016-U16-opcm-upgrade-v400-soneium/config.toml
  src/improvements/tasks/eth/017-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/eth/018-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/eth/019-U16-remove-dgm/config.toml
  src/improvements/tasks/eth/020-U16-remove-dpm/config.toml
  src/improvements/template/DisableModule.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nits
  script/utils/sim-sequence.sh
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add nonces to all u16 sepolia upgrade tasks
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: normalized hashes fixed for asr proposal
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tests
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Store stacked_simulation artifacts
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

print tail
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: supporting normalized hash checking after each task is ran via stacked simulation.
  src/improvements/README.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/VALIDATION.md
  src/improvements/tasks/sep/015-U16-opcm-upgrade-v400-soneium/VALIDATION.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/VALIDATION.md
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
