Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Add correct safe lookup for simulation to the new single.just file
  src/improvements/script/get-safe.sh
  src/improvements/single.just
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update execution date
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: single simulation should give the option to change the from address.
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Temporary feature flag around op-txverify feature.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Temporary feature flag around op-txverify feature. (#801)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix links
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add check link script
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: single simulation should give the option to change the from address. (#800)
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

shellcheck
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

create utils library and isFeatureEnabled helper function, add test for it
  script/PresignPauseFromJson.s.sol
  script/verification/DisputeGameUpgrade.s.sol
  src/libraries/Utils.sol
  test/libraries/Utils.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add todo
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add check link script (#802)
  src/improvements/script/check-links.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add regression test for U14 task
  test/tasks/Regression.t.sol
  test/tasks/example/sep/003-opcm-upgrade-v300/.env
  test/tasks/example/sep/003-opcm-upgrade-v300/README.md
  test/tasks/example/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/evm-safety

add more tests
  test/libraries/Utils.t.sol
Owners: @ethereum-optimism/evm-safety

add natspec
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: single simulate should not have breaking change
  src/improvements/single.just
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

isFeaturedEnabled helper (#803)
  script/PresignPauseFromJson.s.sol
  script/verification/DisputeGameUpgrade.s.sol
  src/libraries/Utils.sol
  test/libraries/Utils.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: pr comments fixed.
  src/improvements/single.just
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: single simulate should not have breaking change (#804)
  src/improvements/single.just
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update task 003 to only init bond
  tasks/sep/ink-003-init-bond-and-asr/NestedSignFromJson.s.sol
  tasks/sep/ink-003-init-bond-and-asr/VALIDATION.md
  tasks/sep/ink-003-init-bond-and-asr/input.json
  tasks/sep/ink-003-set-init-bond/.env
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/README.md
  tasks/sep/ink-003-set-init-bond/VALIDATION.md
  tasks/sep/ink-003-set-init-bond/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Finance Template Decimal Scaling (#764)
  src/improvements/template/FinanceTemplate.sol
  src/libraries/DecimalNormalization.sol
  test/libraries/DecimalNormalization.t.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix nested.just + 001-opcm-upgrade-v200 message hash
  src/improvements/nested.just
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix nested.just + 001-opcm-upgrade-v200 message hash (#805)
  src/improvements/nested.just
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update tasks
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
  tasks/sep/ink-004-enable-permissionless-game/README.md
  tasks/sep/ink-004-enable-permissionless-game/SignFromJson.s copy.sol
  tasks/sep/ink-004-enable-permissionless-game/VALIDATION.md
  tasks/sep/ink-004-enable-permissionless-game/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: quotes and double quotes
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: read the long/short safe names from config.toml, and look for them in validations.md
  src/improvements/justfile
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/003-unichain-superchain-config-fix/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix VALIDATION.md with latest values
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove redundant logging
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: verify only READY tasks
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: use json payload on simulate_verify_task
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: merged simulate-tenderly and simulate-verify-task in a single script with optional parameters
  src/improvements/justfile
  src/improvements/script/simulate-tenderly.sh
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: call the right script
  src/improvements/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: let's add CI, why not
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: maybe like this
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix VALIDATION.md with latest values (#806)
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

review
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add images
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
