Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

alphanet-ify-opcm-upgrade-v200
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/sep/003-alphanet-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/003-alphanet-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/003-alphanet-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/003-alphanet-opcm-upgrade-v200/addresses.json
  src/improvements/tasks/sep/003-alphanet-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix failing tests by replacing no value multicall with old multicall in bytecode
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/utils/Helper.sol
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update ENV with safe nonces
  tasks/sep/ink-003-set-init-bond/.env
  tasks/sep/ink-004-enable-permissionless-game/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Fix addresses caps
  tasks/sep/ink-003-set-init-bond/.env
  tasks/sep/ink-004-enable-permissionless-game/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Adding getCodeExceptions to NestedSign
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update NestedSignFromJson.s.sol
  tasks/sep/ink-003-set-init-bond/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md (#821)
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix conflicts
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix image route
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add new 003 task
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/SignFromJson.s.sol
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/VALIDATION.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add circle CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

read me
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

updates
  .circleci/config.yml
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove comments
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove stale env vars
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

use unichain old challenger
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/SignFromJson.s.sol
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/VALIDATION.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update .circleci/config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

resolve review comments
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update .circleci/config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

sync circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Unichain Sepolia L1 Pectra Upgrade with NEW Prestate (#746)
  .circleci/config.yml
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/.env
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/README.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/SignFromJson.s.sol
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/VALIDATION.md
  tasks/sep/unichain-003-petra-l1-upgrade-new-prestate/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

upgrade executed
  .circleci/config.yml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: template regression tests failing are now fixed.
  test/tasks/example/sep/004-replace-superchain-config/.env
Owners: @ethereum-optimism/evm-safety

fix: u13 unichain mainnet
  src/improvements/tasks/eth/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Unichain Sepolia Upgrade 13 executed (#823)
  .circleci/config.yml
  src/improvements/tasks/sep/003-opcm-upgrade-v200/README.md
  test/tasks/example/sep/004-replace-superchain-config/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Use new StandardValidatorV300
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Link gov-post
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix cast command
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix game impl
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Change impl
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
