Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: tests uncommented
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: avoiding OOG errors.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixed merge conflicts with main
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove shadow variable warning
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: foundry bug fixed on nightly build.
  mise.toml
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: refactor to template for opcm v200 work.
  0x1bee29a54a1830b78a22dbd9ddc79778577271431bf6aaad8240722efa43418d.toml
  0x21edb977c52c331b8c288ac553e1b5a546e24cdf36ed78aaff6505c86280d61a.toml
  0x3284ea525bb8c7a23a7f5284cd4d8c0fe5468cf74350c14c5a82b0ee3be9da19.toml
  0x6330cf8aa73ae04c5a1ea591148be69f1cc134b01bc28f62cbdedaa104690bc9.toml
  0x7ca805de0b3f222f010ec477392485e332dd7acd7e2e4c1c543fae8fe8771a04.toml
  0x8abbd35166446ad0cc07715e4e2e9292aee19f1fadb937d9aa77faeb5fb84692.toml
  0x91cbaf9b3adb81fa976138891446233af7010cfada8da0179b89e93016242469.toml
  0xe9bdc4751a50e69f5b33030f534e8dad44468a505906897f3666d6c4a9f08c37.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

pr feedback
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: merge conflict error resolved.
  test/tasks/example/sep/002-opcm-upgrade-v200/.env
  test/tasks/example/sep/002-opcm-upgrade-v200/README.md
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
Owners: @ethereum-optimism/evm-safety

fix: merge conflict error resolved.
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

OPCM Upgrade 13 - op-contracts/v2.0.0 (#664)
  mise.toml
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  src/libraries/AccountAccessParser.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/002-opcm-upgrade-v200/.env
  test/tasks/example/sep/002-opcm-upgrade-v200/README.md
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/.env
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/README.md
  test/tasks/example/sep/004-test-opcm-upgrade-v-xyz/config.toml
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/configs/TestOPCMUpgradeVxyz.toml
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/SetGameTypeTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

docs: Use the appropriate paths for `src/improvements`
  src/improvements/NESTED.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: do SINGLE.md as well
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: OPCM Upgrade 13
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/sep/000-opcm-upgrade-v200/.env
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/template/OPCMUpgradeV200.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: going through state diff
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

generate op verify input as json files
  .gitignore
  mise.toml
  src/improvements/justfile
  src/improvements/nested.just
  src/improvements/script/simulate-task.sh
  src/improvements/script/simulate-verify-task.sh
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  src/improvements/justfile
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fixes
  .gitignore
  src/improvements/justfile
  src/improvements/script/simulate-verify-task.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

move if blocks inside for loop
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

disable storage writes in Finance template
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

redirect the response value to stderr (#737)
  ops/verify-geth-endpoint.sh
Owners: @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/000-opcm-upgrade-v200/images/op-contracts-manager-storage-layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix URL validation and improve error message readability
  script/utils/check-task-statuses.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: docs
  src/improvements/tasks/sep/000-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: validation file + version to v1.8.0
  tasks/eth/unichain-001-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/unichain-001-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

remove unnecessary comment
  script/verification/HoloceneSystemConfigUpgrade.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add SafeToSendFrom
  src/improvements/template/FinanceTemplate.sol
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix regression test
  src/improvements/tasks/MultisigTask.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update config
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety
