Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maurelian, @zchn, @ethereum-optimism/contract-reviewers

Add MCP calls to rehearsal 4.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Use OP Mainnet addresses and set impl to 0xdeadbeef and data to null for now.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Remove L1CrossDomainMessengerProxy upgrade.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Upgrade L1ERC721BridgeProxy from 1.0.0 to 1.1.1.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Remove L1StandardBridgeProxy upgrade.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Remove L2OutputOracleProxy update.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Remove OptimismMintableERC20FactoryProxy update
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Add descriptions.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Finalize L1ERC721Bridge call. OptimismPortal call WIP.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Fix the upgrade for OptimismPortalProxy.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Sketch out justfile for 3-R4-upgrade-2-of-2
  mainnet-rehearsals/3-R4-upgrade-2-of-2/.env
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
Owners: @maurelian, @zchn

Add NestedSignFromJson.s.sol
  script/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers

Implement approveJson and runJson
  mainnet-rehearsals/3-R4-upgrade-2-of-2/.env
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
  script/NestedSignFromJson.s.sol
Owners: @maurelian, @zchn, @ethereum-optimism/contract-reviewers

Add simlated-run.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
Owners: @maurelian, @zchn

simulate-council works except for the ProxyAdmin storage override.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/.env
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
  script/NestedSignFromJson.s.sol
Owners: @maurelian, @zchn, @ethereum-optimism/contract-reviewers

Deploy and use dummy ProxyAdmin and Proxy contracts.
  foundry.toml
  justfile
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
  mainnet-rehearsals/3-R4-upgrade-2-of-2/records/1/deployment-output.json
  mainnet-rehearsals/3-R4-upgrade-2-of-2/records/1/run-1696808456.json
  mainnet-rehearsals/3-R4-upgrade-2-of-2/records/1/run-latest.json
  script/DeployRehearsalContracts.s.sol
Owners: @maurelian, @zchn, @ethereum-optimism/contract-reviewers

Fix data field and generates a new successful simulation.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/.env
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
Owners: @maurelian, @zchn

Add playbook for 3-R4-upgrade-2-of-2
  mainnet-rehearsals/3-R4-upgrade-2-of-2/.env
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
Owners: @maurelian, @zchn

Support multiple transaction and fix input.json.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/input.json
  script/NestedSignFromJson.s.sol
Owners: @maurelian, @zchn, @ethereum-optimism/contract-reviewers

Add images.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
  mainnet-rehearsals/3-R4-upgrade-2-of-2/images/tenderly-hashes-1.png
  mainnet-rehearsals/3-R4-upgrade-2-of-2/images/tenderly-hashes-2.png
  mainnet-rehearsals/3-R4-upgrade-2-of-2/images/tenderly-overview-network.png
  mainnet-rehearsals/3-R4-upgrade-2-of-2/images/tenderly-state-diff.png
Owners: @maurelian, @zchn

Add OptimismPortal reinit diff.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Indent sub items
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Fix nested numbered list.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Nexted list: indent more.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Fix message hash.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
Owners: @maurelian, @zchn

Add explanation for additional slots.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Address feedback.
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Update mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Update mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
  mainnet-rehearsals/3-R4-upgrade-2-of-2/README.md
Owners: @maurelian, @zchn

Update mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
  mainnet-rehearsals/3-R4-upgrade-2-of-2/justfile
Owners: @maurelian, @zchn

Update script/DeployRehearsalContracts.s.sol
  script/DeployRehearsalContracts.s.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

*           @maurelian @zchn
/eth        @maurelian @zchn
/gor        @ethereum-optimism/contract-reviewers
/mainnet-rehearsals @maurelian @zchn
/oeth        @maurelian @zchn
/ogor        @ethereum-optimism/contract-reviewers
/script     @ethereum-optimism/contract-reviewers
/src        @ethereum-optimism/contract-reviewers
