Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Use Nested (#846)
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

added comments
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300/images/op-contracts-manager-storage-layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Clarify safe addresses in U13 runbooks for base and unichain (#844)
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the DPM in the address
  src/improvements/addresses.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the first template
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix Base PAO
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix Base PAO (#849)
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

executed ink sep move to permissionless
  .circleci/config.yml
  tasks/sep/ink-003-set-init-bond/README.md
  tasks/sep/ink-004-enable-permissionless-game/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

executed ink sep move to permissionless (#850)
  .circleci/config.yml
  tasks/sep/ink-003-set-init-bond/README.md
  tasks/sep/ink-004-enable-permissionless-game/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

updated VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/config.toml
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix link oops
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update council multisig
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the template
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add sepolia task with the signature + address of the new deputy
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove overrides
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  test/tasks/example/sep/007-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: debug with logs the tsaks
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the hash
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix unused var
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add stateOverrides
  src/improvements/tasks/sep/005-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update hashes
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update status
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: markdown update
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix backticks
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: final touches
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: markdown update (#852)
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update state changes
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

removed todo
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

001 base executed
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: Save Child Safe nonces before local execution
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: Save Child Safe nonces before local execution (#854)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

StateOverrideManager: merging overrides.
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment updates.
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety

fix: clean up merging state override functionality.
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better error messages.
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: better comment.
  src/improvements/tasks/StateOverrideManager.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove the state overrides from the config toml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: StateOverrideManager appending overrides. (#822)
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
