Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: Refresh task config after each stacked simulation is executed. (#998)
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add comments
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

change opcm and validator
  src/improvements/tasks/sep/014-opcm-upgrade-v400-op-ink/config.toml
  src/improvements/tasks/sep/015-opcm-upgrade-v400-uni-soneium/config.toml
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/config.toml
  src/improvements/template/OPCMUpgradeV400.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: out of gas error fixed.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: out of gas error fixed. (#999)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/sep/016-opcm-upgrade-v400-base/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: natspec update
  README.md
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

docs: natspec update (#1000)
  README.md
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Stacked sim should use ci rpc urls
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

task: eth/013-gas-params-op
  src/improvements/tasks/eth/013-gas-params-op/README.md
  src/improvements/tasks/eth/013-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/013-gas-params-op/config.toml
  src/improvements/tasks/eth/013-gas-params-op/images/storage_layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

use updated format for .md files
  src/improvements/tasks/eth/013-gas-params-op/README.md
  src/improvements/tasks/eth/013-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/013-gas-params-op/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Owner address should be Owner addresses for stacked simulations
  .circleci/config.yml
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: Stacked sim should use ci rpc urls (#1001)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

task: eth/013-gas-params-op (#987)
  src/improvements/tasks/eth/013-gas-params-op/README.md
  src/improvements/tasks/eth/013-gas-params-op/VALIDATION.md
  src/improvements/tasks/eth/013-gas-params-op/config.toml
  src/improvements/tasks/eth/013-gas-params-op/images/storage_layout.png
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: IP Ranges true
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: fixed unit test.
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Owner address should be Owner addresses for stacked simulations (#1002)
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: IP Ranges true (#1003)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update src/improvements/template/TransferOwners.sol
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/TransferOwners.sol
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/TransferOwners.sol
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: PR comments addressed. _build function reverts state so don't set global vars there.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: make the valid check on permissioned WETH optional.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: DWETH might not be ownable, so handling this by checking if it has the owner function.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: checking the superchainconfig is standard.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment updated
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: allowing dynamic discovery of more chains that defined in config.toml
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: allow task devs to supply custom addresses not in the superchain-registry
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/template/TransferOwners.sol
  test/tasks/example/eth/009-transfer-owners/addresses.json
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: reading local addresses for a chain via l2ChainsLocal
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/example/eth/009-transfer-owners/config.toml
  test/tasks/example/eth/010-local-transfer-owners/.env
  test/tasks/example/eth/010-local-transfer-owners/addresses.json
  test/tasks/example/eth/010-local-transfer-owners/config.toml
  test/tasks/mock/configs/InvalidNetworkConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: some templates can be simplified.
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
  src/improvements/tasks/sep/013-l1-ownership-transfers-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleaner way of determining the network.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refactor.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: cleanup in superchainaddressregistry.sol
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix tenderly sepolia rpc url
  foundry.toml
Owners: @ethereum-optimism/evm-safety

initial refactor
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused code
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: addressing PR review comments.
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/template/TransferOwners.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

cleanup
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTaskPrinter.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: regression test fixed.
  src/improvements/template/TransferOwners.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: TransferOwners Template (#972)
  foundry.toml
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/009-transfer-owners/.env
  test/tasks/example/eth/009-transfer-owners/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
