Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

refactor simulate-nested command into a just-simulate-nested job (#693)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

simplify build
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: update nonce for council safe
  tasks/sep/032-op-pectra-defence/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix title and status
  tasks/sep/032-op-pectra-defence/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove perChain for validate
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix solc warnings
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

make virtual functions clear
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove ink from sim sequence
  .circleci/config.yml
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

OP sepolia upgrade 12 (#678)
  .circleci/config.yml
  justfile
  script/utils/compareGames.sh
  script/utils/sim-sequence.sh
  tasks/sep/032-op-pectra-defence/.env
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/README.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
  tasks/sep/032-op-pectra-defence/input.json
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/.env
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

chore: comment
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: comments
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  README.md
Owners: @ethereum-optimism/evm-safety

Update ProtocolVersionsBump.s.sol
  script/verification/ProtocolVersionsBump.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update mcp-to-permissioned-fps-1.6.0.md
  runbooks/mcp-to-permissioned-fps-1.6.0.md
Owners: @ethereum-optimism/devrel, @ethereum-optimism/evm-safety

Update SignFromJson.s.sol
  tasks/sep/base-003-fp-granite-prestate/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

refactor: start decoupling MultisigTask and AddressRegistry (#688)
  src/improvements/AddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix ci: for sep
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

[SIM-SEQUENCE] Chain-Governor Support (#691)
  .circleci/config.yml
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

ci: add task 032 to CI sim sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

rename AddressRegistry to SuperchainAddressRegistry
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/registry/AddressRegistry.t.sol
  test/registry/TestnetAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: use stdToml for reading single address
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: adding methods for reading chains from toml
  .gitignore
  src/improvements/AddressRegistry.sol
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

nit: new line
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: forge fmt
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: better support for sepolia + mainnet
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

improve ci naming
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: _isValidAction bug - only record top level call access kind
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: log payload to console
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: save payload to file
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix DelayedWeth owner verification in MT Cannon task
  tasks/sep-dev-0/007-mt-cannon/SignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

test cleanup
  src/improvements/SuperchainAddressRegistry.sol
  test/registry/AddressRegistry.t.sol
  test/registry/TestnetAddressRegistry.t.sol
  test/tasks/mock/configs/DiscoverChainAddressesConfig.toml
  test/tasks/mock/configs/DiscoverChainAddressesTestnetConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

rename
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/evm-safety

more cleanup
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  test/registry/SuperchainAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: don't add 0x twice
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused enumerableset import
  src/improvements/SuperchainAddressRegistry.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: create tenderly simulation
  src/improvements/script/get-tenderly-trace.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: small fix, that was causing failures in CI for this PR. addresses.toml file format changed.
  src/improvements/script/get-safe.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix: Sepolia Support for `Sim-Sequence` (#696)
  .circleci/config.yml
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers
