Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix: regressions tests fixed.
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: uncomment commented out test.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: tests passing
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: typos and a little bit of cleanup.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/GnosisSafeHashes.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(MultisigTask): checkstatediff function not broken out
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: uncomment commented out test.
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: get code exceptions should have underscore.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/DelayedWETHOwnershipTemplate.sol
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/GnosisSafeApproveHash.sol
  src/improvements/template/OPCMUpdatePrestateV300.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/OPCMUpgradeV400.sol
  src/improvements/template/SetRespectedGameTypeTemplate.sol
  src/improvements/template/SystemConfigGasParams.sol
  src/improvements/template/TransferL2PAOFromL1.sol
  src/improvements/template/TransferOwners.sol
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/UpdateRetirementTimestampTemplate.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/DisputeGameUpgradeTemplate.sol
  test/tasks/mock/template/GasConfigTemplate.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove todo
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety

fix: remove unnecessary function.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Pr comments. Rename base function. Introduce struct to hold task payload.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding test for calldatas function.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moving functions around.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: move get safe details to utils.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: get safe data takes payload
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: refactoring code to simplify logic
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: validation function made more generic
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: simplifying function names
  src/improvements/nested.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(GnosisSafeHashes): moving functions into GnosisSafeHahses.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/template/SetDisputeGameImpl.sol
  src/libraries/GnosisSafeHashes.sol
  test/libraries/GnosisSafeHashes.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moved more functions around. MultisigTask under 1000 lines for the first time.
  0x249cf7488c343c627367bfa78e4416766ff7b9be5cad23ae8a40679a084d6775.toml
  src/improvements/tasks/MultisigTask.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: cleaner printing for safe info.
  src/improvements/tasks/MultisigTask.sol
  src/libraries/MultisigTaskPrinter.sol
  src/libraries/MultisigTypes.sol
  src/libraries/Utils.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed test files.
  0x249cf7488c343c627367bfa78e4416766ff7b9be5cad23ae8a40679a084d6775.toml
Owners: @ethereum-optimism/evm-safety

fix: removed function that was reintroduced.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moved around print functions and made multisigtask smaller.
  0x45774ca2f23bd91e8014fb16b66a316f7f8d8f9259f7c4649133e6d07dfd3900.toml
Owners: @ethereum-optimism/evm-safety

fix: removed test files.
  0x45774ca2f23bd91e8014fb16b66a316f7f8d8f9259f7c4649133e6d07dfd3900.toml
Owners: @ethereum-optimism/evm-safety

fix: removing unused function
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove Mode and metal CI simulations
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: remove Mode and metal CI simulations (#1098)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: add trezor support (#1089)
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: CirclCI no output in terminal timeout increased.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: CirclCI no output in terminal timeout increased. (#1099)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Revert "feat: add trezor support (#1089)"
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Revert "feat: add trezor support (#1089)" (#1100)
  nested.just
  single.just
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix(nonce): 020-U16 nonce bump.
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bug(justfiles): Approve and execute aren't handling signer_args correctly.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: base l1pao nonce updated to 10.
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: 0x9BA6e03D8B90dE867373Db8cF1A58d2F7F006b3A needed a nonce bump too
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: normalized hash and data to sign needed updated. 022-U16 needed update because the foundation safe nonce was incremented.
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: 022-U16 task updated.
  src/improvements/tasks/eth/022-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix(nonce): 020-U16 nonce bump (base l1pao and base ops safe) (#1102)
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/VALIDATION.md
  src/improvements/tasks/eth/020-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/eth/022-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

bug(justfiles): Approve and execute aren't handling signer_args correctly. (#1103)
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
