Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

[U15] Add template & Sepolia op+ink prestate upgrades
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/README.md
  src/improvements/tasks/sep/008-opcm-upgrade-prestate-v300-op+ink/config.toml
  src/improvements/template/OPCMUpgradePrestateV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Fixed state diffs for both foundation and council.
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: account state nonce added.
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: account state nonce added.
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Address feedback
  .circleci/config.yml
  SINGLE-VALIDATION.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

restor 1115420 errors
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: base u14 (#848)
  .circleci/config.yml
  src/improvements/tasks/sep/006-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

errors from config
  src/improvements/template/OPCMUpgradeV300.sol
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update validator address
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

READ TO SIGN
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/DeputyPauseRotationKey.sol
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/template/DeputyPauseRotationKey.sol
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

reuse unichain errors for base
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Apply suggestions from code review
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[U14] Unichain Sepolia runbook (#858)
  .circleci/config.yml
  SINGLE-VALIDATION.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/config.toml
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

review: matt comments
  src/improvements/template/DeputyPauseRotationKey.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename name
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/config.toml
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/005-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: links
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add the block of today in the .env
  test/tasks/example/sep/007-deputy-pause-key-rotation/.env
Owners: @ethereum-optimism/evm-safety

Update src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: config (#857)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

forge fmt
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Added in tasks for op, sonieum, and ink sep (#830)
  .circleci/config.yml
  src/improvements/NESTED.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300/images/op-contracts-manager-storage-layout.png
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

u14-op-executed
  .circleci/config.yml
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix title
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

u14-op-executed (#862)
  .circleci/config.yml
  src/improvements/tasks/sep/005-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/007-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

chore: fix everything
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/VALIDATION.md
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix task exec
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

[DeputyPauseModule] Rotate the Key template + task (#847)
  .circleci/config.yml
  src/improvements/addresses.toml
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/VALIDATION.md
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/config.toml
  src/improvements/template/DeputyPauseKeyRotationTemplate.sol
  test/tasks/example/sep/007-deputy-pause-key-rotation/.env
  test/tasks/example/sep/007-deputy-pause-key-rotation/README.md
  test/tasks/example/sep/007-deputy-pause-key-rotation/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

[Sepolia U13] Add template for unpausing + task for unpausing. (#834)
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/config.toml
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  test/tasks/example/sep/007-unpause-superchainConfig/README.md
  test/tasks/example/sep/007-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  src/improvements/tasks/sep/004-deputy-pause-module-activation/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the name
  src/improvements/tasks/sep/008-deputy-pause-key-rotation/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
