Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

refactor: v1 markdown printing for state diffs. (#835)
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: cleaner terminal output for signers
  src/improvements/nested.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fix more comments and refactor.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added OPCMTaskBase to the TaskType enum.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: template generation fixes. (#837)
  src/improvements/doc/NEW_TEMPLATE_GUIDE.md
  src/improvements/justfile
  src/improvements/script/create-template.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/OPCMUpgradeV200.sol
  src/improvements/template/OPCMUpgradeV300.sol
  src/improvements/template/UniFix.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: cleaner terminal output for signers (#840)
  src/improvements/nested.just
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: task developer mode
  nested.just
  src/improvements/nested.just
  src/improvements/single.just
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: changed order.
  src/improvements/nested.just
  src/improvements/single.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: initial commit.
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: applying state overrides in stacked simulations to make tenderly links work.
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskRunner.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: we can simulate stacks of tasks.
  .gitignore
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/eth/003-transfer-owner-template/VALIDATION.md
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/004-replace-superchain-config/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: justfile command added.
  src/improvements/justfile
  src/improvements/script/fetch-tasks.sh
  src/improvements/tasks/StackedSimulator.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: using vm cheatcode to convert string to uint. Also made tests without race conditions.
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: getting ordered tasks for a given network.
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: tenderly simulation links are now working.
  src/improvements/tasks/TaskRunner.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskRunner.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: fixing tenderly state overrides for stacked simulations.
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/evm-safety

fix: undoing changes that make the pr messy.
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/evm-safety

fix: ci not performing stacked simulations.
  .circleci/config.yml
  .gitignore
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: added list stack functionality
  src/improvements/justfile
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: circle ci config.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: fixing failing tests.
  src/improvements/tasks/StackedSimulator.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: add template + task and confirm that the override works
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/config.toml
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
  test/tasks/example/sep/007-unpause-superchainConfig/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: format
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  test/tasks/example/sep/007-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

disable check-links
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: remove
  test/tasks/example/sep/007-unpause-superchainConfig/.env
Owners: @ethereum-optimism/evm-safety

chore: remove the .env file.
  src/improvements/tasks/sep/006-unpause-superchainConfig/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename the contract name
  src/improvements/template/UnPauseSuperchainConfigTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix base safe address in validations
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

disable check-links (#842)
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: upgrade readme
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: validation
  src/improvements/tasks/sep/006-unpause-superchainConfig/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  src/improvements/tasks/sep/006-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix base safe address in validations (#843)
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

clarify base task safes
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

clarify uni task safes
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: activate op-txverify (only merge after all U13 tasks are executed)
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Use Nested
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
