Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Add opcm upgrade task for base mainnet
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Start reworking validation, add some todos
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Generate opcm-v3 upgrade task for op, ink, soneium
  src/improvements/tasks/sep/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update readme, add more details to validtion.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/images/op-contracts-manager-storage-layout.png
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add upgrade task for base sepolia
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Copy template OPCMUpgradeV200 to V300
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

In progress - try to customize errors strings per chain
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/types/OPCMBaseTask.sol
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Use whitespace consistently in nested.md
  src/improvements/NESTED.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update readme title
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update storage write expectations
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Pull in v3 StandardValidator
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add task for unichain sepolia
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add TENDERLY_GAS envar
  src/improvements/tasks/sep/003-opcm-upgrade-v300/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add opcm upgrade task for unichain mainnet
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add some information on state overrides and nonces
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix L1CrossDomainMessenger address references
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more details
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix address
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: State Override Cleanup.
  src/improvements/doc/STATE-OVERRIDES.md
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: moving state overrides diagram into existing docs.
  NESTED-VALIDATION.md
  src/improvements/doc/STATE-OVERRIDES.md
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

more info
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

two more traces
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update NESTED-VALIDATION.md
  NESTED-VALIDATION.md
Owners: @ethereum-optimism/evm-safety

finish traces
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

formatting
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/logs.log
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

more fmt
  src/improvements/tasks/eth/001-opcm-upgrade-v200/logs.log
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Drop other draft tasks for now
  src/improvements/tasks/eth/003-opcm-upgrade-v300/.env
  src/improvements/tasks/eth/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300/config.toml
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/.env
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix import
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Tenderly diffs & start nonces
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Run formatter
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

child1 data
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: improved string comparison
  script/utils/compareGames.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

child safe 2
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: State Override Parity (#797)
  NESTED-VALIDATION.md
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StateOverrideManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

add childs
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

typos
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add state overrides
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add safe addresses to config
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add instructions on how to find the safe hash
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
