Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

refactor: superchain address registry (#703)
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/script/get-safe.sh
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/tasks/TaskRunner.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EmptyTemplate.template.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/registry/AddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
  test/registry/TestnetAddressRegistry.t.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/configs/DiscoverChainAddressesConfig.toml
  test/tasks/mock/configs/DiscoverChainAddressesTestnetConfig.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: duplicated numbering on sep 009
  tasks/sep/009.1-fpac-upgrade/.env
  tasks/sep/009.1-fpac-upgrade/NestedSignFromJson.s.sol
  tasks/sep/009.1-fpac-upgrade/README.md
  tasks/sep/009.1-fpac-upgrade/images/state_diff.png
  tasks/sep/009.1-fpac-upgrade/input.json
  tasks/sep/009.2-presigned-pause/.env
  tasks/sep/009.2-presigned-pause/README.md
  tasks/sep/009.2-presigned-pause/input.json
  tasks/sep/009.2-presigned-pause/tx/draft-16.json
  tasks/sep/009.2-presigned-pause/tx/draft-17.json
  tasks/sep/009.2-presigned-pause/tx/draft-18.json
  tasks/sep/009.2-presigned-pause/tx/draft-19.json
  tasks/sep/009.2-presigned-pause/tx/draft-20.json
  tasks/sep/009.2-presigned-pause/tx/draft-21.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

add the support for the displaying the env modification
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: comment + check to ensure only sepolia
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: remove unecessary comment
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix incorrect message hash
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix incorrect message hash (#706)
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: add SimpleAddressRegistry and tests
  src/improvements/SimpleAddressRegistry.sol
  test/fixtures/SimpleAddressRegistry/duplicate_names.toml
  test/fixtures/SimpleAddressRegistry/empty_addresses.toml
  test/fixtures/SimpleAddressRegistry/invalid_address_format.toml
  test/fixtures/SimpleAddressRegistry/missing_addresses_section.toml
  test/fixtures/SimpleAddressRegistry/mixed_case_names.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/zero_address.toml
  test/registry/SimpleAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update status of sep-32
  tasks/sep/032-op-pectra-defence/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove 032 from sim-sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add same functionality to SuperchainAddressRegistry
  src/improvements/SuperchainAddressRegistry.sol
  test/fixtures/SimpleAddressRegistry/duplicate_names.toml
  test/fixtures/SimpleAddressRegistry/empty_addresses.toml
  test/fixtures/SimpleAddressRegistry/invalid_address_format.toml
  test/fixtures/SimpleAddressRegistry/missing_addresses_section.toml
  test/fixtures/SimpleAddressRegistry/mixed_case_names.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/zero_address.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: draw the whole owl
  src/improvements/script/get-tenderly-trace.sh
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: better script name
  src/improvements/script/get-tenderly-hashes.sh
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update status of sep-32 (#707)
  .circleci/config.yml
  tasks/sep/032-op-pectra-defence/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: SimpleAddressRegistry (#708)
  src/improvements/SimpleAddressRegistry.sol
  src/improvements/SuperchainAddressRegistry.sol
  test/fixtures/SimpleAddressRegistry/duplicate_names.toml
  test/fixtures/SimpleAddressRegistry/empty_addresses.toml
  test/fixtures/SimpleAddressRegistry/invalid_address_format.toml
  test/fixtures/SimpleAddressRegistry/missing_addresses_section.toml
  test/fixtures/SimpleAddressRegistry/mixed_case_names.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/zero_address.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/registry/SuperchainAddressRegistry.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add domain and message hash in VALIDATION.md
  tasks/eth/ink-003-fp-holocene-pectra-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

verify validation file
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

removing old task from ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: disable forge fmt for json formatting
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: calculate domain and message hashes locally
  script/CalculateSafeHashes.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: better output
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: calculate hashes both locally and on tenderly
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forge fmt
  script/CalculateSafeHashes.s.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: use the four closing braces as the end of payload marker
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

nit: extra space in output
  script/CalculateSafeHashes.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: automatically compare local and remote hashes and abort if they don't
  src/improvements/script/simulate-task.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

[SIMULATION-SEQUENCE] Add new display function (#705)
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add expected (blob) base fee scalar overrides
  script/verification/HoloceneSystemConfigUpgrade.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add validation note and fix circle and other comments
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

add task
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/NestedSignFromJson.s.sol
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
  tasks/eth/unichain-001-petra-l1-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

add unichain mainnet l1 petra upgrade task
  tasks/eth/unichain-001-petra-l1-upgrade/.env
  tasks/eth/unichain-001-petra-l1-upgrade/NestedSignFromJson.s.sol
  tasks/eth/unichain-001-petra-l1-upgrade/README.md
  tasks/eth/unichain-001-petra-l1-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update verify-geth-endpoint.sh
  ops/verify-geth-endpoint.sh
Owners: @ethereum-optimism/evm-safety

executed
  tasks/sep/unichain-002-petra-l1-upgrade/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update README.md
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

feat: Add foundation validation instructions
  tasks/eth/031-op-mainnet-pectra-defense/VALIDATION.md
Owners: @ethereum-optimism/evm-safety
