Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

fix: remove new line
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: adding in unused import for another PR that I can add commits to.
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety

renaming sysconfig task and removing holocene MIPs contract upgrade
  tasks/eth/030-soneium-holocene-system-config-upgrade/.env
  tasks/eth/030-soneium-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/030-soneium-holocene-system-config-upgrade/README.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/input.json
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/.env
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/README.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/eth/sony-002-fp-holocene-pectra-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

updating ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Ink Sepolia Holocene and L1 Pectra support tasks (#560)
  .circleci/config.yml
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/.env
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/NestedSignFromJson.s.sol
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/README.md
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/VALIDATION.md
  tasks/sep/ink-001-fp-holocene-pectra-upgrade/input.json
  tasks/sep/ink-002-holocene-system-config-upgrade/.env
  tasks/sep/ink-002-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/sep/ink-002-holocene-system-config-upgrade/README.md
  tasks/sep/ink-002-holocene-system-config-upgrade/VALIDATION.md
  tasks/sep/ink-002-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix: debugging
  src/libraries/AccountAccessParser.sol
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update tasks/eth/030-soneium-holocene-system-config-upgrade/.env
  tasks/eth/030-soneium-holocene-system-config-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Sony Mainnet Holocene SystemConfig upgrade (#627)
  .circleci/config.yml
  tasks/eth/030-soneium-holocene-system-config-upgrade/.env
  tasks/eth/030-soneium-holocene-system-config-upgrade/NestedSignFromJson.s.sol
  tasks/eth/030-soneium-holocene-system-config-upgrade/README.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/VALIDATION.md
  tasks/eth/030-soneium-holocene-system-config-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

pull in from private
  script/verification/CouncilFoundationNestedSign.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/.env
  tasks/eth/031-uni-holocene-systemconfig-update/NestedSignFromJson.s.sol
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
  tasks/eth/031-uni-holocene-systemconfig-update/VALIDATION.md
  tasks/eth/031-uni-holocene-systemconfig-update/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add circle ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

feat: Move to holesky dir
  tasks/holesky/001-pectra-defense/.env
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
  tasks/holesky/001-pectra-defense/README.md
  tasks/holesky/001-pectra-defense/VALIDATION.md
  tasks/holesky/001-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety

update status
  tasks/eth/031-uni-holocene-systemconfig-update/README.md
Owners: @ethereum-optimism/evm-safety

forge fmt
  script/verification/CouncilFoundationNestedSign.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Unichain Pectra L1 Support Upgrade (#588)
  tasks/sep/unichain-002-petra-l1-upgrade/.env
  tasks/sep/unichain-002-petra-l1-upgrade/README.md
  tasks/sep/unichain-002-petra-l1-upgrade/SignFromJson.s.sol
  tasks/sep/unichain-002-petra-l1-upgrade/VALIDATION.md
  tasks/sep/unichain-002-petra-l1-upgrade/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: update mdc
  script/DeployMulticall3Delegatecall.sol
  src/improvements/tasks/OPCMBaseTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: minimal bug reproducing the error.
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix comment
  justfile
Owners: @ethereum-optimism/evm-safety

fix: add simple test
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

wip: fix test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

fix: Regression test now has correct calldata.
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

feat: update mdc (#658)
  justfile
  script/DeployMulticall3Delegatecall.sol
  src/improvements/tasks/OPCMBaseTask.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove import
  test/tasks/mock/MockMultisigTask.sol
Owners: @ethereum-optimism/evm-safety

fix: Misc PR comments addressed.
  nested.just
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  single.just
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: comment more accurate.
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Misc PR comments addressed. (#660)
  nested.just
  security-council-rehearsals/2024-01-22-r2-remove-signer-0122/justfile
  security-council-rehearsals/templates/r2-remove-signer/justfile
  single.just
  src/improvements/tasks/TaskRunner.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

holesky rpc
  tasks/holesky/001-pectra-defense/.env
Owners: @ethereum-optimism/evm-safety

feat: remove verbose used to debug
  nested.just
Owners: @ethereum-optimism/evm-safety

feat: Add VALIDATION.md
  tasks/holesky/001-pectra-defense/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

start holesky balrog task
  .gitmodules
  nested.just
  tasks/holesky/001-pectra-defense/.env
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
  tasks/holesky/001-pectra-defense/README.md
  tasks/holesky/001-pectra-defense/VALIDATION.md
  tasks/holesky/001-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety

feat: remove AccessParser
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

Use StdValidator
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

feat: address feedback
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

feat: use ifaces imported from StdValidator
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

comment out failing call to validate()
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/evm-safety

feat: address feedback
  tasks/holesky/001-pectra-defense/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix types on checks
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
  tasks/holesky/001-pectra-defense/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Add Balrog Upgrade 12 runbook (#653)
  .gitmodules
  tasks/holesky/001-pectra-defense/.env
  tasks/holesky/001-pectra-defense/NestedSignFromJson.s.sol
  tasks/holesky/001-pectra-defense/README.md
  tasks/holesky/001-pectra-defense/VALIDATION.md
  tasks/holesky/001-pectra-defense/input.json
Owners: @ethereum-optimism/evm-safety

fix natspec
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update fp-recovery set game impl justfile to set holesky addresses.
  tasks/sep/fp-recovery/005-set-game-implementation/justfile
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Add pectra defense fix task from fp-recovery script
  tasks/holesky/002-pectra-defense-fix/.env
  tasks/holesky/002-pectra-defense-fix/NestedSignFromJson.s.sol
  tasks/holesky/002-pectra-defense-fix/README.md
  tasks/holesky/002-pectra-defense-fix/VALIDATION.md
  tasks/holesky/002-pectra-defense-fix/input.json
Owners: @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
