Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: addresses.toml not longer holding safe addresses.
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/nested.just
  src/improvements/script/get-safe.sh
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

natspec nit
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: regression template tests fixed.
  src/improvements/script/get-safe.sh
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  src/improvements/nested.just
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add UniFix task for Unichain Alphanet
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/tasks/sep/alphanet-001-superchain-config-fix/README.md
  src/improvements/tasks/sep/alphanet-001-superchain-config-fix/VALIDATION.md
  src/improvements/tasks/sep/alphanet-001-superchain-config-fix/addresses.json
  src/improvements/tasks/sep/alphanet-001-superchain-config-fix/config.toml
  src/improvements/template/UniFix.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: add more docs to readme of base task.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: note to update base state diffs.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Apply suggestions from code review
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixed base sepolia validations.
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: addresses.toml no longer holding safe addresses. (#791)
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/nested.just
  src/improvements/script/get-safe.sh
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update status of v200 sepolia for OP, Soneium, Ink (#790)
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

prestate & childsafe update
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Minor fixes to sep/001
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove disclaimer
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

mark ready
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Minor fixes to sep/001 (#793)
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Bump to latest eip712sign v0.0.11
  justfile
Owners: @ethereum-optimism/evm-safety

correct prestate
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Bump to latest eip712sign v0.0.11 (#794)
  justfile
Owners: @ethereum-optimism/evm-safety

update forge and use op verify (#734)
  mise.toml
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Minor fixes to sep/001 (#793)
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Bump to latest eip712sign v0.0.11 (#794)
  justfile
Owners: @ethereum-optimism/evm-safety

refactor: addresses.toml no longer holding safe addresses. (#791)
  src/improvements/SuperchainAddressRegistry.sol
  src/improvements/addresses.toml
  src/improvements/nested.just
  src/improvements/script/get-safe.sh
  src/improvements/tasks/sep/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/sep/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/VALIDATION.md
  src/improvements/tasks/sep/001-opcm-upgrade-v200/config.toml
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/registry/SimpleAddressRegistry.t.sol
  test/tasks/example/eth/003-transfer-owner-template/config.toml
  test/tasks/example/sep/001-enable-deputy-pause-module/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/005-test-finance-operation/config.toml
  test/tasks/mock/configs/EnableDeputyPauseModuleTemplate.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update status of v200 sepolia for OP, Soneium, Ink (#790)
  src/improvements/tasks/sep/000-opcm-upgrade-v200/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update forge and use op verify (#734)
  mise.toml
  src/improvements/NESTED.md
  src/improvements/SINGLE.md
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: deal with potential raw input in different line, and more possible signer types
  src/improvements/justfile
  src/improvements/script/simulate-tenderly.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove dead code from get-hashes-tenderly
  src/improvements/script/get-tenderly-hashes.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template to use new multicall3 with no value check
  src/improvements/template/FinanceTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

update finance template regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

move to new format
  src/improvements/tasks/eth/001-opcm-upgrade-v200/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add details on DGF game implementation changes
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add code validation for configured opcm contracts
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update expected errors and add validation.
  src/improvements/tasks/sep/004-opcm-upgrade-v300/VALIDATION.md
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Renumber tasks, bump tenderly gas
  src/improvements/tasks/sep/003-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300/.env
  src/improvements/tasks/sep/004-opcm-upgrade-v300/README.md
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/.env
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/.env
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add mainnet opcm upgrade for op, ink, soneium
  src/improvements/tasks/eth/003-opcm-upgrade-v300/.env
  src/improvements/tasks/eth/003-opcm-upgrade-v300/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update readmes
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/sep/005-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/sep/006-opcm-upgrade-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add AddressManager to storageWrites array with some notes
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Embed StandardValidator interface
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Revert "In progress - try to customize errors strings per chain"
  src/improvements/tasks/sep/004-opcm-upgrade-v300/config.toml
  src/improvements/tasks/types/OPCMBaseTask.sol
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
