Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

chore: fix the error logs with the new safes
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: let's accept network-number-task and check duplicates thre as well
  script/utils/check-task-numbering.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: yaml things
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

chore: switch from "info" to "warning" with log
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add check to the workflow
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: use the docker image
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Set the transaction to executed
  tasks/eth/030-soneium-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

feat: remove 030 from ci
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

docs: better natspec
  script/utils/check-task-numbering.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Fix simulate_sequence to keep running 030 at an older block
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: error when empty task and causing failing CI.
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

docs: better natspec
  script/utils/check-task-numbering.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update 030-soneium to executed (#690)
  .circleci/config.yml
  tasks/eth/030-soneium-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

cleanup
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/DisputeGameUpgradeTemplate.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/GasConfigTemplate.sol
  src/improvements/template/SetGameTypeTemplate.sol
  src/improvements/template/TestOPCMUpgradeVxyz.sol
  src/improvements/template/TransferOwnerTemplate.sol
  test/tasks/mock/MockDisputeGameTask.sol
  test/tasks/mock/MockMultisigTask.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate1.sol
  test/tasks/mock/template/IncorrectGasConfigTemplate2.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove unused code
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

ink sepolia 002 executed
  .circleci/config.yml
  tasks/sep/ink-002-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

ink sepolia 002 executed (#694)
  .circleci/config.yml
  tasks/sep/ink-002-holocene-system-config-upgrade/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

remove unused job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

refactor simulate-nested command into a just-simulate-nested job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

remove workflow that was accidentally added back in
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

extract more task config
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/OPCMBaseTask.sol
  src/improvements/template/EmptyTemplate.template.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

copy holesky pectra defense to sepolia
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/README.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
  tasks/sep/032-op-pectra-defence/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: update compare games
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: add OP Sepolia runbook
  .circleci/config.yml
  tasks/sep/032-op-pectra-defence/.env
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/README.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
  tasks/sep/032-op-pectra-defence/input.json
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: convert to use SuperchainRegistry
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: clean up script and validations
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Fix to use newly deployed OPPU
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
  tasks/sep/032-op-pectra-defence/README.md
  tasks/sep/032-op-pectra-defence/input.json
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

README fixes
  tasks/sep/032-op-pectra-defence/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Add compare-games script/recipe
  justfile
  script/utils/compareGames.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

feat: proxyAdmin fix
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: add hashes to head of validations.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

fix addresses in validation.md
  justfile
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Add missing checks
  tasks/sep/032-op-pectra-defence/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Update .env nonces
  tasks/sep/032-op-pectra-defence/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: Update compare games output
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: use simulate_sequence
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: use sequenced nonces
  tasks/sep/032-op-pectra-defence/.env
  tasks/sep/032-op-pectra-defence/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

feat: move address selection block
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Add sepolia addresses to sim-sequence
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
