Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

fix signer safe detail
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

important callout
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

clarify approvehash slot calc
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add missing diffs
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add detail to name implementation contracts.
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Nonce fixes to unichain sep/012 runbook
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix VALIDATION and config for 012-opcm-update-prestate-v300-uni.
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Executed status
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

remove ci job
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

cleanup readme and ci config
  .circleci/config.yml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix VALIDATION and config for 012-opcm-update-prestate-v300-uni. (#899)
  .circleci/config.yml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/VALIDATION.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

FIX Zora 002 message hashes (#900)
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Add missing diffs (#897)
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: finished VALIDATION file.
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/images/opcm-storage-layout.png
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit remove console.log
  src/improvements/template/OPCMUpgradeV300.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: md nits.
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: U14 mainnet - op,ink,soneium
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/.env
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: ci added.
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Added in Base Upgrade
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: sepolia naming nit
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Revert "Added in Base Upgrade"
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/VALIDATION.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added in some UX improvements
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix OPCM address in validation
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix comment in circleci config
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: Executed statuses updated
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Address Feedback
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: base status
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Executed statuses updated (#902)
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

wrapped up readme and validation
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

template: UpdateSystemConfigGasParams
  src/improvements/template/UpdateSystemConfigGasParams.sol
  test/tasks/Regression.t.sol
  test/tasks/example/eth/006-update-system-config-gas-params/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Checks Applied to Task Names
  .circleci/config.yml
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

forge fmt
  src/improvements/template/UpdateSystemConfigGasParams.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Checks Applied to Task Names (#904)
  .circleci/config.yml
  src/improvements/script/check-task-names.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix regression test
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update validator
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add context link
  tasks/eth/swell-001-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: new std validator
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/README.md
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit styling
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
