Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

Add overrides to enable tenderly simulation of base and unichain
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Create config.toml
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/evm-safety

Add overrides to DGM removal task
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove mainnet task
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/.env
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/README.md
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/VALIDATION.md
  src/improvements/tasks/eth/014-set-game-implementation-arena-z-swell/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Remove template from this task
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update task number
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/.env
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/README.md
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/VALIDATION.md
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update VALIDATION.md
  src/improvements/tasks/eth/015-set-game-implementation-arena-z-swell/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Use simulate-stack command for simulation
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/018-U16-remove-dgm/README.md
  src/improvements/tasks/sep/019-U16-remove-dpm/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Add template to regression.t.sol
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/014-set-dispute-game-impl/.env
  test/tasks/example/sep/014-set-dispute-game-impl/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): Introduce safe array
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing tests from PR comments.
  src/improvements/tasks/MultisigTask.sol
  test/tasks/MultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not returning safes from simulate anymore
  0x13845e0312120d013b0606f01b0c367be83b4e5f382c494285ecaded1ca72c12.toml
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove file.
  0x13845e0312120d013b0606f01b0c367be83b4e5f382c494285ecaded1ca72c12.toml
Owners: @ethereum-optimism/evm-safety

Update formatting
  src/improvements/template/SetDisputeGameImpl.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: showing difference between child safes and all safes array (the array that includes the root safe).
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: not using optionalChildMultisig arg.
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: validate safes more robust
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: renaming
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more renaming
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: remove test files.
  0x9a6addb4499b3b7bfd804783983aafeb5bc1df3c4950fd293974bdbf2c9d3093.toml
  0xdc614210bdd1ee57d1ef5339c04b72f1fa015db28d3df3393458bff0035000c1.toml
Owners: @ethereum-optimism/evm-safety

refactor: rename parent multisig to root safe
  0x9a6addb4499b3b7bfd804783983aafeb5bc1df3c4950fd293974bdbf2c9d3093.toml
  0x9a7f8f28bf95b4c3f61f36406de57794ebbdc44b928c5e98183e72c482a021ef.toml
  0xdc614210bdd1ee57d1ef5339c04b72f1fa015db28d3df3393458bff0035000c1.toml
  NESTED-VALIDATION.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/UniFix.sol
  src/libraries/MultisigTaskPrinter.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update Regression.t.sol
  test/tasks/Regression.t.sol
Owners: @ethereum-optimism/evm-safety

Update SetDisputeGameImpl.sol
  src/improvements/template/SetDisputeGameImpl.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add new template for addGameType
  foundry.toml
  src/improvements/template/AddGameTypeTemplate.sol
  test/tasks/Regression.t.sol
  test/tasks/example/sep/012-add-game-type/.env
  test/tasks/example/sep/012-add-game-type/config.toml
  test/tasks/mock/configs/AddGameTypeTemplate.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

WC l1pao tfr executed
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

WC l1pao tfr executed (#1086)
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: worldchain nonce update and hash
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/README.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: worldchain nonce update and hash (#1087)
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/README.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/VALIDATION.md
  src/improvements/tasks/eth/014-worldchain-l1pao-transfers/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): Introduce safe array
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/example/sep/010-enable-deputy-pause-module/.env
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(MultisigTask): push white space breaking test
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
Owners: @ethereum-optimism/evm-safety

refactor(MultisigTask): all calldata calculated at once
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/libraries/GnosisSafeHashes.sol
  src/libraries/MultisigTypes.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor: rename parent multisig to root safe
  0x9a6addb4499b3b7bfd804783983aafeb5bc1df3c4950fd293974bdbf2c9d3093.toml
  0x9a7f8f28bf95b4c3f61f36406de57794ebbdc44b928c5e98183e72c482a021ef.toml
  0x9d97f27d2a77d70f12e38a60545f10d9472cdac52a3d8b0e8f68efbfdc7a8131.toml
  0xdc614210bdd1ee57d1ef5339c04b72f1fa015db28d3df3393458bff0035000c1.toml
  NESTED-VALIDATION.md
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/StateOverrideManager.sol
  src/improvements/tasks/TaskManager.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/OPCMTaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
  src/improvements/template/DisableModule.sol
  src/improvements/template/EnableDeputyPauseModuleTemplate.sol
  src/improvements/template/FinanceTemplate.sol
  src/improvements/template/UniFix.sol
  src/libraries/MultisigTaskPrinter.sol
  src/libraries/MultisigTypes.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/NestedMultisigTask.t.sol
  test/tasks/Regression.t.sol
  test/tasks/SingleMultisigTask.t.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/StateOverrideManager.t.sol
  test/tasks/TaskManager.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: remove test files.
  0x9a6addb4499b3b7bfd804783983aafeb5bc1df3c4950fd293974bdbf2c9d3093.toml
  0xdc614210bdd1ee57d1ef5339c04b72f1fa015db28d3df3393458bff0035000c1.toml
Owners: @ethereum-optimism/evm-safety

sepolia validations (#1075)
  src/improvements/tasks/sep/013-U16-enable-dpm/README.md
  src/improvements/tasks/sep/013-U16-enable-dpm/VALIDATION.md
  src/improvements/tasks/sep/014-U16-opcm-upgrade-v400-op-ink/README.md
  src/improvements/tasks/sep/016-U16-opcm-upgrade-v400-uni/config.toml
  src/improvements/tasks/sep/017-U16-opcm-upgrade-v400-base/config.toml
  src/improvements/tasks/sep/018-U16-remove-dgm/README.md
  src/improvements/tasks/sep/018-U16-remove-dgm/VALIDATION.md
  src/improvements/tasks/sep/018-U16-remove-dgm/config.toml
  src/improvements/tasks/sep/019-U16-remove-dpm/README.md
  src/improvements/tasks/sep/019-U16-remove-dpm/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

refactor(multisigtask): Introduce safe array (#1079)
  src/improvements/justfile
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/example/sep/010-enable-deputy-pause-module/.env
  test/tasks/example/sep/013-gnosis-safe-approve-hash/.env
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
