Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety

chore: comment
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: set to executed (#917)
  src/improvements/tasks/sep/008-unpause-superchainConfig/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: added tests for get shared slot
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: removed directory copying.
  .gitignore
  src/improvements/tasks/StackedSimulator.sol
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: cleanup.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/StateOverrideManager.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/mock/template/StackSimulationTestTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: rename task runner to task manager.
  script/utils/sim-sequence.sh
  src/improvements/script/fetch-tasks.sh
  src/improvements/script/simulate-task.sh
  src/improvements/tasks/StackedSimulator.sol
  src/improvements/tasks/TaskManager.sol
  test/tasks/StackedSimulator.t.sol
  test/tasks/TaskRunner.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: test
  test/tasks/StackedSimulator.t.sol
Owners: @ethereum-optimism/evm-safety

FIX: bug with stderr > stdout instead making silently fail single task (#916)
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update .env
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
Owners: @ethereum-optimism/evm-safety

Update config.yml
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

fix: Fetch latest storage layout from remote superchain-registry.
  src/improvements/script/fetch-latest-storage-layout.sh
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: mvp of normalized state diff
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add todos
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: mvp of normalized state diff (#919)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: rename struct for clarity
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

style: forge fmt
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

chore: rename struct for clarity (#920)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more specific approve hash detection
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: console.log removed.
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/evm-safety

fix: liveness last live detection
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: some additional comments.
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: more specific approve hash and liveness guard lastLive detection (#921)
  src/libraries/AccountAccessParser.sol
  test/libraries/AccountAccessParser.t.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Enable audit hashing and txverify
  src/improvements/tasks/MultisigTask.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: stack too deep error and gas metering
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: removed console.logs
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

noncey: Add noncey the nonce manager
  src/improvements/script/noncey.py
  src/improvements/script/noncey.sh
  src/improvements/tasks/sep/safes.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

add some sep nonce config
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
  src/improvements/tasks/sep/013-noncey-test/config.toml
  src/improvements/tasks/sep/014-noncey-test/config.toml
  src/improvements/tasks/sep/safes.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

use tomlkit instead
  src/improvements/script/noncey.py
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

run noncey sep
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
  src/improvements/tasks/sep/013-noncey-test/config.toml
  src/improvements/tasks/sep/014-noncey-test/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: using StdStyle from foundry.
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: forgot to add lib
  src/improvements/tasks/types/L2TaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: Enable audit hashing and txverify (#922)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/libraries/AccountAccessParser.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: Zora VALIDATION fix.
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: Zora VALIDATION fix. (#924)
  tasks/eth/zora-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

fix: Better UX for safe addresses
  src/improvements/addresses.toml
  src/improvements/script/get-safe.sh
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/002-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/003-opcm-upgrade-v300-op-ink-soneium/config.toml
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/README.md
  src/improvements/tasks/eth/004-opcm-upgrade-v300-base/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: circleci
  .circleci/config.yml
  src/improvements/addresses.toml
  src/improvements/script/get-safe.sh
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/README.md
  src/improvements/tasks/eth/006-gas-params-op/config.toml
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: shellcheck
  src/improvements/script/get-safe.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixed more tasks for simulation.
  src/improvements/script/get-safe.sh
  src/improvements/tasks/eth/000-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/001-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/001-opcm-upgrade-v200/config.toml
  src/improvements/tasks/eth/002-opcm-upgrade-v200/README.md
  src/improvements/tasks/eth/005-opcm-upgrade-v300-uni/config.toml
  src/improvements/tasks/sep/010-opcm-update-prestate-v300-op-ink/config.toml
  src/improvements/tasks/sep/011-opcm-update-prestate-v300-base/README.md
  src/improvements/tasks/sep/012-opcm-update-prestate-v300-uni/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: tests
  test/fixtures/SimpleAddressRegistry/valid_addresses.toml
  test/fixtures/SimpleAddressRegistry/valid_addresses_sepolia.toml
  test/tasks/example/eth/006-system-config-gas-params/config.toml
  test/tasks/example/sep/002-opcm-upgrade-v200/config.toml
  test/tasks/example/sep/006-opcm-upgrade-v300/config.toml
  test/tasks/example/sep/007-opcm-upgrade-prestate-v300/config.toml
  test/tasks/mock/configs/TestFinanceTemplate.toml
Owners: @ethereum-optimism/evm-safety

fix: sim seq
  script/utils/sim-sequence.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety
