Repository ethereum-optimism/superchain-ops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/evm-safety, @ethereum-optimism/devrel, @ethereum-optimism/contract-reviewers, @ethereum-optimism/coinbase

Update files
  tasks/sep/metal-002-fp-upgrade/.env
  tasks/sep/metal-002-fp-upgrade/NestedSignFromJson.s.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

docs: mise troubleshooting
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit fmt
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Arena-Z mainnet FP Holocene upgrade (#886)
  .circleci/config.yml
  tasks/eth/arena-z-001-fp-holocene-upgrade/.env
  tasks/eth/arena-z-001-fp-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/VALIDATION.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

fix: move to contributing md file
  CONTRIBUTING.md
  src/improvements/README.md
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: pinning mise version
  CONTRIBUTING.md
  src/improvements/script/install-mise.sh
Owners: @ethereum-optimism/evm-safety, @ethereum-optimism/contract-reviewers

fix: callout clearer
  CONTRIBUTING.md
Owners: @ethereum-optimism/evm-safety

fix: nit
  CONTRIBUTING.md
Owners: @ethereum-optimism/evm-safety

fix: more info in install mise script comment
  src/improvements/script/install-mise.sh
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: update quick start guide
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

fix: better quick start info
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: mise docs
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit fmt
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit
  src/improvements/README.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update template
  src/improvements/template/OPCMUpgradeV400.sol
  test/tasks/example/sep/008-opcm-upgrade-stage1/.env
  test/tasks/example/sep/008-opcm-upgrade-stage1/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Update README.md (#964)
  tasks/eth/arena-z-001-fp-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

add balance changes config
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/tasks/types/SimpleTaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fmt
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing tests and adding balance changes
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: comment update nit
  src/improvements/tasks/MultisigTask.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: fixing tests and refactoring (#966)
  src/improvements/tasks/MultisigTask.sol
  src/improvements/tasks/types/L2TaskBase.sol
  src/improvements/template/boilerplate/L2TaskBase.template.sol
  src/improvements/template/boilerplate/OPCMTaskBase.template.sol
  src/improvements/template/boilerplate/SimpleTaskBase.template.sol
  test/tasks/MultisigTask.t.sol
  test/tasks/mock/MockTarget.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

chore: fix the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

Update tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/README.md
Owners: @ethereum-optimism/evm-safety

chore: push the CI
  .circleci/config.yml
Owners: @ethereum-optimism/evm-safety

add state overrides
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

feat: unichain sepolia l1pao transfer to 2-of-2
  src/improvements/tasks/sep/013-unichain-l1-proxy-admin-owner-transfer/.env
  src/improvements/tasks/sep/013-unichain-l1-proxy-admin-owner-transfer/README.md
  src/improvements/tasks/sep/013-unichain-l1-proxy-admin-owner-transfer/VALIDATION.md
  src/improvements/tasks/sep/013-unichain-l1-proxy-admin-owner-transfer/config.toml
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: unichain mainnet l1pao transfer to 2-of-2
  src/improvements/tasks/eth/013-unichain-l1-proxy-admin-owner-transfer/.env
  src/improvements/tasks/eth/013-unichain-l1-proxy-admin-owner-transfer/README.md
  src/improvements/tasks/eth/013-unichain-l1-proxy-admin-owner-transfer/VALIDATION.md
  src/improvements/tasks/eth/013-unichain-l1-proxy-admin-owner-transfer/config.toml
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

feat: add address aliasing checks to TransferOwnership template
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

fix: nit on comments
  src/improvements/template/TransferOwnerTemplate.sol
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety

Swell Mainnet MIPS Holocene Upgrade (#901)
  .circleci/config.yml
  tasks/eth/swell-001-holocene-upgrade/.env
  tasks/eth/swell-001-holocene-upgrade/NestedSignFromJson.s.sol
  tasks/eth/swell-001-holocene-upgrade/README.md
  tasks/eth/swell-001-holocene-upgrade/VALIDATION.md
  tasks/eth/swell-001-holocene-upgrade/input.json
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/sep/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update VALIDATION.md
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update validation.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/evm-safety

Update validation.md
  tasks/eth/metal-002-fp-upgrade/VALIDATION.md
  tasks/eth/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/evm-safety

Update VALIDATION.md
  tasks/eth/mode-002-fp-upgrade/VALIDATION.md
Owners: @ethereum-optimism/evm-safety

Update validation.md
  tasks/sep/mode-002-fp-upgrade/VALIDATION.md
  tasks/sep/mode-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

Update validation.md
  tasks/sep/metal-002-fp-upgrade/VALIDATION.md
  tasks/sep/metal-002-fp-upgrade/validation.txt
Owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/evm-safety, @ethereum-optimism/coinbase, @ethereum-optimism/devrel

.github/CODEOWNERS:

*                   @ethereum-optimism/evm-safety

/runbooks @ethereum-optimism/devrel @ethereum-optimism/evm-safety

/tasks/eth          @ethereum-optimism/evm-safety
/tasks/oeth         @ethereum-optimism/evm-safety

/tasks/sep*    @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety @ethereum-optimism/coinbase @ethereum-optimism/devrel

/script             @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
/src                @ethereum-optimism/contract-reviewers @ethereum-optimism/evm-safety
